---json
{
  "permalink": "status.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "HK★TMK | Statuses",
    "description": "Statuses from HikaTamika.com",
    "language": "en",
    "base": "https://example.com/status",
    "author": {
      "name": "HK★TMK"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.statuses | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base}}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.statuses | reverse %}
  <entry>
    <title>{{- post.data.title -}}</title>
    <link href="{{ metadata.base }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ metadata.base }}</id>
    <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.base) }}</content>
  </entry>
  {%- endfor %}
</feed>