---
date: 2012-06-12
title: "2012.06 Hikaru"
galleryCategs:
  year: "old"
  subject: "utauOC"
  medium: "digitalArt"
galleryTags: ["OC", "UTAU", "Gaikokune Hikaru","digital art"]
gallThumbImg: "/src/img/art-gallery/2012-hikaru-act-3.webp"
gallThumbAlt: "A girl with long black hair and fingerless gloves, an off shoulder tee. A black camisole, shorts, a belt, and knee-high boots and socks waves to the viewer. She’s wearing a lot of purple."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2012-hikaru-act-3.webp"
    imgZoom: "/src/img/art-gallery/2012-hikaru-act-3.webp"
    imgWidth: "315"
    imgHeight: "816"
    imgAlt: "A girl with long black hair and fingerless gloves, an off shoulder tee. A black camisole, shorts, a belt, and knee-high boots and socks waves to the viewer. She’s wearing a lot of purple."
---
<p>It’s been almost 2 years since I’ve made anything for her.<br>
Expect stuff soon I guess? = x=;;</p>

<p>Hikaru’s mine,<br>
UTAU’s AmeyaP’s,<br>
and I’m tired.</p>