---
date: 2012-06-27
title: "2012.06 Hikaru – Dokubou Stellar Theater"
galleryCategs: 
  year: "old"
  subject: "utauOC"
  medium: "digitalArt"
galleryTags: ["OC", "UTAU", "Gaikokune Hikaru","digital art"]
gallThumbImg: "/src/img/art-gallery/2012-hikaru-dst-th.webp"
gallThumbFocus: "14% 5%"
gallThumbAlt: "A girl with long back hair sings among the clouds, in space, lit by the moon, and decorated with floral graphics and feathers."
gallerySlides:
  - slide: 
    imgThumb: "/src/img/art-gallery/2012-hikaru-dst-th.webp"
    imgZoom: "/src/img/art-gallery/2012-hikaru-dst.webp"
    imgWidth: "1280"
    imgHeight: "720"
    imgAlt: "A girl with long back hair sings among the clouds, in space, lit by the moon, and decorated with floral graphics and feathers."
galleryWebLinks:
  - site: youtube
    url: https://www.youtube.com/watch?v=B199KYqGZ1U
---
<p>I tried to be all chibi-lineless about this, but that didn’t work out at all.</p>
<p>Almost forgot! Thanks to NASA and SummerAIR for the stock.</p>