---
date: 2013-03-25
title: "2013.03 Haruka Nana"
galleryCategs: 
  year: "old"
  subject: "fanart"
  medium: "analogArt"
galleryTags: ["fanart","UTAU","Haruka Nana","analog art"]
galleryScraps: true
galleryThumb:
gallThumbImg: "/src/img/art-gallery/2013-haruka-nana-th.webp"
gallThumbAlt: "An amateurish sketchbook marker drawing of the UTAUloid, Haruka Nana."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2013-haruka-nana-th.webp"
    imgZoom: "/src/img/art-gallery/2013-haruka-nana.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "An amateurish sketchbook marker drawing of the UTAUloid, Haruka Nana."
---
