---
date: 2016-06-02
title: "2016.06 Aloha, Alola"
galleryCategs: 
  year: "old"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart","pokemon","digital art"]
gallThumbImg: "/src/img/art-gallery/2016-aloha-alola.webp"
gallThumbAlt: "The girl Pokemon Sun &amp; Moon protagonist smiles to a Litten hanging from her shoulder."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2016-aloha-alola-th.webp"
    imgZoom: "/src/img/art-gallery/2016-aloha-alola.webp"
    imgWidth: "989"
    imgHeight: "1280"
    imgAlt: "The girl Pokemon Sun &amp; Moon protagonist smiles to a Litten hanging from her shoulder."
galleryWebLinks:
  - site: instagram
    url: https://www.instagram.com/p/BGK9Ht8tiwP/
  - site: pixiv
    url: https://www.pixiv.net/en/artworks/57199482
---
<p>Sun and moon hyyyyyype!<br>#TeamMoon and #TeamLitten tbh.</p>
<p>Did you enjoy today’s news?</p>
<p>Unfortunately, I linearted this before we got high-res pics of the trainers!</p>