---
date: 2016-06-05
title: "2016.06 Oekaki Teto"
galleryCategs: 
  year: "old"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart","UTAU","Kasane Teto","digital art"]
gallThumbImg: "/src/img/art-gallery/2016-oekaki-teto-th.webp"
gallThumbFocus: "55% 40%"
gallThumbAlt: "The UTAU character Kasane Teto drawn in an Oekaki Board."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2016-oekaki-teto-th.webp"
    imgZoom: "/src/img/art-gallery/2016-oekaki-teto.webp"
    imgWidth: "600"
    imgHeight: "800"
    imgAlt: "The UTAU character Kasane Teto drawn in an Oekaki Board."
---
<p>Thought I’d do more painterly practice. (I did one of Chat Noir in Clip Studio Paint on my tumblr…)</p>
<p>It was fun! Painterly style is still hard for me to grasp as a cell-shader for YEEEARS but I enjoy it and it actually feels a lot faster for me, haha.</p>
<p>The April Fool’s Diva, Kasane Teto</p>