---
date: 2017-01-12
title: "2017.01 Stranger Things Bike Ride"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart", "stranger things","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-st-bike-ride-th.webp"
gallThumbAlt: "Mike & Eleven from Stranger Things ride Mike’s bike while dandelions blow past. There’s a d-20 as a backdrop element."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-st-bike-ride-th.webp"
    imgZoom: "/src/img/art-gallery/2017-st-bike-ride.webp"
    imgWidth: "1650"
    imgHeight: "1275"
    imgAlt: "Mike & Eleven from Stranger Things ride Mike’s bike while dandelions blow past. There’s a d-20 as a backdrop element."
galleryWebLinks:
  - site: instagram
    url: https://www.instagram.com/p/BPLBOkDgRbI/
  - site: reddit
    url: https://www.reddit.com/r/StrangerThings/comments/5nlprk/eleven_mike/
---
<p>Off to pick up Will for a game of DnD. Joyce and Jonathan are busy, and don’t want him going alone.</p>
<p>A bit of a “cooldown” piece for a bigger Mileven thing I can’t share until an art contest is over.</p>