---
date: 2017-02-26
title: "2017.02 Marinette"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart", "miraculius ladybug","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-marinette-th.webp"
gallThumbAlt: "Marinette from Miraculous Ladybug wears a Chat-Noir inspired tanktop and cat-ear headband with a Ladybug inspired tube-top and thigh-highs. She has plain denim shorts."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-marinette-th.webp"
    imgZoom: "/src/img/art-gallery/2017-marinette.webp"
    imgWidth: "1484"
    imgHeight: "1920"
    imgAlt: "Marinette from Miraculous Ladybug wears a Chat-Noir inspired tanktop and cat-ear headband with a Ladybug inspired tube-top and thigh-highs. She has plain denim shorts."
---
<p>My girl Mari out here reppin’ her faves. You can be your own fave, right?</p>
<p>My new laptop is a godsend. It runs and renders things faster, and records and streams way better. The screen is very vibrant too. Gonna try to stay active as I try to balance the amount of effort I put into one thing, and putting out things regularly.</p>