---
date: 2017-09-23
title: "2017.09 Amy Rose"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart", "sega sonic", "amy rose","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-amy-rose-th.webp"
gallThumbAlt: "A humanoid version of Amy Rose from the Sonic series wields her hammer."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-amy-rose-th.webp"
    imgZoom: "/src/img/art-gallery/2017-amy-rose.webp"
    imgWidth: "989"
    imgHeight: "1280"
    imgAlt: "A humanoid version of Amy Rose from the Sonic series wields her hammer."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BZZ0lprAXxb/"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/65126298"
---
<p>Have no fear! Amy Rose is here~ A quick, humanized #AmyRose for #CutieSaturday.</p>