---
date: 2017-01-18
title: "2017.01 Prom11se?"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart", "stranger things","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-prom11se-rsu-th.webp"
gallThumbAlt: "Part of a diptych, Mike & Eleven from Stranger Things float by the roof with Eleven’s telekinesis, surrounded by key items from the show."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-prom11se-rsu-th.webp"
    imgZoom: "/src/img/art-gallery/2017-prom11se-rsu.webp"
    imgWidth: "1275"
    imgHeight: "1650"
    imgAlt: "Part of a diptych, Mike & Eleven from Stranger Things float by the roof with Eleven’s telekinesis, surrounded by key items from the show."
  - slide:
    imgThumb: "/src/img/art-gallery/2017-prom11se-usd-th.webp"
    imgZoom: "/src/img/art-gallery/2017-prom11se-usd.webp"
    imgWidth: "1275"
    imgHeight: "1650"
    imgAlt: "Part of a diptych, Mike & Eleven from Stranger Things are separated between dimensions… Eleven reaches out to a crying Mike."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/reel/BPamslAgv63/"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700774640034922496/20170117-mileven20221112-an-oldie-but-a"
---
<p>It’s an understatement when I say I hope they’ll see each other again soon. This show made my 2016.</p>
<p>Blood, sweat and tears went into this piece for the Stranger Things Subreddit Art Contest. Worked on it throughout final exams and winter break. Exported and re-exported like, a billion times, through Clip Studio Paint, Adobe After Effects, and Photoshop.</p>