---
date: 2017-11-10
title: "2017.11 Lux Pink"
galleryCategs: 
  year: "2017"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: ["OC", "LXNX", "Lux Pink", "Digital Art"]
gallThumbImg: "/src/img/art-gallery/2017-lux-pink-th.webp"
gallThumbFocus: "48% 14%"
gallThumbAlt: "An older, colored sketch of Lux Pink’s design. She determinedly points skyward."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-lux-pink-th.webp"
    imgZoom: "/src/img/art-gallery/2017-lux-pink.webp"
    imgWidth: "1275"
    imgHeight: "1650"
    imgAlt: "An older, colored sketch of Lux Pink’s design. She determinedly points skyward."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BbV030lhsF3/"
---
<p>Hero.<br>#digitalart #originalcharacter #magicalgirl #mahoushoujo</p>