---
date: 2017-03-29
title: "2017.03 Lux Pink Wand"
galleryCategs: 
  year: "2017"
  subject: "lxnx"
  medium: "3dArt"
galleryTags: ["3d art","OC","LXNX"]
gallThumbImg: "/src/img/art-gallery/2017-lux-pink-wand-th.webp"
gallThumbFocus: "50% 14%"
gallThumbAlt: "An old and amateurish render of a previous design of Lux Pink’s magical girl wand, on a reflective pink platform in front of a magical girl background."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-lux-pink-wand-th.webp"
    imgZoom: "/src/img/art-gallery/2017-lux-pink-wand.webp"
    imgWidth: "1080"
    imgHeight: "1920"
    imgAlt: "An old and amateurish render of a previous design of Lux Pink’s magical girl wand, on a reflective pink platform in front of a magical girl background."
---
<p>I sketched a weapon for one of my original characters, and I didn’t really understand how it was supposed to work from the side! So I taught myself simple Blender in like, 2-3 nights to figure it out!</p>
<p>It ended up being pretty close to what I expected, but the real treasure was the software I learned along the way…<br>…or something.&nbsp;&nbsp;</p>