---
date: 2017-09-08
title: "2017.09 Isa"
galleryCategs: 
  year: "2017"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: ["OC", "LXNX","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-isa.webp"
gallThumbAlt: "Full-body art of Isa. A young Victorian girl with two braids."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-isa.webp"
    imgZoom: "/src/img/art-gallery/2017-isa.webp"
    imgWidth: "337"
    imgHeight: "819"
    imgAlt: "Full-body art of Isa"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BYipIFhHPxu/"
---
