---
date: 2017-10-02
title: "2017.10 Ochaco"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "analogArt"
galleryTags: ["fanart", "my hero academia", "analog art", "ink and tone"]
gallThumbImg: "/src/img/art-gallery/2017-ochaco-th.webp"
gallThumbFocus: "50% 10%"
gallThumbAlt: "Ochako from My Hero Academia in a sketchbook manga style."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-ochaco-th.webp"
    imgZoom: "/src/img/art-gallery/2017-ochaco.webp"
    imgWidth: "706"
    imgHeight: "1060"
    imgAlt: "Ochako from My Hero Academia in a sketchbook manga style."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BZyjyKEHvst/"
---
<p>Ochaco Uraraka from #BNHA! Inked on paper, toned on the computer.<br>Ah microns… More of a safety-zone for me than dip pens, but analog/trad inking still makes me feel very unsafe. I also gotta learn how to adjust tonal curves better in Photoshop.</p>