---
date: 2017-08-12
title: "2017.08 Harley Quinn"
galleryCategs: 
  year: "2017"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart","dc comics", "harley quinn","digital art"]
gallThumbImg: "/src/img/art-gallery/2017-harley-quinn-th.webp"
gallThumbAlt: "One of Harley Qunn’s designs, the one with pigtails, a zip-up corset top, denim shorts, and thigh-highs playfully pops her foot while holding her hammer."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2017-harley-quinn-th.webp"
    imgZoom: "/src/img/art-gallery/2017-harley-quinn.webp"
    imgWidth: "966"
    imgHeight: "1450"
    imgAlt: "One of Harley Qunn’s designs, the one with pigtails, a zip-up corset top, denim shorts, and thigh-highs playfully pops her foot while holding her hammer."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BXtzh03grxH/"
---
<p>Inked and colored a sketch from last month!</p>
<p>I love DC comics and cartoons, and Harley is one of my fave characters. This is a hodgepodge of ways she’s looked in the comics with a bit of DC Superhero Girls flair.</p>