---
date: 2018-12-21
title: "2018.12 Nox Viol"
galleryCategs: 
  year: "2018"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2018-nox-viol-th.webp"
gallThumbAlt: "A rough character design sketch of a ballerina-detective themed magical girl, with purple theming and glow in the dark elements."
gallThumbFocus: "58% 0%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-nox-viol-th.webp"
    imgZoom: "/src/img/art-gallery/2018-nox-viol.webp"
    imgWidth: "1280"
    imgHeight: "960"
    imgAlt: "A rough character design sketch of a ballerina-detective themed magical girl, with purple theming and glow in the dark elements."
---
