---
date: 2018-01-12
title: "2018.01 LUX:blck Character Sheet"
galleryCategs: 
  year: "2018"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-luxpink-sheet-th.webp"
gallThumbAlt: "Turnaround character sheet for Lux Pink."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-luxpink-sheet-th.webp"
    imgZoom: "/src/img/art-gallery/2018-luxpink-sheet.webp"
    imgWidth: "1280"
    imgHeight: "835"
    imgAlt: "Turnaround character sheet for Lux Pink."
---
<p>Finally brought the first drawing of the year to fruition. Now I can do something else.<br>It’s been a long time coming with this one. Made her up in 2015, drew her a handful of more times, wrote and worldbuilded a whole lot, but it’s the first time I’m sharing her like this. I’ve drawn her a lot better than I did then, and I hope to improve to a point where I feel good putting out comic pages. o(-(</p>
<p>Magical Girl working under the Goddess of Light; College Freshman. Aligned with the element of air, she has access&nbsp;to wind manipulation and potentially flight. Takes her CPR &amp; First Aid knowledge (from a community college course she took as a high school senior) into battle to help civilians. Using light magic, she purifies Distortions that arise in the city of Santa Aurora.</p>