---
date: 2018-01-12
title: "2018.01 NOX:blck Character Sheet"
galleryCategs: 
  year: "2018"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-noxblck-sheet-th.webp"
gallThumbAlt: "Character turnaround for Nox Black."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-noxblck-sheet-th.webp"
    imgZoom: "/src/img/art-gallery/2018-noxblck-sheet.webp"
    imgWidth: "1280"
    imgHeight: "828"
    imgAlt: "Character turnaround for Nox Black."
---
<p>Aaaaand the other one! These took me a long time.<br>God, I want her clothes, lol.<br>Also born from my brain in 2015. She’s not “the” main character, but as <em>a</em> main character… she might be my favorite.</p>
<p>Magical Girl working under the Goddess of Darkness; College Freshman. Aligned with the element of air, she has access to thunder/vibrations and lightning/electricity. Really knows how to kick ass and hold her own, which helps with weakening Distortions. Add that with her manipulation of sound and electricity, and you’re in for a <em>shock</em>. Using dark magic, she nullifies Distortions that arise in the city of Santa Aurora.</p>