---
date: 2018-03-17
title: "2018.03 Felicia"
galleryCategs: 
  year: "2018"
  subject: "fanart"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2018-felicia-th.webp"
gallThumbAlt: "An ink drawing of Felicia from the Fire Emblem series."
gallThumbFocus: "23% 7%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-felicia-th.webp"
    imgZoom: "/src/img/art-gallery/2018-felicia.webp"
    imgWidth: "681"
    imgHeight: "851"
    imgAlt: "An ink drawing of Felicia from the Fire Emblem series."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BgcQinEHi_w/"
---
<p>Just wanted to draw something today, and get more comfy with ink. Felicia from FireEmblemFates, but I just play FireEmblemHeroes. Who is your favorite FireEmblem character?</p>