---
date: 2018-04-15
title: "2018.04 02 – Oni"
galleryCategs: 
  year: "2018"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-02-oni-th.webp"
gallThumbAlt: "A red, monochrome, drawing of 02 from Darling in the Franxx, bearing her fangs with claws and elongated horns."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-02-oni-th.webp"
    imgZoom: "/src/img/art-gallery/2018-02-oni.webp"
    imgWidth: "987"
    imgHeight: "1280"
    imgAlt: "A red, monochrome, drawing of 02 from Darling in the Franxx, bearing her fangs with claws and elongated horns."
galleryWebLinks:
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/68257475"
---
<p>Fanart of Zero-Two from Darling in the Franxx. A friend of mine encouraged me to watch it, and I’m really liking it so far! It took me a while though. It’s like, Evangelion meets Brave New World, but things really kick off with episode 13. Poor Zero-Two… she’s had a weird upbringing (more-so than standard in this anime) and, as a result, has a lot of social problems, but deep down she wants to be loved like anyone else. :0c</p>
<p>Wanted to try more monochrome stuff! I’ve found since last time, that a big key is having less tones overall.</p>