---
date: 2018-04-28
title: "2018.04 Miraculous Ladybug"
galleryCategs: 
  year: "2018"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-miraculous-ladybug-th.webp"
gallThumbAlt: "Manga styled digital ink drawings of Ladybug and Chat Noir."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-miraculous-ladybug-th.webp"
    imgZoom: "/src/img/art-gallery/2018-miraculous-ladybug.webp"
    imgWidth: "1280"
    imgHeight: "989"
    imgAlt: "Manga styled digital ink drawings of Ladybug and Chat Noir."
---

<p>Ladybug and Chat Noir! Monochrome comic style.</p>
<p>
  I wanted to do a little experiment with digital vs analog inking! The analog versions can be found on my Instagram.
</p>
<p>
  Just a stress-relief doodle, tbh!
  <br>
  Next time I’d like to improve on hair <em>and the darned stabilizer</em>, because it is either too fast, or too slow, for hatching. Gotta find the sweet spot.
</p>
