---
date: 2018-02-09
title: "2018.02 Black Punch"
galleryCategs: 
  year: "2018"
  subject: "lxnx"
  medium: "analogArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-black-punch-th.webp"
gallThumbAlt: "A black-colored, punk/fighter magical girl throws a punch towards the camera."
gallThumbFocus: "50% 10%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-black-punch-th.webp"
    imgZoom: "/src/img/art-gallery/2018-black-punch.webp"
    imgWidth: "575"
    imgHeight: "861"
    imgAlt: "A black-colored, punk/fighter magical girl throws a punch towards the camera."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BfAE_8UhGgl/"
---
<p>Sloppy experimental/stress relief thing with dippen and watercolor. I might do this more; scanning doodles to do more with. In this case, I enlarged, cleaned, inked and colored it.</p>