---
date: 2018-03-04
title: "2018.03 Strawberry Black Tea"
galleryCategs: 
  year: "2018"
  subject: "somnius"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-strawberry-black-tea-th.webp"
gallThumbAlt: "A Strawberry Iced Black Tea personified into a punky girl with half of her hair done up in two pigtails."
gallThumbFocus: "37% 6%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-strawberry-black-tea-th.webp"
    imgZoom: "/src/img/art-gallery/2018-strawberry-black-tea.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "A Strawberry Iced Black Tea personified into a punky girl with half of her hair done up in two pigtails."
---

<p>My friend’s-friend was doing a #DrawYourDrink thing, and I thought I could try! I’m quite late.</p>
<p>
  I wanted to go for the vibe of, someone who looks a Hot Topic worker, but is actually a Sanrio worker, lol. She looks more like her tea leaves and bits of fruit, but is actually quite sweet. 💕
</p>
<p>
  I wanna practice cel-shading more. I feel like I take too long to finish anything: but if I can flat shade in a way that’s visually appealing, I’ll be able to upload art on a more consistent basis, I think. Additionally: I need to improve my coloring (color choices).
</p>
<p>Mhmm! Anyways, I quite love this design. I might make this a character in one of my other stories.</p>
