---
date: 2018-08-10
title: "2018.08 Chibi Moon"
galleryCategs: 
  year: "2018"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2018-chibi-moon-th.webp"
gallThumbAlt: "A digital drawing of Sailor Chibi Moon skipping excitedly."
gallThumbFocus: "43% 5%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2018-chibi-moon-th.webp"
    imgZoom: "/src/img/art-gallery/2018-chibi-moon.webp"
    imgWidth: "989"
    imgHeight: "1280"
    imgAlt: "A digital drawing of Sailor Chibi Moon skipping excitedly."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BmUAaBulIK-/"
---
<p>I gotta relearn coloring, and drawing on an iPad… but this was a fun doodle I did over a couple of commutes!</p>