---
date: 2019-06-14
title: "2019.06 Viri Character Sheet"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-luxvrdn-character-sheet-th.webp"
gallThumbAlt: "Character sheet of Lux Viridian"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-luxvrdn-character-sheet-th.webp"
    imgZoom: "/src/img/art-gallery/2019-luxvrdn-character-sheet.webp"
    imgWidth: "1280"
    imgHeight: "828"
    imgAlt: "Character sheet of Lux Viridian"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BytTffxlQ5V/"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/77400087"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700768530329681920/20190614-luxvrdn"
---
<p>I finally finished this ref for Viridian! They shoot water that they can spawn plants from! They’re cocky and reckless, but they’re a good person.&nbsp;</p>
<p>They’ve existed since I started of the story (in writing), but I did my first drawing of them last year, and then it evolved and evolved until I reached this final version in the spring. They used to be MUCH much different; in design, character, and power.</p>