---
date: 2019-03-09
title: "2019.03 Yoongi"
galleryCategs: 
  year: "2019"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-yoongi-th.webp"
gallThumbAlt: "A manga-style drawing of Yoongi from BTS in his Mic Drop outfit"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-yoongi-th.webp"
    imgZoom: "/src/img/art-gallery/2019-yoongi.webp"
    imgWidth: "1056"
    imgHeight: "816"
    imgAlt: "A manga-style drawing of Yoongi from BTS in his Mic Drop outfit"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BuwPs5yjrS8/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103278913066976383"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700765673924820992/20190309-yoongi"
---
<p>🌹 Min Yoongi || SUGA || Agust D 🌹<br>A rose by any other name…</p>
<p>Happy Birthday Yoongi!! 🎤</p>