---
date: 2019-12-18
title: "2019.10 Tahl"
galleryCategs: 
  year: "2019"
  subject: "somnius"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-tahl-th.webp"
gallThumbAlt: "An OC with long blue hair and horns looks to the viewer."
gallThumbFocus: "50% 55%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-tahl-th.webp"
    imgZoom: "/src/img/art-gallery/2019-tahl.webp"
    imgWidth: "745"
    imgHeight: "857"
    imgAlt: "An OC with long blue hair and horns looks to the viewer."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B6OgTmNlLoP/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103330593949218849"
---
<p>Recent-ish OC—<br>NB Dream-Eater Demon Prince! Their name is Tahl!<br>They’re really good at sliding both into your DMs, and your subconscious.</p>