---
date: 2019-04-06
title: "2019.04 Pink Cover"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-pink-cover-th.webp"
gallThumbAlt: "Mockup tankobon cover featuring Lux Pink"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-pink-cover-th.webp"
    imgZoom: "/src/img/art-gallery/2019-pink-cover.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Mockup tankobon cover featuring Lux Pink"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/Bv68z1IAo7m/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103272972440752008"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/77400144"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769523403456512/20181026-luxpink"
---
<p>I had this one, hanging, for, a, while. As of 20190406 I&nbsp;<em>just</em>&nbsp;finished it!! A lot of it was having an issue with painting and blending. I tried really really hard to make it work, but it’s not really intuitive for me. I like the look of cels and gradients anyway, so it might be what I go with from now on. That being said, there’s more I could do to make this method more effective. So I’ll be practicing it from here on out.</p>