---
date: 2019-06-07
title: "2019.06 Toon Soph"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-toon-soph-th.webp"
gallThumbAlt: "Stylized art of Sophie. A girl with dark hair, and a blue pastel goth lolita outfit."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-toon-soph-th.webp"
    imgZoom: "/src/img/art-gallery/2019-toon-soph.webp"
    imgWidth: "432"
    imgHeight: "755"
    imgAlt: "Stylized art of Sophie. A girl with dark hair, and a blue pastel goth lolita outfit."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/Byb0xheFMQ5/"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769578845863936/20190607-sophie"
---
<p>Hello, Sophie! The creepy-cute medium. She likes the occult and all things supernatural; real, or fictional.<br>I like this not-so-chibi-not-so-figure style. I wanna call it… ‘toon’ or something idk. Toon Sophie.<br>ANYWAY I want to use toons, and regular headshots for ArtFight. Oh yeah! I’m doing ArtFight!</p>