---
date: 2019-06-23
title: "2019.06 Indg Character Sheet"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-noxindg-character-sheet-th.webp"
gallThumbAlt: "Character sheet of Nox Indigo"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-noxindg-character-sheet-th.webp"
    imgZoom: "/src/img/art-gallery/2019-noxindg-character-sheet.webp"
    imgWidth: "1280"
    imgHeight: "828"
    imgAlt: "Character sheet of Nox Indigo"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BzEaJv-Flct/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103330623323604249"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/77400087"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700768496248864768/20190622-noxindg"
---
<p>NOX: indg, the Aquatic Archer! I came up with their design very early this year, but, I went into a writing frenzy, and all of a sudden, they started to play a major role in the story!</p>
<p>Their design was initially based on a coat my friend was wearing, and what I thought their powers would be if they were a character in my story, but they spun and diverged into their own character quickly when I picked the idea back up.</p>