---
date: 2019-10-12
title: "2019.10 Inktober Indigo"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2019-inktober-indg-th.webp"
gallThumbAlt: "An analog ink drawing of Nox Indigo giving double peace signs."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-inktober-indg-th.webp"
    imgZoom: "/src/img/art-gallery/2019-inktober-indg.webp"
    imgWidth: "528"
    imgHeight: "720"
    imgAlt: "An analog ink drawing of Nox Indigo giving double peace signs."
---
