---
date: 2019-02-16
title: "2019.02 JHope"
galleryCategs: 
  year: "2019"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-jhope-th.webp"
gallThumbAlt: "A drawing of J-Hope from BTS in his DNA music video outfit (jersey & hoodie) making a finger-heart that is one leaf of a 4-leaf clover. Items inspired by his Hope World mixtape cover surround him."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-jhope-th.webp"
    imgZoom: "/src/img/art-gallery/2019-jhope.webp"
    imgWidth: "1208"
    imgHeight: "933"
    imgAlt: "A drawing of J-Hope from BTS in his DNA music video outfit (jersey & hoodie) making a finger-heart that is one leaf of a 4-leaf clover. Items inspired by his Hope World mixtape cover surround him."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/Bt_c3dPgsjz/"
---
<p>Happy Birthday to the Dance Machine, Funky Rapper, Sunshine Source, Piece of Peace, J-Hope!!<br>This good boy makes me and a lot of people very happy, so please love him. Good good boy.</p>