---
date: 2019-10-15
title: "2019.10 Amity Sketch"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2019-amity-sketch-th.webp"
gallThumbAlt: "Inked sketch of Amity Williams making a pleased expression with her hands clasped, and another one of her pointing up at nothing while getting an idea."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-amity-sketch-th.webp"
    imgZoom: "/src/img/art-gallery/2019-amity-sketch.webp"
    imgWidth: "1280"
    imgHeight: "1280"
    imgAlt: "Inked sketch of Amity Williams making a pleased expression with her hands clasped, and another one of her pointing up at nothing while getting an idea."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B3qLjc1F-4n/"
---
<p>An&nbsp;#Inktober&nbsp;Etcetera, as I’ve started to call them. I’m getting comfy at drawing without transform tool— kinda.</p>