---
date: 2019-04-07
title: "2019.04 Viri Fullbody"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-viri-fullbody-th.webp"
gallThumbAlt: "Full-body doodle of Viri walking away from the viewer and tapping their foot into the ground."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-viri-fullbody-th.webp"
    imgZoom: "/src/img/art-gallery/2019-viri-fullbody.webp"
    imgWidth: "528"
    imgHeight: "816"
    imgAlt: "Full-body doodle of Viri walking away from the viewer and tapping their foot into the ground."
galleryWebLinks:
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700781449601761280/20190407-luxvrdn"
---
<p>This was a teeny-tiny exploration of cel-shading to test the waters. I want to do larger stuff with additional, more detailed cels, lol.</p>