---
date: 2019-12-16
title: "2019.12 Drawpile Hika"
galleryCategs: 
  year: "2019"
  subject: "hikaSona"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-drawpile-hika-th.webp"
gallThumbAlt: "A oekaki drawing of my sona in jeans, doc martens, a big, purple finger-hole hoodie, and a padded, fur-lined-hood coat."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-drawpile-hika-th.webp"
    imgZoom: "/src/img/art-gallery/2019-drawpile-hika.webp"
    imgWidth: "1336"
    imgHeight: "1270"
    imgAlt: "A oekaki drawing of my sona in jeans, doc martens, a big, purple finger-hole hoodie, and a padded, fur-lined-hood coat."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B6JPbpclmIg/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103319326251602271"
---
<p>A scribble of myself(?) I did on Drawpile! I wear this look every winter. Thumbholes and all.</p>