---
date: 2019-03-30
title: "2019.03 Am"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-am-th.webp"
gallThumbAlt: "Pastel bust doodle of Amity"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-am-th.webp"
    imgZoom: "/src/img/art-gallery/2019-am.webp"
    imgWidth: "608"
    imgHeight: "608"
    imgAlt: "Pastel bust doodle of Amity"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/BvpeSflgPzK/"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700775068863741952/20190330-amity"
---
<p>Amity in digital fineliners!! I’m slowly becoming able to draw in my fave medium… Nice lines, and B/W+T, tbh. Gonna try to not forget colors!!<br>I’ve been writing a lot after some art burnout, but I want to introduce you to other characters soon!</p>