---
date: 2019-04-19
title: "2019.04 Viri (Bust)"
galleryCategs: 
  year: "2019"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2019-viri-bust-th.webp"
gallThumbAlt: "Green manga-toned art of Viri, frowning"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2019-viri-bust-th.webp"
    imgZoom: "/src/img/art-gallery/2019-viri-bust.webp"
    imgWidth: "909"
    imgHeight: "909"
    imgAlt: "Green manga-toned art of Viri, frowning"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/Bwh4HTqgz8B/"
---
<p>Another Viri!&nbsp;</p>
<p>This time I wanted to practice monochrome cel-shading… like for a B/W comic/manga I guess!! Tossing a color blend layer on top is a fast way to make fun, little pieces, I guess!</p>