---
date: 2020-05-03
title: "2020.05 Lia Character Sheet"
galleryCategs: 
  year: "2020"
  subject: "rosamari"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-lia-character-sheet-th.webp"
gallThumbAlt: "Character sheet of Lia, with reference of her without her skirt. She has puffy sleeves and a medieval commoner look."
gallThumbFocus: "6% 15%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-lia-character-sheet-th.webp"
    imgZoom: "/src/img/art-gallery/2020-lia-character-sheet.webp"
    imgWidth: "1632"
    imgHeight: "1056"
    imgAlt: "Character sheet of Lia, with reference of her without her skirt. She has puffy sleeves and a medieval commoner look."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B_25Z0_hjQR/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/104123102548055812"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769498794442752/20200503-lia"
---
<p>There’s this new girl in town… Never heard of her… She seems to go by “Lia”… (It’s Tsura!!)</p>
<p>Ref sheets are kinda hard for me to make myself do, but they’re good for communication.</p>