---
date: 2020-02-28
title: "2020.02 AC Somnius"
galleryCategs: 
  year: "2020"
  subject: "somnius"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-ac-somnius-th.webp"
gallThumbAlt: "Tahl and Zaara in Animal Crossing style"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-ac-somnius-th.webp"
    imgZoom: "/src/img/art-gallery/2020-ac-somnius.webp"
    imgWidth: "1200"
    imgHeight: "790"
    imgAlt: "Tahl and Zaara in Animal Crossing style"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B9MtDk0nBQ4/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103748835889265894"
---
<p>Drew my demon OCs in Animal Crossing style after my friends were doing a bunch of them!<br>I’ll talk more about these two later.</p>