---
date: 2020-03-02
title: "2020.03 Mismagius"
galleryCategs: 
  year: "2020"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-mismagius-th.webp"
gallThumbAlt: "Mismagius gijinka with a large magic staff."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-mismagius-th.webp"
    imgZoom: "/src/img/art-gallery/2020-mismagius.webp"
    imgWidth: "559"
    imgHeight: "793"
    imgAlt: "Mismagius gijinka with a large magic staff."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B9z594elAKi/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103835049296451409"
---
<p>Drew this Mismagius gijinka earlier this month!<br>Of course, typical me, so she ended up being a cute witch/magical girl.</p>