---
date: 2020-06-29
title: "2020.08 Juno"
galleryCategs: 
  year: "2020"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-juno-01-th.webp"
gallThumbAlt: "Headshot reference of Juno. A happy young woman with two long side locks of red hair."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-juno-01-th.webp"
    imgZoom: "/src/img/art-gallery/2020-juno-01.webp"
    imgWidth: "682"
    imgHeight: "635"
    imgAlt: "Headshot reference of Juno. A happy young woman with two long side locks of red hair."
  - slide:
    imgThumb: "/src/img/art-gallery/2020-juno-02-th.webp"
    imgZoom: "/src/img/art-gallery/2020-juno-02.webp"
    imgWidth: "1056"
    imgHeight: "816"
    imgAlt: "Two bust references of Juno, the left with human arms, the right winged."
  - slide:
    imgThumb: "/src/img/art-gallery/2020-juno-03-th.webp"
    imgZoom: "/src/img/art-gallery/2020-juno-03.webp"
    imgWidth: "612"
    imgHeight: "816"
    imgAlt: "Juno's Necklace, a coin with a roman woman in profile connected to a phoenix feather."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kcxwhju7np2p"
  - site: "instagram"
    url: "https://www.instagram.com/p/CFkPg2WBWV8/"
  - site: "instagram"
    url: "https://www.instagram.com/p/CF2RDzejzKa/"
  - site: "instagram"
    url: "https://www.instagram.com/p/CFSe0TnlVmH/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/104926512189889459"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/104886871277280577"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/104966151850001162"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CzBqhNBLnaS"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700831731494879232/2020082729-juno"
---
<p>A stress-relief OC that I ended up getting really attatched to? Her name is Juno. She’s a half-Phoenix on a quest to find her Father, and ask Him about her mortality.</p>
<p>I missed cel-shading a lot, so I went at it!! My wrists are doing good enough for one-off illustrations.</p>
<p>This is a pendant she uses to see her father in the spirit world. She can talk to him, but she can’t hear him back…</p>