---
date: 2020-02-16
title: "2020.02 Parappa"
galleryCategs: 
  year: "2020"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2020-parappa-th.webp"
gallThumbAlt: "A doodle of Parappa rapping with a microphone in hand."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-parappa-th.webp"
    imgZoom: "/src/img/art-gallery/2020-parappa.webp"
    imgWidth: "815"
    imgHeight: "1056"
    imgAlt: "A doodle of Parappa rapping with a microphone in hand."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B8r1Knolffr/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103676557810833663"
---
<p>Tiny Parappa from yesterday’s stream—<br>I play 1 &amp; 2 sometimes between games!</p>