---
date: 2020-10-16
title: "2020.10 Hevel: New Emotion"
galleryCategs: 
  year: "2020"
  subject: "demiHumanDiaries"
  medium: "analogArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-hevel-new-emotion-th.webp"
gallThumbAlt: "Mixed media art of Hevel"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-hevel-new-emotion-th.webp"
    imgZoom: "/src/img/art-gallery/2020-hevel-new-emotion.webp"
    imgWidth: "1275"
    imgHeight: "1275"
    imgAlt: "Mixed media art of Hevel"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CG-ofgzFMeJ/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CG-r49GjNQH/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105124692852249931"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105125403210054487"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700779994901839873/20201016-hevel-ink-dip-pen-posca"
---
<p>Hével – ✦ 𝙉𝙚𝙬 👁 𝙀𝙢𝙤𝙩𝙞𝙤𝙣 ✦</p>