---
date: 2020-02-14
title: "2020.02 Zaara"
galleryCategs: 
  year: "2020"
  subject: "somnius"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-zaara-01-th.webp"
gallThumbAlt: "Cel-shaded bust of Zaara, a 4 horned demon with lowly-tied hair locks."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-zaara-01-th.webp"
    imgZoom: "/src/img/art-gallery/2020-zaara-01.webp"
    imgWidth: "620"
    imgHeight: "874"
    imgAlt: "Cel-shaded bust of Zaara, a 4 horned demon with lowly-tied hair locks."
  - slide:
    imgThumb: "/src/img/art-gallery/2020-zaara-02-th.webp"
    imgZoom: "/src/img/art-gallery/2020-zaara-02.webp"
    imgWidth: "620"
    imgHeight: "874"
    imgAlt: "Manga-toned bust of Zaara, a 4 horned demon with lowly-tied hair locks."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B8j0NKtFOfZ/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103658917398860284"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700781224820637696/20200209-zahra-a-rendering-experiment"
---
<p>Science experiment: taking my lines in two ways…<br>These are kinda meant to be commission examples, but I think they’re the first time I’ve shown this OC! Their name is Zaara&nbsp;</p>
<p>Do you have a fave? I like the Black and White kind.</p>