---
date: 2020-07-29
title: "2020.07 Eva"
galleryCategs: 
  year: "2020"
  subject: "friendsOCs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-eva-th.webp"
gallThumbAlt: "A young girl holds two balled fists close to herself. There are non-diegetic angel wings in the image"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-eva-th.webp"
    imgZoom: "/src/img/art-gallery/2020-eva.webp"
    imgWidth: "744"
    imgHeight: "645"
    imgAlt: "A young girl holds two balled fists close to herself. There are non-diegetic angel wings in the image"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CEcmPJMlaOb/"
---
<p>Some like, tiny healing doodles? I’m able to sketch to small extents with lots of breaks in-between…⠀<br>This is <a href="https://www.instagram.com/hellebee/">@hellebee</a>‘s Eva—👼</p>