---
date: 2020-02-06
title: "2020.02 Lia"
galleryCategs: 
  year: "2020"
  subject: "rosamari"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2020-lia-th.webp"
gallThumbAlt: "Character art of Lia with her hand on her hip. She has a puffy sleeved shirt, leggings, and a torn skirt tied around her waist."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2020-lia-th.webp"
    imgZoom: "/src/img/art-gallery/2020-lia.webp"
    imgWidth: "559"
    imgHeight: "793"
    imgAlt: "Character art of Lia with her hand on her hip. She has a puffy sleeved shirt, leggings, and a torn skirt tied around her waist."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/B8hR_6Pl9-w/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/103653356984786039"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769607517126656/20200206-lia"
---
<p>Yo! The other day on Twitch I wanted to see what I could accomplish in ~1hr…</p>
<p>So I drew Tsura and quickly gave her colors underneath</p>
<p>Uhhhh it’s kinda a low-$-end commission type asdlkfjaskjlfdh there’s another kind I’ll show tomorrow.</p>