---
date: 2021-08-23
title: "2021.08 April (Bust)"
galleryCategs: 
  year: "2021"
  subject: ["lxnx","demiHumanDiaries"]
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-april-bust-01-th.webp"
gallThumbAlt: Bust art of April wearing her jacket. She wears a red beanie on her blue hair.""
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-april-bust-01-th.webp"
    imgZoom: "/src/img/art-gallery/2021-april-bust-01.webp"
    imgWidth: "630"
    imgHeight: "630"
    imgAlt: "Bust art of April wearing her jacket. She wears a red beanie on her blue hair."
  - slide:
    imgThumb: "/src/img/art-gallery/2021-april-bust-02-th.webp"
    imgZoom: "/src/img/art-gallery/2021-april-bust-02.webp"
    imgWidth: "630"
    imgHeight: "630"
    imgAlt: "Bust art of April without her jacket."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/5cxPBG3"
  - site: "instagram"
    url: "https://www.instagram.com/p/CS7PAk3BJih/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106806639023074320"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676569621243068417/20210823-gave-myself-an-oc-prompt-that-was"
---
<p>Gave myself an OC prompt that was like… “make an OC based on visual character tropes you crush(ed) for”.<br>Her name’s April! She’s a sort of witch who battles demons and placates ghosts with her guitar…</p>
<p>She’s a little FLCL inspired in that her guitar has a shotgun feature, but she can also slide an axe out from its body.</p>
<p>Holy bullets, decapitation. The usual.</p>