---
date: 2021-04-16
title: "2021.04 Ace Attorney"
galleryCategs: 
  year: "2021"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-ace-attorney-th.webp"
gallThumbAlt: "Commission art of Phoenix and Larry from Ace Attorney"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-ace-attorney-th.webp"
    imgZoom: "/src/img/art-gallery/2021-ace-attorney.webp"
    imgWidth: "1224"
    imgHeight: "792"
    imgAlt: "Commission art of Phoenix and Larry from Ace Attorney"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CRhXQyWBE5Z/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106609026684486362"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700778878101323776/20210422-comm-for-a-friend"
---
<p>From April! 😳</p>
<p>Some <a href="https://mastodon.art/tags/PhoenixWright">#PhoenixWright</a> fanart for a friend.</p>