---
date: 2021-01-30
title: "2021.01 Usagi"
galleryCategs: 
  year: "2021"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-usagi-th.webp"
gallThumbAlt: "Redraw of the 2003 Sailor Moon Vol 1 Cover"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-usagi-th.webp"
    imgZoom: "/src/img/art-gallery/2021-usagi.webp"
    imgWidth: "934"
    imgHeight: "1321"
    imgAlt: "Redraw of the 2003 Sailor Moon Vol 1 Cover"
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jyrf3mptln27"
  - site: "cara"
    url: "https://cara.app/post/ba863881-eb59-4da8-8089-972001c5946b"
  - site: "foriio"
    url: "https://www.foriio.com/works/820654"
  - site: "instagram"
    url: "https://www.instagram.com/p/CK2BtNZFbfy/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IU7U7AO4QG"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105669288263638094"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112706283346774610"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2054951"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109570544"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769826149367808/20210130-sailor-moon-redraw-vol-1-cover-2003"
---
<p>A bit of a different&nbsp;#SailorMoonRedraw!<br>Usagi on the first volume of the 2003 release of the manga.</p>
<p>I wanted to emulate the Copic &amp; Watercolor look of shoujo chapter illustrations. What do you think?</p>