---
date: 2021-01-17
title: "2021.01 F’Night Viri"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-fnight-viri-th.webp"
gallThumbAlt: "Viri in the Friday Night Funkin' style"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-fnight-viri-th.webp"
    imgZoom: "/src/img/art-gallery/2021-fnight-viri.webp"
    imgWidth: "820"
    imgHeight: "992"
    imgAlt: "Viri in the Friday Night Funkin' style"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CKMRfErh-R3/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105577484247917057"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769800478244864/20210117-luxvrdn-friday-night-funkin-style"
---
<p>A friend was like “Draw Viri like&nbsp;#FridayNightFunkin!” So I did</p>