---
date: 2021-03-17
title: "2021.03 Zaara Hammer"
galleryCategs: 
  year: "2021"
  subject: "somnius"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-zaara-hammer-01-th.webp"
gallThumbAlt: "3D model of Zaara's hammer"
gallThumbFocus: "43% 13%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-zaara-hammer-01-th.webp"
    imgZoom: "/src/img/art-gallery/2021-zaara-hammer-01.webp"
    imgWidth: "1024"
    imgHeight: "1023"
    imgAlt: "3D model of Zaara's hammer"
  - slide:
    imgThumb: "/src/img/art-gallery/2021-zaara-hammer-02-th.webp"
    imgZoom: "/src/img/art-gallery/2021-zaara-hammer-02.webp"
    imgWidth: "1024"
    imgHeight: "768"
    imgAlt: "Designs sketches for the hammer, and the cards that it presses."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jyrv264uhs2f"
  - site: "foriio"
    url: "https://www.foriio.com/works/820655"
  - site: "instagram"
    url: "https://www.instagram.com/p/CMh-VuVAN6f/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105906678622267495"
---
<p>First 3D Prop in a while! The weapon of a comic character, so I won’t have to imagine its angles.<br>It’s based on a squeaky hammer and has a jingle bell on it!</p>