---
date: 2021-06-08
title: "2021.06 Dajamas"
galleryCategs: 
  year: "2021"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-dajamas-th.webp"
gallThumbAlt: "Commission Bust for Dajamas. The character has pointy ears, green clothes, and wavy hair tied into a low ponytail."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-dajamas-th.webp"
    imgZoom: "/src/img/art-gallery/2021-dajamas.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Commission Bust for Dajamas. The character has pointy ears, green clothes, and wavy hair tied into a low ponytail."
galleryWebLinks:
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700759200236814336/20210608-comm-for-dajamas"
---
<p>Comm for&nbsp;<a href="https://tmblr.co/MF_X-cZxUYKpalkCALiyMxw" target="_blank" rel="noreferrer noopener">@dajamas</a></p>