---
date: 2021-06-14
title: "2021.06 Lia"
galleryCategs: 
  year: "2021"
  subject: "rosamari"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2021-lia-01-th.webp"
gallThumbAlt: "Character Art of Lia, holding a dagger with her fingers. She has a scarf, and loose, piratey clothing with sandals and a skirt tied around her waist."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-lia-01-th.webp"
    imgZoom: "/src/img/art-gallery/2021-lia-01.webp"
    imgWidth: "549"
    imgHeight: "1037"
    imgAlt: "Character Art of Lia, holding a dagger with her fingers. She has a scarf, and loose, piratey clothing with sandals and a skirt tied around her waist."
  - slide:
    imgThumb: "/src/img/art-gallery/2021-lia-02-th.webp"
    imgZoom: "/src/img/art-gallery/2021-lia-02.webp"
    imgWidth: "553"
    imgHeight: "791"
    imgAlt: "Bust of Lia, smiling. She has a high ponytail, multiple scars and ear piercings."
galleryWebLinks:
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769256829255681/20210614-lia"
---
