---
date: 2021-01-06
title: "2021.01 Amity"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-amity-marker-sketch-th.webp"
gallThumbAlt: "A young girl with dark curly hair and light glasses looks away from where she's facing."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-amity-marker-sketch-th.webp"
    imgZoom: "/src/img/art-gallery/2021-amity-marker-sketch.webp"
    imgWidth: "742"
    imgHeight: "867"
    imgAlt: "A young girl with dark curly hair and light glasses looks away from where she's facing."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CJwbmp7FgSl/"
  - site: "instagram"
    url: "https://www.instagram.com/p/CJwbY4Uldbg/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105516081788904724"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/105516068072663491"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700779552006438913/20210106-amity"
---
<p>Amity!!</p>
<p>I’m slowwwlyy feeling better! Slowly.</p>