---
date: 2021-04-04
title: "2021.04 Amity"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-amity-th.webp"
gallThumbAlt: "Manga headshot of Amity"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-amity-th.webp"
    imgZoom: "/src/img/art-gallery/2021-amity.webp"
    imgWidth: "607"
    imgHeight: "585"
    imgAlt: "Manga headshot of Amity"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CNS6x-xlHbV/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106014317445913596"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700775312870572032"
---
<p>Amityyyyy~ Been playing around with a looser lineart style/flow/method. One I like to look at, but is more loose/free/casual to execute. Y’know. For comicy stuff!</p>