---
date: 2021-08-24
title: "2021.08 April (Full)"
galleryCategs: 
  year: "2021"
  subject: ["lxnx","demiHumanDiaries"]
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-april-full-th.webp"
gallThumbAlt: "Doodle of April soothing a spirit with her guitar. Her hair is in two buns, and she has knee-high boots. A notebook is in her pocket."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-april-full-th.webp"
    imgZoom: "/src/img/art-gallery/2021-april-full.webp"
    imgWidth: "848"
    imgHeight: "1024"
    imgAlt: "Doodle of April soothing a spirit with her guitar. Her hair is in two buns, and she has knee-high boots. A notebook is in her pocket."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CS-BRfrh5lQ/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106812781892474916"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676581907648200704/20210824-aprils-guitar-may-be-fitted-with"
---
<p>April’s guitar may be fitted with weaponry, but her favorite thing to do is soothe ghosts and help them pass!!</p>
<p>Man, I love her so much, and I only made her up in the span of a couple days.</p>