---
date: 2021-05-28
title: "2021.05 Harun"
galleryCategs: 
  year: "2021"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-harun-th.webp"
gallThumbAlt: "Bust of Harun"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-harun-th.webp"
    imgZoom: "/src/img/art-gallery/2021-harun.webp"
    imgWidth: "545"
    imgHeight: "640"
    imgAlt: "Bust of Harun"
galleryWebLinks:
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769859121872896/20210528-harun-demorrt-arts"
---
