---
date: 2021-12-09
title: "2021.12 Splats"
galleryCategs: 
  year: "2021"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-splats-01-th.webp"
gallThumbAlt: "Limited-color manga stylized splatoon redraw. An inkling leans forward with one hand on her hip."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-splats-01-th.webp"
    imgZoom: "/src/img/art-gallery/2021-splats-01.webp"
    imgWidth: "791"
    imgHeight: "904"
    imgAlt: "Limited-color manga stylized splatoon redraw. An inkling leans forward with one hand on her hip."
  - slide:
    imgThumb: "/src/img/art-gallery/2021-splats-02-th.webp"
    imgZoom: "/src/img/art-gallery/2021-splats-02.webp"
    imgWidth: "791"
    imgHeight: "904"
    imgAlt: "Manga stylized splatoon redraw. An inkling leans forward with one hand on her hip."
galleryWebLinks:
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107419962210044723"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957099"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109570910"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676672499389513728/20211209-splatoon-a-woomy-redraw-wanted-to"
---
<p>A woomy-redraw. Wanted to practice how I tone.</p>