---
date: 2021-05-01
title: "2021.05 Ashe"
galleryCategs: 
  year: "2021"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-ashe-th.webp"
gallThumbAlt: "Bust sketch of Ashe, a vampire girl with pointy ears."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-ashe-th.webp"
    imgZoom: "/src/img/art-gallery/2021-ashe.webp"
    imgWidth: "505"
    imgHeight: "741"
    imgAlt: "Bust sketch of Ashe, a vampire girl with pointy ears."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/npolwmb"
  - site: "instagram"
    url: "https://www.instagram.com/p/CObFOPPlm2w/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106172990891573556"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700779377297932288/20210501-ashe"
---
<p>Fleshed out an OC I came up with while my wrists were out. She’s based on W. African (specifically Ghanaian) vampire lore.<br>She turns into a firefly, instead of a bat, for starters!</p>