---
date: 2021-04-09
title: "2021.04 Noah"
galleryCategs: 
  year: "2021"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-noah-th.webp"
gallThumbAlt: "Bust drawing of Gatooroo’s original character Noah. She has short hair and a bandana-bow."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-noah-th.webp"
    imgZoom: "/src/img/art-gallery/2021-noah.webp"
    imgWidth: "794"
    imgHeight: "1123"
    imgAlt: "Bust drawing of Gatooroo’s original character Noah. She has short hair and a bandana-bow."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/938yClu"
  - site: "instagram"
    url: "https://www.instagram.com/p/CNvQB_MFx64/"
  - site: "mastodon"
    url: "https://www.instagram.com/p/CNvQB_MFx64/"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676400744904179712/20210409-gatooroos-noah-drew-my-friends-oc"
---
<p><a href="https://www.instagram.com/Gatooroo/">@Gatooroo</a>‘s Protag-OC, Noah!<br>Tried to do that… soft-painty-cel-thing.</p>