---
date: 2021-07-31
title: "2021.07 Chibi Hevel"
galleryCategs: 
  year: "2021"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-chibi-hevel-th.webp"
gallThumbAlt: "Chibi art of a 6-eyed angel giving double-peace signs."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-chibi-hevel-th.webp"
    imgZoom: "/src/img/art-gallery/2021-chibi-hevel.webp"
    imgWidth: "720"
    imgHeight: "720"
    imgAlt: "Chibi art of a 6-eyed angel giving double-peace signs."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/955tobg"
  - site: "bluesky"
    url: "https://www.artfol.co/a/955tobg"
  - site: "instagram"
    url: "https://www.instagram.com/p/CSFLDNPp8Km/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106687720298565445"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109570731"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676557358851358720/20210802-i-got-really-hyped-up-and-finished"
---
<p>Yesterday I got really hyped up and finished making this sticker, to buy some and send to people.</p>