---
date: 2021-05-02
title: "2021.05 Vampire"
galleryCategs: 
  year: "2021"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-vampire-th.webp"
gallThumbAlt: "Parody art of DECO*27's Vampire, featuring Ashe"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-vampire-th.webp"
    imgZoom: "/src/img/art-gallery/2021-vampire.webp"
    imgWidth: "1775"
    imgHeight: "1242"
    imgAlt: "Parody art of DECO*27's Vampire, featuring Ashe"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/7fazpCK"
  - site: "foriio"
    url: "https://www.foriio.com/works/820651"
  - site: "instagram"
    url: "https://www.instagram.com/p/COf8DrjFsGn/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107556275549720266"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109570650"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676466768368353280/20210502-my-oc-ashe-shes-based-on"
---
<p>Of course I had to make the DECO*27 reference. Ashe again!</p>
<p>She actually *wears* lots of yellow, but here… I preferred it as the BG color.</p>