---
date: 2021-07-21
title: "2021.06 Ugh"
galleryCategs: 
  year: "2021"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-ugh-th.webp"
gallThumbAlt: "Illustration of Hevel, a four winged angel, sitting with his face in his hands"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-ugh-th.webp"
    imgZoom: "/src/img/art-gallery/2021-ugh.webp"
    imgWidth: "1056"
    imgHeight: "816"
    imgAlt: "Illustration of Hevel, a four winged angel, sitting with his face in his hands"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/jirmEJO"
  - site: "instagram"
    url: "https://www.instagram.com/p/CRmVNQRhuYS/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106619942686995440"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676479001618989056/20210630-overstimulation-shutdown"
---
<p>Overstimulation, Shutdown.</p>