---
date: 2021-08-16
title: "2021.08 Viri (Digital)"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-viri-digital-th.webp"
gallThumbAlt: "Digital bust painting of Lux Viridian. They have goggles on their head and a big yellow zipper on their jacket."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-viri-digital-th.webp"
    imgZoom: "/src/img/art-gallery/2021-viri-digital.webp"
    imgWidth: "640"
    imgHeight: "640"
    imgAlt: "Digital bust painting of Lux Viridian. They have goggles on their head and a big yellow zipper on their jacket."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CSqNMazLVTh/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106769204077462790"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700779175769997312/20210815-luxvrdn"
---
<p>Attempted to paint! With LUX:viridian. “Why not?” vibes.</p>