---
date: 2021-07-30
title: "2021.07 Sky Hevel"
galleryCategs: 
  year: "2021"
  subject: ["demiHumanDiaries","fanart"]
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-sky-hevel-th.webp"
gallThumbAlt: "Art of Hevel in the Sky Children of the Light style"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-sky-hevel-th.webp"
    imgZoom: "/src/img/art-gallery/2021-sky-hevel.webp"
    imgWidth: "776"
    imgHeight: "575"
    imgAlt: "Art of Hevel in the Sky Children of the Light style"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/kKs2kl6"
  - site: "instagram"
    url: "https://www.instagram.com/p/CR9mYWcp7EE/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106671115247292532"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676491308671631360/20210706-drew-my-oc-hevel-as-a-sky-kid-from"
---
<p>Drew my OC Hevel as a Sky Kid from&nbsp;#ThatSkyGame!<br>I’ve been having a lot of fun with the game. It’s like, a chill MMO-Lite, or something.</p>