---
date: 2021-09-05
title: "2021.09 Viri Watercolor"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "analogArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-viri-watercolor-th.webp"
gallThumbAlt: "Watercolor painting of Lux Viridian blowing a gum bubble in front of yellow roses and hyacinths."
gallThumbFocus: "50% 40%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-viri-watercolor-th.webp"
    imgZoom: "/src/img/art-gallery/2021-viri-watercolor.webp"
    imgWidth: "785"
    imgHeight: "1049"
    imgAlt: "Watercolor painting of Lux Viridian blowing a gum bubble in front of yellow roses and hyacinths."
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CTc3E62B-9g/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/106880588724676252"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676647960469225472/20210904-learnt-a-lot-for-next-time-had-a"
---
<p>… Learnt a lot for next time! Had a blast regardless…</p>
<p>Hmm… it’s not that digital art is easy, but analog is really hard. 😩</p>