---
date: 2021-06-16
title: "2021.10 Happy Holidays"
galleryCategs: 
  year: "2021"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2021-happy-holidays-th.webp"
gallThumbAlt: "Greeting card featuring Lux Pink in a santa hat holding a present. With one hand, she takes off her goggles."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2021-happy-holidays-th.webp"
    imgZoom: "/src/img/art-gallery/2021-happy-holidays.webp"
    imgWidth: "554"
    imgHeight: "777"
    imgAlt: "Greeting card featuring Lux Pink in a santa hat holding a present. With one hand, she takes off her goggles."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/4bdL80j"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kdpg2no5yb25"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/705497-2021-12-happy-holida"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cmkj_3LPx4z/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109571513634739600"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3100653"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700769880629248000/20211201-luxpink-holiday-card"
---
<p>I wanted to wish everyone a happy holiday season!<br>Currently taking it easy and doing a lot of writing.</p>