---
date: 2022-03-15
title: "2022.03 Harun"
galleryCategs: 
  year: "2022-harun"
  subject: "friendsOC"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-harun-01-th.webp"
gallThumbAlt: "Turnaround of a low-poly model of my friend's OC, Harun."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-harun-01-th.webp"
    imgVideo: 
      site: "youtube"
      id: "mNQKZsiDs_E"
    imgAlt: "Turnaround of a low-poly model of my friend's OC, Harun."
  - slide:
    imgThumb: "/src/img/art-gallery/2022-harun-02-th.webp"
    imgZoom: "/src/img/art-gallery/2022-harun-02.webp"
    imgWidth: "925"
    imgHeight: "708"
    imgAlt: "Development sketches for the model."
galleryWebLinks:
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107967542187234840"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/678905324439273472/20220316-dems-harun-i-needed-a-drawing-break"
---
<p>I needed a drawing break… I modeled <a href="https://instagram.com/demorrtis">Demorrtis’</a> Harun!<br>Plus it was their birthday. 🎂</p>
<p>Pribambase saved my life halfway through!! I was exporting and checking over-and-over before.</p>