---
date: 2022-11-21
title: "2022.11 HellHound"
galleryCategs: 
  year: "2022"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hellhound-th.webp"
gallThumbAlt: "Fanart of Red Velvet Cookie from Cookie Run Kingdom"
gallThumbFocus: "28% 15%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hellhound-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hellhound.webp"
    imgWidth: "600"
    imgHeight: "840"
    imgAlt: "Fanart of Red Velvet Cookie from Cookie Run Kingdom"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/xOPk3js"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/TjWU8NC8RvoJ755o8"
  - site: "instagram"
    url: "https://www.instagram.com/p/ClZyLDhPtxO/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109405890890789088"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3036475"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/701918252437274629/202211-hellhounddoodle-of-the-babygirl-this-skin"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IB0B6GJA02"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IY8Y6GLZGJ"
---
<p>Doodle of the babygirl. This skin is just 👌✨</p>
