---
date: 2022-01-16
title: "2022.01 Kobold Comm"
galleryCategs: 
  year: "2022"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-kobold-comm-th.webp"
gallThumbAlt: "Bust commission of a DnD kobold with a pirate hat and a blue bandana."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-kobold-comm-th.webp"
    imgZoom: "/src/img/art-gallery/2022-kobold-comm.webp"
    imgWidth: "500"
    imgHeight: "755"
    imgAlt: "Bust commission of a DnD kobold with a pirate hat and a blue bandana."
---
