---
date: 2022-02-13
title: "2022.02 Theo"
galleryCategs: 
  year: "2022"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-theo-th.webp"
gallThumbAlt: "Manga-styled bust of Theo. He has scarring on the left side of his face."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-theo-th.webp"
    imgZoom: "/src/img/art-gallery/2022-theo.webp"
    imgWidth: "874"
    imgHeight: "1240"
    imgAlt: "Manga-styled bust of Theo. He has scarring on the left side of his face."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/5DclrfN"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jywik23qlw2q"
  - site: "instagram"
    url: "https://www.instagram.com/p/CZ7TUrOvoPM/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107791926169572829"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CuXujrayazO"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676397493056126976/20220213-demorrt-arts-theo-theo-dudes-rly"
gallerySupportLinks:
  - site: "kofi"
    label: ""
    url: ""
---
<p>Theo!! Dude’s rly handsome, I weep. More practice for the BW look. Generally, I feel like I could draw hair with a bit more detail… So I’ll work on that.</p>