---
date: 2022-01-18
title: "2022.01 HevMi Kiss"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hevmi-kiss-01-th.webp"
gallThumbAlt: "Soft-shaded art of demon-AU Hevel and Dami. Dami embraces and kisses a surprised Hevel."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hevmi-kiss-01-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hevmi-kiss-01.webp"
    imgWidth: "1243"
    imgHeight: "961"
    imgAlt: "Soft-shaded art of demon-AU Hevel and Dami. Dami embraces and kisses a surprised Hevel."
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hevmi-kiss-02-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hevmi-kiss-02.webp"
    imgWidth: "961"
    imgHeight: "1243"
    imgAlt: "Cel-shaded illustration of Hevel and Dami. Dami embraces and kisses a surprised Hevel."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kturver7xc2g"
  - site: "instagram"
    url: "https://www.instagram.com/p/CY4btaTv_-1/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107644889748445769"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957239"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571283"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676750795195252736/20220118-these-guys-these-guys-their"
---
<p>These guys… these guys… Their relationship is funny and I like casually playing around with them in my head. I liked the vibe so much I rendered it twice.</p>
<hr>
<p><b>2022.02.16:</b>&nbsp;This makes me blush!! I can’t look at it anymore!!<br>`(*&gt;﹏&lt;*)′<br>The cat-homie floats in his sleep!! And sleepwalks!! Subconscious, we see how he really feels…</p>