---
date: 2022-06-15
title: "2022.06 Aziel"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-aziel-01-th.webp"
gallThumbAlt: "Soft-shaded bust of Aziel. He has a military hat, a cross earring, dress shirt and tie, and a blazer."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-aziel-01-th.webp"
    imgZoom: "/src/img/art-gallery/2022-aziel-01.webp"
    imgWidth: "534"
    imgHeight: "620"
    imgAlt: "Soft-shaded bust of Aziel. He has a military hat, a cross earring, dress shirt and tie, and a blazer."
  - slide:
    imgThumb: "/src/img/art-gallery/2022-aziel-02-th.webp"
    imgZoom: "/src/img/art-gallery/2022-aziel-02.webp"
    imgWidth: "1280"
    imgHeight: "790"
    imgAlt: "Full-body character sheet of the same character."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/85AwJ43"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jytns3agx72h"
  - site: "foriio"
    url: "https://www.foriio.com/works/951267"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/oz2VUPpEaP8CKeWd7"
  - site: "instagram"
    url: "https://www.instagram.com/p/Ck4CwaryTEQ/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109332914279163950"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571332"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700751090222874624/20220615-aziel"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700844796027273216/20220613-aziel"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IM4M3GC5HO"
---
<p>Forgot to share this one! Recent OC of mine.<br>
A very authoritarian angel, of the Power/Authority class.</p>