---
date: 2022-01-29
title: "2022.01 Amity"
galleryCategs: 
  year: "2022"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2022-amity-th.webp"
gallThumbAlt: "An ink drawing of Amity tilting her head and smiling at the camera."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-amity-th.webp"
    imgZoom: "/src/img/art-gallery/2022-amity.webp"
    imgWidth: "611"
    imgHeight: "764"
    imgAlt: "An ink drawing of Amity tilting her head and smiling at the camera."
galleryWebLinks:
  - site: "instagram"
    url: "https://mastodon.art/@HikaTamika/107741389551466947"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107741389551466947"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676829157526781952/20220204-i-offer-a-doodle-and-then-i-lurk"
---
<p>I offer a doodle and then I lurk again. Just a 🤏, just a 🤏<br>This was a pen test.</p>
<p><a href="https://assets.clip-studio.com/en-us/detail?id=1711220" target="_blank" rel="noreferrer noopener">Here are the pens!</a></p>