---
date: 2022-01-10
title: "2022.01 Hevel (Ira)"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hevel-ira-th.webp"
gallThumbAlt: "Bust art of a demonic AU version of Hevel"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hevel-ira-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hevel-ira.webp"
    imgWidth: "906"
    imgHeight: "906"
    imgAlt: "Bust art of a demonic AU version of Hevel"
galleryWebLinks:
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107556185722043111"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957171"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109570969"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676738565346050048/20220102-posts-weird-art-at-sub-optimal"
---
<p>＊Posts weird art at sub-optimal posting time with 0 context＊</p>