---
date: 2022-02-10
title: "2022.02 Hika"
galleryCategs: 
  year: "2022"
  subject: "hikaSona"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hika-th.webp"
gallThumbAlt: "Art of Hika's self-sona design."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hika-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hika.webp"
    imgWidth: "409"
    imgHeight: "853"
    imgAlt: "Art of Hika's self-sona design."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kbwdc6rdfo2r"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107776208724449194"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/676853691797700608/20220210-always-changing-my-mind-as-far-as"
---
<p>Always changing my mind…<br>As far as artist-sonas go, it’s very complex.</p>
<p>As far as vtubers though, lol it feels too simple.</p>
<p>Thinking about picking Twitch back up.</p>