---
date: 2022-04-05
title: "2022.04 Pink Wand"
galleryCategs: 
  year: "2022"
  subject: "lxnx"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-pink-wand.webp"
gallThumbAlt: "3D model of a rather pointed star-shaped magical girl wand."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-pink-wand.webp"
    imgVideo: 
      site: "youtube"
      id: "D_0U6Cb2Xkc"
    imgAlt: "3D model of a rather pointed star-shaped magical girl wand."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jyrv264uhs2f"
  - site: "cara"
    url: "https://cara.app/post/76dd254f-eda9-4db8-8941-ede4d694f0e2"
  - site: "foriio"
    url: "https://www.foriio.com/works/820649"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/108081617643833110"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/680730219874746368/20220405-made-a-3d-model-of-a-prop"
---
<p>Made a 3d model of a prop for my webcomic!! It imports well into Clip Studio Paint.<br>I’ll probably make more for the unique items my characters use.</p>