---
date: 2022-09-01
title: "2022.10 Anya"
galleryCategs: 
  year: "2022"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-anya-th.webp"
gallThumbAlt: "Full-body art of Anya in front of Eden Academy"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-anya-th.webp"
    imgZoom: "/src/img/art-gallery/2022-anya.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Full-body art of Anya in front of Eden Academy"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/yJfa69I"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/XU7epUx3CXcdGcDn7"
  - site: "instagram"
    url: "https://www.instagram.com/p/CjtrPnFpy7r/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/Cjqn3i2uqR7/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109112491776658498"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957782"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571694"
  - site: "reddit"
    url: "https://www.reddit.com/r/SpyxFamily/comments/y4qyyr/oc_i_drew_anya_this_week/"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7154120645905812779"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/697839278488715264/little-miss-anya-forger-do-you-watch-spy-x"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/qzDXQqAulbk"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/II3I0FMP06"
---
<p>Little Miss Anya Forger. 🥺 Do you watch Spy x Family, read it, or both?</p>