---
date: 2022-06-24
title: "2022.06 Hevel"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hevel-th.webp"
gallThumbAlt: "Character art of Hevel. A six eyed angel with two pairs of wings on his head. He wears red eyeliner on his closed, middle pair of eyes."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hevel-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hevel.webp"
    imgWidth: "660"
    imgHeight: "810"
    imgAlt: "Character art of Hevel. A six eyed angel with two pairs of wings on his head. He wears red eyeliner on his closed, middle pair of eyes."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3klnje3b76227"
---
