---
date: 2022-06-25
title: "2022.06 Sinclair"
galleryCategs: 
  year: "2022"
  subject: "cyborg2535"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-sinclair-th.webp"
gallThumbAlt: "Character art of a feminine version of Sinclair. They're sporting impractical-but-cool tech-wear clothing."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-sinclair-th.webp"
    imgZoom: "/src/img/art-gallery/2022-sinclair.webp"
    imgWidth: "338"
    imgHeight: "965"
    imgAlt: "Character art of a feminine version of Sinclair. They're sporting impractical-but-cool tech-wear clothing."
---
