---
date: 2022-07-31
title: "2022.07 ArtFight"
galleryCategs: 
  year: "2022"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-artfight-01-th.webp"
gallThumbAlt: "A pseudo-comic page featuring buddies' original characters."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-artfight-01-th.webp"
    imgZoom: "/src/img/art-gallery/2022-artfight-01.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "A pseudo-comic page featuring buddies' original characters."
  - slide:
    imgThumb: "/src/img/art-gallery/2022-artfight-02-th.webp"
    imgZoom: "/src/img/art-gallery/2022-artfight-02.webp"
    imgWidth: "831"
    imgHeight: "478"
    imgAlt: ""
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/eyyO7Jd"
  - site: "artfol"
    url: "https://www.artfol.co/a/dKlnHgm"
  - site: "instagram"
    url: "https://www.instagram.com/p/ChOJ8VppXGk/"
  - site: "instagram"
    url: "https://www.instagram.com/p/ChOKLnOJW6y/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/108590691041892128"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/108818475957016431"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/108818601845147580"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/692520700379021312/art-fight-attacks-pg1-characters-belong-to"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/692521136390635520/late-artfight-revenge-for-kate-in-the"
---
<h2>Art Fight Attacks Pg.1</h2>
<p>Characters belong to:</p>
<ul><li><a href="https://diziill.deviantart.com/" target="_blank">Diziill</a></li><li><a href="https://ghostfiish.tumblr.com/" target="_blank">@ghostfiish</a></li><li><a href="https://zanarkand-s.tumblr.com/" target="_blank">@zanarkand-s</a>​​</li></ul>
<h2>Art Fight Attacks Pg.2</h2>
<p>Late #ArtFight revenge for:</p>
<p>– Kate in the Sleepless Domain discord server,<br>– <a href="https://pitohuiart.tumblr.com/" target="_blank">@pitohuiart</a> !</p>