---
date: 2022-09-01
title: "2022.09 Marighoul DTIYS"
galleryCategs: 
  year: "2022"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-marighoul-dtiys.webp"
gallThumbAlt: "Manga-styled art of Mira. A jester-themed entertainer reaches her hand towards the camera. A butterfly is on it. Her other hand is near her chest."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-marighoul-dtiys.webp"
    imgZoom: "/src/img/art-gallery/2022-marighoul-dtiys.webp "
    imgWidth: "559"
    imgHeight: "559"
    imgAlt: "Manga-styled art of Mira. A jester-themed entertainer reaches her hand towards the camera. A butterfly is on it. Her other hand is near her chest."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/DF7Fdym"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jyulnrf44u2u"
  - site: "foriio"
    url: "https://www.foriio.com/works/820644"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/z3ymKMJVvTjyikZ48"
  - site: "instagram"
    url: "https://www.instagram.com/p/CigAJytvEHy/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109003716248664872"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957499"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571511"
  - site: "reddit"
    url: "https://www.reddit.com/r/MangaArt/comments/xf3hy6/did_my_buddy_marighouls_dtiys/"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CuV3sKJLmUd"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/695401723029831680/marighoul4k-dtiys-tried"
---
<p>Tried out&nbsp;<a href="https://tmblr.co/Mrn73SUdJrIAdzNAWgn1u4w" target="_blank" rel="noreferrer noopener"></a><a href="https://www.instagram.com/ghoulmatter/" target="_blank" rel="noreferrer noopener">@marighoul</a>‘s <a href="https://www.instagram.com/p/Ch-D7XZLwE1/" target="_blank" rel="noreferrer noopener">#marighoul4k #DTIYS on Instagram!</a></p>
<p>🃏✨Her OC Mira’s so pretty and it’s been a long time since I drew her. 🥺 Congrats on 4k, Mari!</p>