---
date: 2022-05-25
title: "2022.05 Neco Dami"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-neco-dami-th.webp"
gallThumbAlt: "Neco-Arc parody art of Dami"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-neco-dami-th.webp"
    imgZoom: "/src/img/art-gallery/2022-neco-dami.webp"
    imgWidth: "651"
    imgHeight: "1099"
    imgAlt: "Neco-Arc parody art of Dami"
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kq6pqwzw7z2z"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/700771306728259584/20220525-dami-neco-arc-parody"
---
