---
date: 2022-01-18
title: "2022.01 HevMi"
galleryCategs: 
  year: "2022"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-hevmi-page-th.webp"
gallThumbAlt: "Comic page featuring Hevel and Dami"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-hevmi-page-th.webp"
    imgZoom: "/src/img/art-gallery/2022-hevmi-page.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "Comic page featuring Hevel and Dami"
galleryWebLinks:
  - site: "instagram"
    url: "https://www.instagram.com/p/CY4m3-xPXHO/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/107645259502326892"
  - site: "tumblr"
    url: https://hikatamika.tumblr.com/post/676763107453009920/20220118-also-made-a-comic-for-these-two""
---
<p>Also made a comic for these two because angst.</p>
<p>When ur sleepwalking fwb actually has feelings for you. Ow, the edge. 🧍</p>
<p>NGL tho, I created this was a B/W print file, and when I printed it, it felt so&nbsp;<em>real</em>… Like a&nbsp;<em><strong>real&nbsp;</strong>comic…</em></p>
<p>Anyway.</p>