---
date: 2022-09-27
title: "2022.09 Kagura’s Art DTIYS"
galleryCategs: 
  year: "2022"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-kaguras-art-dtiys-th.webp"
gallThumbAlt: "Cel-shaded art of Eri, with Ryo (a hitodama) to the left of her, in front of a city background with stars."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-kaguras-art-dtiys-th.webp"
    imgZoom: "/src/img/art-gallery/2022-kaguras-art-dtiys.webp"
    imgWidth: "831"
    imgHeight: "831"
    imgAlt: "Cel-shaded art of Eri, with Ryo (a hitodama) to the left of her, in front of a city background with stars."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/gosbxBP"
  - site: "bluesky"
    url: "https://www.foriio.com/works/820641"
  - site: "foriio"
    url: "https://www.foriio.com/works/820641"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/Eum8e1DbtFoBKZzx5"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CjY8tf8s34H/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CjY8tf8s34H/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109112491776658498"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957658"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571659"
  - site: "reddit"
    url: "https://www.reddit.com/r/AnimeSketch/comments/y0kh7c/participated_in_a_friends_dtiys_drew_their/"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CuV2bByrpBD"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7151535489256820011"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/697224050590859265/drew-eri-for-kaguras-arts-dtiys-such-a-fun-and"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/Uba1MjAOypM"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A4FHDS7"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/s/c5cd8115d2"
---
