---
date: 2022-10-10
title: "2022.10 Amity"
galleryCategs: 
  year: "2022"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-amity-military-lolita-th.webp"
gallThumbAlt: "Art of Amity in military lolita, kneeling in mid-air"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-amity-military-lolita-th.webp"
    imgZoom: "/src/img/art-gallery/2022-amity-military-lolita.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Art of Amity in military lolita, kneeling in mid-air"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/rdvxItL"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/yRvu337wx3vzPPnm7"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cj3b3ZDPJFA/"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cj3b3ZDPJFA/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CkJzndKPEq5/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109191193959990392"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/2957860"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571728"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7156359150484671786"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7158576573376089390"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/698477695683772416/20221017-participated-in-an-oc-outfit"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/MwU0b70ZNnQ"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/8z-1_SnT3uU"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IL3L5FPOAJ"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IP5P1FRDFW"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2022-10-Amity-Process-Video-D1D6G2LGY"
---
<p>Participated in an OC outfit challenge! I feel like I over-rendered it for what it was though. 😅</p>