---
date: 2022-09-16
title: "2022.09 Spla3n"
galleryCategs: 
  year: "2022"
  subject: ["fanart", "hikaSona"]
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2022-spla3n-th.webp"
gallThumbAlt: ""
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2022-spla3n-th.webp"
    imgZoom: "/src/img/art-gallery/2022-spla3n.webp"
    imgWidth: "1240"
    imgHeight: "874"
    imgAlt: ""
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/32C33Dz"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/3ndMF7LCb9SiTYzh9"
  - site: "instagram"
    url: "https://www.instagram.com/p/Ci0PG8bJd0S/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/Ci1Aof7uLpi/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109043042166755835"
  - site: "pillowfort"
    url: "https://mastodon.art/@HikaTamika/109043042166755835"
  - site: "reddit"
    url: "https://www.reddit.com/r/splatoon/comments/xl6u3h/drew_my_inkling_ignore_the_oldschool_squiffer/"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7146353590775369003"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/696112941457637376/splatoon-3-suddenly-has-me-playing-more-long-range"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/LtKAFhh33vs"
---
<p>Splatoon 3 suddenly has me playing more long-range weapons, whereas I used to be in everyone’s face in Splat2n. Hyped for Splatfest! Team Fun~!<br></p>