---
date: 2023-02-08
title: "2023.02 Viri Skate"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-viri-skate-th.webp"
gallThumbAlt: "Fullbody art of Lux Viridian skating towards the camera"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-viri-skate-th.webp"
    imgZoom: "/src/img/art-gallery/2023-viri-skate.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "Fullbody art of Lux Viridian skating towards the camera"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/0wqPBoM"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3jywyebnp6u2y"
  - site: "cara"
    url: "https://cara.app/post/f93af62e-c0dc-4fd5-9458-09cf4078820c"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/963303-2023-02-lux-vrdn"
  - site: "foriio"
    url: "https://www.foriio.com/works/820639"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/BuhSTVd5oknDa7ro8"
  - site: "instagram"
    url: "https://www.instagram.com/p/CobQVlyLQQI/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CodgSDCupgh/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/Cos_KueOi6C/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/109832547257453246"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3180737"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571819"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202302-viriskate"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7198311261526838570"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7200539840125996331"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/708744751941320704/202302-luxvrdn-zooming-into-2023-its"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/tymrGT2qNz4"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IW7W1HW24C"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IS6S1I7OFD"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IP5P8IGK30"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-02-LUXvrdn-Timelapse-N4N3ILNUN"
  - site: "kofi"
    label: "Timelapse (Ko-Fi Shop)"
    url: "https://ko-fi.com/s/24742c663e"
---
<p>Zooming into 2023; It’s LUX:Viridian (they/them)! 🐸 Support on Ko-Fi helped me get the roller blades. Thank you! 🙇<br>
Gonna post the full timelapse to Ko-Fi this month.</p>
