---
date: 2023-07-11
title: "2023.07 Camellia"
galleryCategs: 
  year: "2023"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-camellia-th.webp"
gallThumbAlt: "Monochrome portrait of a magical girl with a flower themed outfit and hair-buns."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-camellia-th.webp"
    imgZoom: "/src/img/art-gallery/2023-camellia.webp"
    imgWidth: "709"
    imgHeight: "709"
    imgAlt: "Monochrome portrait of a magical girl with a flower themed outfit and hair-buns."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/iLOrL0g"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k2szgxudxl2c"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2061250-2023-07-camellia"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/SAznMC33RBLSnYQ47"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cu2Z6hJMiQG/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110736684214684909"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3514362"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/110046335"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/Cu2bLVCvlp7"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7257240225489997098"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/723229875113263104/202307-camelliadrew-marighouls-magical-girl-oc"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/AqHtYbPNlGI"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IO5O3N5V5V"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/II2I7N8S2W"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-07-Camellia-Timelapse-F1F7N923H"
---
<p>
  <a href="https://www.instagram.com/reel/Cuanuq2oiMU/" target="_blank">Figured I’d do a plant-MG revenge for Mari’s plant-MG attack!</a>
</p>
<p>
  Drew&nbsp;<a href="https://www.instagram.com/ghoulmatter/"
   target="_blank"
   rel="noreferrer noopener">@Marighoul</a>’s Magical Girl OC for Art Fight…! 🥹 Her name is Camellia and she uses plant magic.
</p>
