---
date: 2023-08-30
title: "2023.08 Purah (TOTK)"
galleryCategs: 
  year: "2023"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-purah-totk-th.webp"
gallThumbAlt: "Purah from Tears of the Kingdom does a horns sign to the viewer. 🤘"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-purah-totk-th.webp"
    imgZoom: "/src/img/art-gallery/2023-purah-totk.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "Purah from Tears of the Kingdom does a horns sign to the viewer. 🤘"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/urhIxAP"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k66npkp5jc23"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2559314-2023-08-purah-totk"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cwko0TMJZaj/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CwnQLhVLfox/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110979086551019678"
  - site: "pillowfort"
    url: "https://hikatamika.com/portfolio/2023-08-purah-totk/"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/111301831"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CwkfjNYLvAp"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7273105036291378475"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/727125589779202048/202303-purah-totk"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/0uMoThJ1x2k"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A1M43XQ"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IG2G4OFHUA"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-08-Purah-Process-Video-H2H2PB97H"
---
<p>Had this sitting around unfinished for a while. I gotta get back into the game!! 😤</p>
<p>I love #TearsOfTheKingdom #Purah, she shoulda been grown in both games 😭😭😭</p>