---
date: 2023-08-07
title: "2023.08 LadyNoir Chibis"
galleryCategs: 
  year: "2023"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-ladynoir-chibis-01-th.webp"
gallThumbAlt: "Chibi versions of Chat Noir and Ladybug wielding their weapons."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-ladynoir-chibis-01-th.webp"
    imgZoom: "/src/img/art-gallery/2023-ladynoir-chibis-01.webp"
    imgWidth: "1050"
    imgHeight: "750"
    imgAlt: "Chibi versions of Chat Noir and Ladybug wielding their weapons."
  - slide:
    imgThumb: "/src/img/art-gallery/2023-ladynoir-chibis-02-th.webp"
    imgZoom: "/src/img/art-gallery/2023-ladynoir-chibis-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi version of Ladybug wielding her yoyo."
  - slide:
    imgThumb: "/src/img/art-gallery/2023-ladynoir-chibis-03-th.webp"
    imgZoom: "/src/img/art-gallery/2023-ladynoir-chibis-03.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi version of Chat Noir wielding his baton."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/Cg5Cqtx"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k4kcysyss423"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2402452-2023-08-lady-noir-chi"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/cXJUH8kW64CuPyTt8"
  - site: "instagram"
    url: "https://www.instagram.com/p/CvvCf9HPg92/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CvvXe6ivWDE/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CvxLTE2LQX-/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110861223544457894"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3595749"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/110692675"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CvvDNXnvnXr"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7265449089486327086"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7265708037166402859"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/725222620256239616/desktop-and-mobile-wallpapers-are-up-on-my-ko-fi"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/LzIIiakh2fM"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/ky7nVt8ScF8"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IE1E5NSI3T"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IZ8Z6NZF59"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-07-2023-08-LadyNoir-Chibis-Timelapse-T6T1NZN0P"
---
<p>Drew chibi LadyNoir after enjoying the Miraculous Ladybug Awakening movie on Netflix!! 🥺 It went some places I wish the show would, but I’m curious as to where the show will go next.</p>