---
date: 2023-04-17
title: "2023.04 VSynth Teto Splatoon"
galleryCategs: 
  year: "2023"
  subject: "fanart"
  medium: "pixelArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-teto-splatoon-th.webp"
gallThumbAlt: "Splatoon plaza art of Kasane Teto"
gallThumbFocus: "85% 50%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-teto-splatoon-th.webp"
    imgZoom: "/src/img/art-gallery/2023-teto-splatoon.webp"
    imgWidth: "1280"
    imgHeight: "480"
    imgAlt: "Splatoon plaza art of Kasane Teto"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/NrfMarx"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/1350732-a-smol-binary-versi"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/HWpzC4WkggUS9oTw6"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110215762089133591"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3291931"
  - site: "reddit"
    url: "https://www.reddit.com/r/splatoon/comments/12s4lh0/ive_made_an_updated_tutorial_for_printing_plaza/"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/714875916263800832/202304-synthv-teto-splat-post"
  - site: "youtube"
    url: "https://www.youtube.com/watch?v=Bnqc7-x3vEY"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/ID1D2KFZDW"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IL3L1KHTRL"
---
<p>A smol, binary version of my recent Teto Fanart that I made to put into Splatoon!</p>