---
date: 2023-11-01
title: "2023.11 Ashe"
galleryCategs: 
  year: "2023"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-ashe-th.webp"
gallThumbAlt: "A character tips her wide-brimmed sun hat down while sipping out of a blood bag. She has fangs and a flannel shirt."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-ashe-th.webp"
    imgZoom: "/src/img/art-gallery/2023-ashe.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "A character tips her wide-brimmed sun hat down while sipping out of a blood bag. She has fangs and a flannel shirt."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/P9ox2Cg"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kd5lfzuxin24"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3378966-2023-10-ashe-oc-tobe"
  - site: "foriio"
    url: "https://www.foriio.com/works/820606"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/x3wfLXaYrF9ymdMs7"
  - site: "instagram"
    url: "https://www.instagram.com/p/CzHXD4yv3uN/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111336972227985761"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3915338"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/113065926"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CzHYbYgvjgz"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7296577965582765343"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/Ke3XVAPLMuw"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IH2H0QJI3H"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IB0B7QRPSW"
---
<p>Late Happy Halloween, AND #OC_tober Week 3! Here’s my Vampire <a href="https://www.instagram.com/explore/tags/originalcharacter/">#OriginalCharacter</a>, Ashe drinking a totally normal fruit punch Capri-Sun. 🙂🧛‍♀️</p>