---
date: 2023-12-06
title: "2023.12 Bright Chibi"
galleryCategs: 
  year: "2023"
  subject: "friendsOCs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-bright-chibi-02-th.webp"
gallThumbAlt: "Art of a winking tiefling chibi on a purple background. He has a mic in one hand and is pointing with the other hand."
gallThumbFocus: "59% 39%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-bright-chibi-01-th.webp"
    imgZoom: "/src/img/art-gallery/2023-bright-chibi-01.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Art of a winking tiefling chibi on a purple background. He has a mic in one hand and is pointing with the other hand."
  - slide:
    imgThumb: "/src/img/art-gallery/2023-bright-chibi-02-th.webp"
    imgZoom: "/src/img/art-gallery/2023-bright-chibi-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Art of a winking tiefling chibi on a purple background. He has a mic in one hand and is pointing with the other hand."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/NuktsLl"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kfv55i7lkc2o"
  - site: "foriio"
    url: "https://www.foriio.com/works/951266"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/JdqLT8inPYVUhqjz7"
  - site: "instagram"
    url: "https://www.instagram.com/p/C0hCiiHMGmF/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C12h-9kSOHF/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111534126400190338"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4057898"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/638033021100817442"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/114010686"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C0hCB5-R9qI"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7309501496347888939"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7321772220022344990"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/735996586482597888/heres-the-second-dtiys-prize-chibi-this-is"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/FITkhvc9_sk"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IW7W3RI5A3"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IL3L1RTJMN"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-12-Chibi-Bright-Process-Video-I2I1STW11"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-12-Chibi-Bright-Timelapse-P5P1STW2N"
---
<p>Here’s the second DTIYS prize chibi! This is <a href="https://www.instagram.com/Jurimaart/">@Jurimaart</a>’s Tiefling OC, Bright! He’s so cute!! His outfit and look give me idol vibes. What do y’all think?</p>