---
date: 2023-10-20
title: "2023.10 Hika-Haru"
galleryCategs: 
  year: "2023"
  subject: "utauOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-hika-haru-th.webp"
gallThumbAlt: "Digital ink drawing. A girl boldly points behind the camera, with her other hand on her brother’s shoulder. Her brother rubs his head."
gallThumbFocus: "30% 45%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-hika-haru-th.webp"
    imgZoom: "/src/img/art-gallery/2023-hika-haru.webp"
    imgWidth: "1172"
    imgHeight: "831"
    imgAlt: "Digital ink drawing. A girl boldly points behind the camera, with her other hand on her brother’s shoulder. Her brother rubs his head."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/c7KifxB"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kcnyf4zxaw2f"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3293118-2023-10-oc-tober-w2"
  - site: "foriio"
    url: "https://www.foriio.com/works/820610"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/mPknVcQuUiNwrcmUA"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cy0qSCrOEiw/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C0SGYmnLx8k/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CzbglqpJpWj/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111295802399920626"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3885772"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/112846154"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/Cy0uOXkruX0"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7307299987690458398"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7307299987690458398"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/732197891566878720/202310-oc-tober-w2-hikaru-and-haruki"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/5xQCLWgL9Tg"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/l9rA18JeMJI"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U0QH60Q"
  - site: "kofi"
    label: "Livestream VOD (Ko-Fi)"
    url: "https://ko-fi.com/post/VOD-Mic-ON-Inktober-Stufffff-2023-10-I3I2QTS0W"
---
<p>A laaate Week 2 of #OC_tober! The prompt was older-made OCs, so I used my #UTAU voicebank characters from middle-school!<br>Hikaru, a bratty cyborg with a second chance at life, and her brother Haruki, who’s a kind, gentle, lad… often apologizing on her behalf.</p>