---
date: 2023-06-13
title: "2023.06 Pink"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-luxpink-th.webp"
gallThumbAlt: "Full-body illustration of Lux Pink"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-luxpink-th.webp"
    imgZoom: "/src/img/art-gallery/2023-luxpink.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Full-body illustration of Lux Pink"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/br5nfBO"
  - site: "cara"
    url: "https://cara.app/post/f576c18f-df25-4bdd-96cf-67a918fcf6f2"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/1677094-2023-06-pink"
  - site: "foriio"
    url: "https://www.foriio.com/works/820639"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/C6KuS1jLM7wpwTJx6"
  - site: "instagram"
    url: "https://www.instagram.com/p/CtcQqgoPTj7/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CtfjaQ6MqQe/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110538445552286127"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3387725"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571952"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202306-pink"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7244721625348902190"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/720058336953925632/202306-pink"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/5K-Z4RW2CdQ"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IQ5Q4M43YE"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A7M8OOZ"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-06-LUXpink-Process-Video-D1D8MA0RM"
  - site: "kofi"
    label: "Process Video (Ko-Fi Shop)"
    url: "https://ko-fi.com/s/7c6d13a479"
---
<p>Shoujo-y style experiment with my protag LUX Pink! Sorry I’ve been gone… I’ve been practicing certain things a lot. I wanted to post this on my birthday, but I’m late a day—oops.</p>