---
date: 2023-06-16
title: "2023.06 Riley"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-riley.webp"
gallThumbAlt: "A youth with straight hair, curtain bangs, and glasses peers at the viewer."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-riley.webp"
    imgZoom: "/src/img/art-gallery/2023-riley.webp"
    imgWidth: "420"
    imgHeight: "596"
    imgAlt: "A youth with traight shair, curtain bangs, and glasses peers at the viewer."
---
