---
date: 2023-10-07
title: "2023.10 Aziel"
galleryCategs: 
  year: "2023"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-aziel-th.webp"
gallThumbAlt: "A masculine person removes his glove with his teeth in front of an ominous background."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-aziel-th.webp"
    imgZoom: "/src/img/art-gallery/2023-aziel.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "A masculine person removes his glove with his teeth in front of an ominous background."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/H55y9LP"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kb65apn4vg2x"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3097906-2023-10-oc-tober-w1"
  - site: "foriio"
    url: "https://www.foriio.com/works/820613"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/21W9SQwDRwRQtgAAA"
  - site: "instagram"
    url: "https://www.instagram.com/p/CyGcHLBL1Cn/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CzWVc6HLFU9/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111194090917014682"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3814926"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/112356061"
  - site: "threads"
    url: "https://hikatamika.com/portfolio/2023-10-aziel/"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7298734080332516638"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/730529811431407616/202310-oc-tober-w1-aziel"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/2Z7enbZqDkE"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A0PTUY6"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U0PWGPR"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-10-Aziel-Process-Video-T6T2QTZCR"
---
<p>Week 1 of #OC_tober: Recent OC</p>
<p>Here’s Aziel, my angel OC! He’s a Powers/Authorities angel, so his job is to restrain and interrogate demons. He has a burning hatred towards one of my other OCs, Hevel, who lied to both Aziel and God so he could have his “I want to be where the People are…” moment.</p>
<p>Every day I’m trying to make my ink-work (digital or otherwise) more manga-like and it’s… just… not… GETTING THERE, y’know?</p>