---
date: 2023-11-09
title: "2023.11 Lux Pink Chibi"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-luxpink-chibi-th.webp"
gallThumbAlt: "A chibi version of my Magical Girl OC, Lux Pink, sits in midair, cupping her face. Digital ink drawing."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-luxpink-chibi-th.webp"
    imgZoom: "/src/img/art-gallery/2023-luxpink-chibi.webp"
    imgWidth: "555"
    imgHeight: "777"
    imgAlt: "A chibi version of my Magical Girl OC, Lux Pink, sits in midair, cupping her face. Digital ink drawing."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/6mlMh2v"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kdrb7fyq2f2e"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3459217-2023-11-lux-pink-chi"
  - site: "foriio"
    url: "https://www.foriio.com/works/820598"
  - site: "instagram"
    url: "https://www.instagram.com/p/CzbhpvHAWT9/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C0ed2ZmLBXc/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C0kICmcvo3z/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C7NSvyqP7kS/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111381263640029987"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3948078"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/113284393"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CzbiXcEpifw"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7309129338065112362"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7309947435122478366"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7371217260502994222"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/733524238979547136/202311-lux-pink-chibi"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/LmOghVCkBMY"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/sk2bXAhaHVs"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/mhxocZ5pxKQ"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IB0B0QVFIV"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IS6S0R29PV"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-11-LUX-Pink-Chibi-Process-Video-S6S6RTKAJ"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-11-Lux-Pink-Chibi-Timelapse-O5O5RTKCB"
---
<p>Week 4 of #OC_tober, main OC, Amity Williams/Lux Pink, the protag of my biggest project, my #MagicalGirl story Divine Operatives Lux;Nox.</p>