---
date: 2023-06-29
title: "2023.06 Pink Mirror"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-pink-mirror-th.webp"
gallThumbAlt: "A 3d model of a pink compact mirror in the style of a magical girl item. It opens and closes."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-pink-mirror-th.webp"
    imgVideo: 
      site: "youtube"
      id: "k0Aq916apfw"
    imgAlt: "A 3d model of a pink compact mirror in the style of a magical girl item. It opens and closes."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/aeyEqKP"
  - site: "cara"
    url: "https://cara.app/post/f0810949-6abc-4df4-b594-3f982372e01d"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/1787027-2023-06-pink-mirror"
  - site: "foriio"
    url: "https://www.foriio.com/works/820626"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/EXcJeG2BzQrg5PXaA"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CuIEDP6NRbR/"
  - site: "kofi"
    url: "https://ko-fi.com/post/2023-06-Pink-Mirror-K3K6MQW0L"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110635416692027726"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3445028"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CuXTyZ7OF6r"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7250603144512621867"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/721598304388038656/figured-id-use-blender3d-to-make-more-props-of"
  - site: "yt-shorts"
    url: "https://www.youtube.com/shorts/hlbmo1FxgVk"
---
<p>Figured I’d use Blender 3D to make more props of webcomic items I struggle to rotate in my imagination. This is LUX Pink’s compact mirror! A staple Magical Girl item, innit?</p>
<p>It’ll import into CSP quite nicely!</p>