---
date: 2023-09-02
title: "2023.09 LUX:pink DTIYS"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-luxpink-dtiys-th.webp"
gallThumbAlt: "A pink, nurse/angel themed magical girl rests her chin in her hand."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-luxpink-dtiys-th.webp"
    imgZoom: "/src/img/art-gallery/2023-luxpink-dtiys.webp"
    imgWidth: "672"
    imgHeight: "672"
    imgAlt: "A pink, nurse/angel themed magical girl rests her chin in her hand."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/Lb8Hjjr"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k7tccobi4h2r"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2881565-2023-09-lux-pink-dti"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/MaieGQAk24x5619GA"
  - site: "instagram"
    url: "https://www.instagram.com/p/CxaismfsJpW/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CxakDomLFDe/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111097625086473161"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3748617"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/111889754"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CxajfumLlde"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7280896793989238059"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/729027620573003776/202309-lux-pink-dtiys"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/P2c5C_LqtMQ"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IJ3J0OVBAM"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IE1E2PBL9Y"
---
<p>A little drawing of Lux Pink I just finished as a DTIYS prompt for passing 250 followers on my Instagram! (I know, I know. 🤡) Just wanted to do something fun!</p>