---
date: 2023-03-04
title: "2023.03 Link"
galleryCategs: 
  year: "2023"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-link-th.webp"
gallThumbAlt: "Fanart of Tears of the Kingdom Link with the broken Master Sword"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-link-th.webp"
    imgZoom: "/src/img/art-gallery/2023-link.webp"
    imgWidth: "1220"
    imgHeight: "1220"
    imgAlt: "Fanart of Tears of the Kingdom Link with the broken Master Sword"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/aq4fx6E"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/1154839-2023-03-link"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cp0onYjPslX/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/Cp0pn78Olrp/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CqB1D1djFfG/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110029548213304416"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3238870"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/109571907"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7210868031927455019"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7212767709031894318"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/711906030259437568/202303-link"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/0RREbrmIYrk"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/n3IGDYgYBKA"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A2JA9QZ"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IS6S5JCQ39"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-03-Link-Timelapse-L4L0JIK0N"
---
<p>Really excited for the new game!! (Someone get this guy some therapy.)<br>If I have to give up good armor to have him look like this the whole game: I will. 🧍/hj</p>