---
date: 2023-11-21
title: "2023.11 Anya Chibi"
galleryCategs: 
  year: "2023"
  subject: "friendsOCs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-anya-chibi-01-th.webp"
gallThumbAlt: "Chibi art of a blue-themed witch with dark skin and hair. She has a blue hair-streak, a duck-themed staff, and potion bottles on her belt."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-anya-chibi-01-th.webp"
    imgZoom: "/src/img/art-gallery/2023-anya-chibi-01.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi art of a blue-themed witch with dark skin and hair. She has a blue hair-streak"
  - slide:
    imgThumb: "/src/img/art-gallery/2023-anya-chibi-02-th.webp"
    imgZoom: "/src/img/art-gallery/2023-anya-chibi-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi art of a blue-themed witch with dark skin and hair. She has a blue hair-streak, a duck-themed staff, and potion bottles on her belt."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/onKb14v"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kepg3uskj42u"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3603275-2023-11-anya-queer-t"
  - site: "foriio"
    url: "https://www.foriio.com/works/951265"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/ELb6g2vP7fj8BUnx9"
  - site: "instagram"
    url: "https://www.instagram.com/p/Cz6bMS2Nrfp/"
  - site: "kofi"
    url: "https://hikatamika.com/portfolio/2023-11-anya-chibi/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111449213922618921"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/113602356"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/Cz6aU7hLZb2"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7303934718301539627"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/734611180767920128/202311-anya-chibi-queertyrant"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IP5P8R639D"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IV7V2RBOJE"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IM4M4RDG0J"
---
<p>1st up on #DTIYSPrize chibis is <a href="https://bsky.app/profile/did:plc:zh5tzpwmuukzwseofdnvrerb">@queertyrant</a>‘s #OC, Anya!! I really love the magic circle inside the brim of her hat. What’s your fave part of her design? Thanks for participating in my #DTIYS, Kai!!</p>