---
date: 2023-10-19
title: "2023.10 LUX:pink Doodle"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2023-luxpink-doodle.webp"
gallThumbAlt: "A 3/4 left drawing of my magical girl OC."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-luxpink-doodle.webp"
    imgZoom: "/src/img/art-gallery/2023-luxpink-doodle.webp"
    imgWidth: "537"
    imgHeight: "537"
    imgAlt: "A 3/4 left drawing of my magical girl OC."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kcnyf4zxaw2f"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IW7W5QBERN"
---
<p>Hello! Covid-fatigue sucks. My brain is very eepy. Hoping to play catchup with OC-tober Weeks 2 &amp; 3. Here is a de-rust drawing of sorts.</p>