---
date: 2023-04-17
title: "2023.04 VSynth Teto"
galleryCategs: 
  year: "2023"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-teto-th.webp"
gallThumbAlt: "Manga-style headshot of Kasane Teto"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-teto-th.webp"
    imgZoom: "/src/img/art-gallery/2023-teto.webp"
    imgWidth: "1056"
    imgHeight: "594"
    imgAlt: "Manga-style headshot of Kasane Teto"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/ruiB2En"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/1350726-2023-04-synth-v-tet"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110215755192033699"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3291928"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/714875687507509248/202304-synthv-teto"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/ID1D2KFZDW"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IL3L1KHTRL"
---
<p>Some Teto fanart! 🥺 Can’t believe it’s been a whole 15 years!</p>