---
date: 2023-08-19
title: "2023.08 NOX:indg"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-noxindg-th.webp"
gallThumbAlt: "A hooded hijabi Magical-Hero OC gives double peace signs"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-noxindg-th.webp"
    imgZoom: "/src/img/art-gallery/2023-noxindg.webp"
    imgWidth: "480"
    imgHeight: "672"
    imgAlt: "A hooded hijabi Magical-Hero OC gives double peace signs"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/AHEfmx7"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k5mxargvuo23"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2551533-2023-08-nox-indigo"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/dYecQzGtjPHgM1fy5"
  - site: "instagram"
    url: "https://www.instagram.com/p/CwSgEjZOo9h/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CwVEoDYJZ1r/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110939225328569892"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3648483"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/111100177"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CwSfH_IRfSL"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7270510793643347242"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/726491408493641728/202308-nox-indigobeen-tryna-draw-art-faster"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/o7puG01aZT0"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IO5O8OEO38"
---
<p>Been tryna draw art faster… Here’s a drawing of my Magical Hero OC, NOX Indigo (they/them). Took me 3hrs, which I still think is too long. Or maybe I’m just self conscious?</p>