---
date: 2023-07-20
title: "2023.07 NOX:blck"
galleryCategs: 
  year: "2023"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-noxblck-01-th.webp"
gallThumbAlt: "A punky young woman gives out an electric kick! There’s lightning and magic sparkles in the background."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-noxblck-01.webp"
    imgZoom: "/src/img/art-gallery/2023-noxblck-01.webp"
    imgWidth: "480"
    imgHeight: "672"
    imgAlt: "A punky young woman gives out an electric kick! There’s lightning and magic sparkles in the background."
  - slide:
    imgThumb: "/src/img/art-gallery/2023-noxblck-02-th.webp"
    imgZoom: "/src/img/art-gallery/2023-noxblck-02.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "A punky young woman gives out an electric kick! There’s lightning and magic sparkles in the background."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/h7xKNw8"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3k3emd57ihx24"
  - site: "cara"
    url: "https://cara.app/post/7d7623d8-4661-421d-a941-041d93827d3e"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/2178243-2023-07-nox-black"
  - site: "foriio"
    url: "https://www.foriio.com/works/820616"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/NgcQejgH7i1eVVhJ8"
  - site: "instagram"
    url: "https://www.instagram.com/p/CvIbfPDxMRm/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CvN58nlvKVl/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/110776322712621095"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3539625"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/110246790"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CvIbUsAPyks"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7260627158584921387"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/723864086778101761/202307-nox-black"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/rbhOr8RQhPg"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IB0B3NEY1Q"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IR5R6NFT0S"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IW7W3NIVGG"
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2023-07-NOX-Black-Process-Video-J3J0NLLMQ"
  - site: "kofi"
    label: "Process Video (Ko-Fi Shop)"
    url: "https://ko-fi.com/s/e39d881f20"
---
<p>Redrew one of my Magical Girl OCs, Nox Black for my upcoming Sketch Zine cover!! I had a blast doing this and the improvement was fun to see! 😭😭</p>