---
date: 2023-09-28
title: "2023.09 Vicky 5K DTIYS"
galleryCategs: 
  year: "2023"
  subject: "friendsOCs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-vicky-5k-dtiys-th.webp"
gallThumbAlt: "Valinda and Astra from My Life as a Magical Girl in a digital ink style. In Vicky's original prompt, Valinda leans over Astra from behind. The two look playfully at each other."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-vicky-5k-dtiys-th.webp"
    imgZoom: "/src/img/art-gallery/2023-vicky-5k-dtiys.webp"
    imgWidth: "672"
    imgHeight: "672"
    imgAlt: "Valinda and Astra from My Life as a Magical Girl in a digital ink style. In Vicky's original prompt, Valinda leans over Astra from behind. The two look playfully at each other."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/htHJP5u"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kan7nbpviv2z"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3022165-2023-09-vicky-5k-dti"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/j68PyguoD3FuvjG69"
  - site: "instagram"
    url: "https://www.instagram.com/p/CxzjLHRuQ27/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/Cx1VuZhP4pe/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111155988665812737"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3787535"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/112172612"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7284751905669074222"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/729920005787058178/congrats-on-5k-vickycreator1-started-this"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IX8X2POXT3"
---
<p><a href="https://www.instagram.com/hikatamika/"><br></a>CONGRATS ON 5K!!! <a href="https://www.instagram.com/vickycreator1.art/">@vickycreator1.art</a> started this DTIYS for 1K but got to 5K before the deadline! Ain’t that wild?<br>I’m fashionably late, but right on time with a digital ink rendition of Valinda and Astra!! I’m super curious about them so I gotta read My Life as a Magical Girl. :3c They look rly cute!! 💞</p>