---
date: 2023-10-09
title: "2023.10 Eilian"
galleryCategs: 
  year: "2023"
  subject: "friendsOCs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2023-eilian-th.webp"
gallThumbAlt: "A young man sheepishly looks at the viewer, leaning to one side. He has white and brown hair."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2023-eilian-th.webp"
    imgZoom: "/src/img/art-gallery/2023-eilian.webp"
    imgWidth: "818"
    imgHeight: "818"
    imgAlt: "A young man sheepishly looks at the viewer, leaning to one side. He has white and brown hair."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/o7uMIkz"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kbi3xnhrva2l"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/3136869-2023-10-eilian"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/FnfdvRpZwhsGVECU8"
  - site: "instagram"
    url: "https://www.instagram.com/p/CyQnYQINZnZ/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/CzEQw_iLGmU/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111216528494392776"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/3830704"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/112469310"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/CyQpoyAr66_"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7295589769147469098"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/730930035580600320/digi-inked-eilian-really-quick-to-test-out-some"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/BPBTsHQtj4A"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U7PZOO1"
  - site: "kofi"
    label: "https://ko-fi.com/post/2023-10-Eilian-Timelapse-L3L1QMXZX"
    url: "Timelapse (Ko-Fi)"
---
<p>Digi-inked Eilian really quick to test out some manga pens I’m making for CSP!</p>
<p>He belongs to <a href="https://www.instagram.com/Demorrtis/">@Demorrtis</a>, who’s super nice and has lots of cool OCs &amp; stories bouncing around in their head.</p>