---
date: 2024-05-14
title: "2024.04 Danny &amp; SpongeBob"
galleryCategs: 
  year: "2024"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-danny-spongebob-th.webp"
gallThumbAlt: "A happy Spongebob is sitting on a tired, but also happy Danny Fenton. Spongebob’s positive aura is recharging Danny."
gallThumbFocus: 54% 50%;
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-danny-spongebob-th.webp"
    imgZoom: "/src/img/art-gallery/2024-danny-spongebob.webp"
    imgWidth: "816"
    imgHeight: "849"
    imgAlt: "A happy Spongebob is sitting on a tired, but also happy Danny Fenton. Spongebob’s positive aura is recharging Danny."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/ubIlvow"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kshfjxh7du2b"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/5957898-2024-04-danny-spon"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/XZyijhChsStMsnuD6"
  - site: "instagram"
    url: "https://www.instagram.com/p/C68-541RKD1/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IX7X2Y3U1B"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112439919118196501"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4747076"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/696004316784559839"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202404-danny-spongebob"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C68_cFDx4tV"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7377897578253258030"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/750491306560831488/every-depressed-guy-gets-a-neutron-mandated"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/siZFd4xlMKY"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IV7V7XJPDW"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IE1E6Y2VBV"
---
<p>Every depressed guy gets a Neutron-mandated sunshine-bestie.<br>ft. <a href="https://www.instagram.com/IzBubbles/">@IzBubbles</a>’ Danny.</p>
<p>Just a doodle.</p>