---
date: 2024-03-19
title: "2024.03 Indigo"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-noxindg-th.webp"
gallThumbAlt: "My original character, a blue, hijabi, magical hero, marching with a Palestinian flag. Olive branches hang from a tree. Text says: Free Palestine, Defund Genocide, Ceasefire Now"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-noxindg-th.webp"
    imgZoom: "/src/img/art-gallery/2024-noxindg.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "My original character, a blue, hijabi, magical hero, marching with a Palestinian flag. Olive branches hang from a tree. Text says: Free Palestine, Defund Genocide, Ceasefire Now"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/oz5Bu4b"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ko57mua5wm2z"
  - site: "cara"
    url: "https://cara.app/post/ef7bf325-5412-4176-8775-a56ababf60a6"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/5184965-2024-03-indigo"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/Z3NMnAuUYvi8ERPt5"
  - site: "instagram"
    url: "https://www.instagram.com/p/C4v0yadLO3g/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C5UBLJjy7ks/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IN4N7VWEL9"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112128789955142114"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4510199"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/676140709957241419"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/117109965"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202403-indigo"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C4vdEnTL6R9"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7353647516883225887"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/745508287336890368/202403-indigodefundgenocide-ceasefirenow-and"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/pc6IyFRsHmY"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1 (Ko-Fi)"
    url: "https://ko-fi.com/i/IC0C3V80KJ"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IN4N4VIY3T"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IN4N8VWEML"
  - site: "kofi"
    label: "Speedpaint (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-03-Indigo-Speedpaint-P5P7WK2XP"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-03-Indigo-Timelapse-V7V6WK32I"
---
<p>#DefundGenocide, #CeasefireNOW, and #FreePalestine. No exceptions.<br>I’ll be posting links to resources in my story, which I’ll make a highlight on my profile.</p>