---
date: 2024-10-30
title: "2024.10 LUX:vrdn"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-luxvrdn-th.webp"
gallThumbAlt: "Drawing of a youth with pastel green hair, big goggles, and a big zipper on their green jacket. They’re looking face forward with a smirk."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-luxvrdn-th.webp"
    imgZoom: "/src/img/art-gallery/2024-luxvrdn.webp"
    imgWidth: "825"
    imgHeight: "825"
    imgAlt: "Drawing of a youth with pastel green hair, big goggles, and a big zipper on their green jacket. They’re looking face forward with a smirk."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/Gwrwoav"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l7qcs3w2by2c"
  - site: "cara"
    url: "https://cara.app/post/360678e0-59ab-403b-a19c-15b1760fdf57"
  - site: "kofi"
    url: "https://ko-fi.com/i/IJ3J315FPR2"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113397930611583365"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/123844312"
  - site: "sheezyart"
    url: "https://hikatamika.com/portfolio/2024-10-luxvrdn/"
  - site: "tumblr"
    url: "https://hikatamika.com/portfolio/2024-10-luxvrdn/"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IS6S615FPT0"
---
