---
date: 2024-02-06
title: "2024.02 BSky Amity"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2024-bsky-amity-th.webp"
gallThumbAlt: "My OC Amity with a butterfly on her nose!"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-bsky-amity-th.webp"
    imgZoom: "/src/img/art-gallery/2024-bsky-amity.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "My OC Amity with a butterfly on her nose!"
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kkrqwgbw2n2i"
---
<p>A butterfly for BlueSky day!! 🦋 Sorry, I’m rusty on paper.</p>