---
date: 2024-01-23
title: "2024.01 VTuber Body Ref"
galleryCategs: 
  year: "2024"
  subject: "hikaSona"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-vtuber-body-ref-th.webp"
gallThumbAlt: "Turnaround Vtuber ref sheet: alien character"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-vtuber-body-ref-th.webp"
    imgZoom: "/src/img/art-gallery/2024-vtuber-body-ref.webp"
    imgWidth: "1920"
    imgHeight: "1080"
    imgAlt: "Turnaround Vtuber ref sheet: alien character"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/hjMLDOl"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kjo4akefsh2q"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/4233222-2024-01-v-tuber-body"
  - site: "foriio"
    url: "https://www.foriio.com/works/951268"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/kawmj8re8zsioqkX9"
  - site: "instagram"
    url: "https://www.instagram.com/p/C2dJ5ANxjel/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IN4N8TKIMK"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111806351727039283"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4237621"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/655500704188040110"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/115344723"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C2c6WXdvMbW"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/740348335790211072/been-working-on-a-layered-vtuber-ref-sheet-for-a"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U5T37E3"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IF1F1TKHWM"
---
<p>Been working on a layered VTuber ref sheet for a 3D model! Got on a waitlist I really wanted, and am hoping for acceptance! Hopefully making videos will become way easier. Also PLEASE don’t solicit services in the replies, ty.</p>