---
date: 2024-05-15
title: "2024.05 Tarsi"
galleryCategs: 
  year: "2024"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-tarsi-th.webp"
gallThumbAlt: "A non-binary person with wild hair glares at the viewer. They disappear behind raindrop graphics."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-tarsi-th.webp"
    imgZoom: "/src/img/art-gallery/2024-tarsi.webp"
    imgWidth: "861"
    imgHeight: "861"
    imgAlt: "A non-binary person with wild hair glares at the viewer. They disappear behind raindrop graphics."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/wBH4Cys"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ku47ycn5t22f"
  - site: "cara"
    url: "https://cara.app/post/5ec394fb-33bb-4615-84b6-078c4e72fa9b"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6270990-2024-05-tarsi"
  - site: "instagram"
    url: "https://www.instagram.com/p/C7zD4b4JAvM/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C8N0E-fvwuF/"
  - site: "kofi"
    url: "https://ko-fi.com/i/II2I3YXYNB"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112559557915113577"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202405-tarsi"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C7zDKRxJjOH"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7380517584258534687"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/752394634806935552/my-friends-senorita-patita-tabletop"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IG2G0YXYM0"
---
<p>My friend’s tabletop character! They got cool rain powers in the Moongrave campaign we’re doing.</p>