---
date: 2024-05-28
title: "2024.05 MG Riley"
galleryCategs: 
  year: "2024"
  subject: "AUs"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-mg-riley-th.webp"
gallThumbAlt: "Digital ink drawing. A young person with long parted fringe and a short ponytail looks up and to the side."
gallThumbFocus: 47% 50%
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-mg-riley-th.webp"
    imgZoom: "/src/img/art-gallery/2024-mg-riley.webp"
    imgWidth: "720"
    imgHeight: "720"
    imgAlt: "Digital ink drawing. A young person with long parted fringe and a short ponytail looks up and to the side."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/HGmcrLH"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ktkokmmjzu24"
  - site: "cara"
    url: "https://cara.app/post/b44143e8-4d21-4425-8eea-f54b32a51af3"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6162463-asked-my-friend-if-t"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/J24J7DZ27q8kZLqh9"
  - site: "instagram"
    url: "https://www.instagram.com/p/C7hFtwzRAWr/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C72de6_y0hQ/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C8LEiC9SlrT/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IQ5Q1YN2XF"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112519406505232810"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4807310"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/701091181045750044"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/119148853"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202405-moongrave-riley"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C7hFbB1Rn06"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7374073679505870123"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7377149956504735019"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7380120760897047839"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/751761443343450113/asked-my-friend-if-theyd-dm-moongrave-for-me"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/Zr_pddHkIeQ"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/TfBPgApazFg"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IQ5Q5YN2YE"
---
<p>Asked my friend if they’d DM Moongrave for me. It’s a Tabletop RPG about a Magical Girl that has passed. Here’s my player character!</p>