---
date: 2024-04-29
title: "2024.04 Tak"
galleryCategs: 
  year: "2024"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-tak-th.webp"
gallThumbAlt: "Both a bust, and full figure portrait of Tak and the Power of Juju at a young-adult age in line with Izzy Bubbles’ young adult AU of the Nicktoons Unite series. He looks mostly the same, but has thrifted a shirt from Bikini Bottom, shorts from Amity Park, and Jimmy Neutron has invented highly durable socks for him."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-tak-th.webp"
    imgZoom: "/src/img/art-gallery/2024-tak.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "Both a bust, and full figure portrait of Tak and the Power of Juju at a young-adult age in line with Izzy Bubbles’ young adult AU of the Nicktoons Unite series. He looks mostly the same, but has thrifted a shirt from Bikini Bottom, shorts from Amity Park, and Jimmy Neutron has invented highly durable socks for him."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/ghGIkIp"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3krbmrvfmi42p"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/5737182-2024-04-tak"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/ufZ2toSSD8cqurXD8"
  - site: "instagram"
    url: "https://www.instagram.com/p/C6WRS0mxTw5/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C7C6vwgP7dL/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C6uXHuePCZo/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IE1E7XHVPF"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112354871082750559"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4685254"
  - site: "pixelfed"
    url: "https://pixelfed.social/i/web/post/690637601834562660"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202404-tak"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C6WX2EArcHv"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7369722930806164782"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7366759926842133802"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/749102064420978688/timmys-weird-substitute-ayo-shoutout-to-quinton"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/5T8-9GIyHzQ"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/4MFDBysxEUk"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP Ko-Fi"
    url: "https://ko-fi.com/i/IK3K4XE5AZ"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IG2G6XE6BD"
---
<p>Timmy’s weird substitute.<br>Ayo shoutout to Quinton, I only had the first game so if it weren’t for him I wouldn’t have known Tak’s in not one, but two of ‘em.</p>
<p>SpongeBob, Danny, and Timmy designs are by <a href="https://www.instagram.com/izbubbles/" data-type="link" data-id="https://www.instagram.com/izbubbles/">@izbubbles</a>!</p>