---
date: 2024-08-20
title: "2024.08 Did it Work?"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-did-it-work-th.webp"
gallThumbAlt: "A girl with long, asymmetrical, dip-dyed hair and a septum piercing gives a sour look to someone off-panel, asking, “did it work?”"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-did-it-work-th.webp"
    imgZoom: "/src/img/art-gallery/2024-did-it-work.webp"
    imgWidth: "1275"
    imgHeight: "825"
    imgAlt: "A girl with long, asymmetrical, dip-dyed hair and a septum piercing gives a sour look to someone off-panel, asking, “did it work?”"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/eqArpk1"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l25sheepzs2t"
  - site: "cara"
    url: "https://cara.app/post/225d009e-d45b-4ed7-a81e-2297fbb82238"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/7366761-2024-08-did-it-work"
  - site: "kofi"
    url: "https://ko-fi.com/i/IJ3J61249T7"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112994780158566085"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/121689202"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202408-did-it-work/"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/759369934715453440/202408-did-it-work"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IO5O31249UJ"
---
<p>And I’m still right here where you left me, You went out there, did you forget me? Did it work…?</p>
<p><a href="https://www.youtube.com/watch?v=EDrGdbiACGQ" data-type="link" data-id="https://www.youtube.com/watch?v=EDrGdbiACGQ">Sofia Valdes</a> dropped a new song and it reminded me of one of my OCs. <img draggable="false" role="img" class="emoji" alt="😤" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f624.svg"> You should check it out!</p>