---
date: 2024-07-31
title: "2024.07 Hevel’s Jewelry"
galleryCategs: 
  year: "2024"
  subject: "demiHumanDiaries"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-hevels-jewelry-th.webp"
gallThumbAlt: "A silver crescent moon pendant on a chain, and two silver stud earrings with flat dangly slabs. There are golden ring-like halo shapes in the background."
gallThumbFocus: 16% 82%;
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-hevels-jewelry-th.webp"
    imgVideo:
      site: "youtube"
      id: "1ntp_nk8nN0"
    imgAlt: "A silver crescent moon pendant on a chain, and two silver stud earrings with flat dangly slabs. There are golden ring-like halo shapes in the background."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/weeacJB"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kyj2wtxbiq2o"
  - site: "cara"
    url: "https://cara.app/post/7f7b510b-f617-4627-bb04-7464d476bd9d"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/7085623-2024-07-hevel-s-jewe"
  - site: "foriio"
    url: "https://www.foriio.com/works/1190478"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C-_Q2_UyBHQ/"
  - site: "kofi"
    url: "https://ko-fi.com/post/2024-07-Hevels-Jewelry-U7U7114YQP"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112876043358952525"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202407-hevels-jewelry"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7406089627527875871"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/757467394833776640"
  - site: "youtube"
    url: "https://www.youtube.com/watch?v=1ntp_nk8nN0"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/RPLE9a4cMis"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IC0C8114YXS"
---
<p>Made Hevel’s (My OC’s) bling in #Blender3D for enrichment. Actually not a hard design to rotate in my mind, I just needed something Zen to do.</p>