---
date: 2024-12-03
title: "2024.11 Hika Melo"
galleryCategs:
  year: "2024"
  subject: ["hikaSona", "lxnx"]
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-hika-melo-th.webp"
gallThumbAlt: "Parody art of Hika’s alien sona along with their magical girl OC, Lux Pink, as Sanrio mascots. Both clasp their hands pleadingly. By way of anime subtitle, they ask the viewer to tune in to the latest episode of Sparkleside chats."
gallThumbFocus: 11% 40%;
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-hika-melo-th.webp"
    imgZoom: "/src/img/art-gallery/2024-hika-melo.webp"
    imgWidth: "1050"
    imgHeight: "788"
    imgAlt: "Parody art of Hika’s alien sona along with their magical girl OC, Lux Pink, as Sanrio mascots. Both clasp their hands pleadingly. By way of anime subtitle, they ask the viewer to tune in to the latest episode of Sparkleside chats."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/bjpGinf"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lcfshc24mz2x"
  - site: "cara"
    url: "https://cara.app/post/d76b251b-c744-46c4-8681-bb1d81f08ea5"
  - site: "kofi"
    url: "https://ko-fi.com/i/IQ5Q416XU8X"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113591424392907228"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202411-hikamelo"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/768886774597582848"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/II2I616XUAT"
---
<p>My guest episode on Sparkleside Chats is out now!! It’d mean a lot to me (&amp; Lux Pink!) if you subscribed to the podcast and gave it a listen! It’s a podcast where guests come on and discuss #MagicalGirl media with <a href="https://bsky.app/profile/did:plc:2aipx3tguycwgwnvjiddc3bk">@magicalgirlayu.bsky.social</a> !!</p>