---
date: 2024-07-11
title: "2024.07 Clay’s Earpiece"
galleryCategs: 
  year: "2024"
  subject: "cyborg2535"
  medium: "3dArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-clays-earpiece-th.webp"
gallThumbAlt: "3D model of an antenna earpiece with wired connection ports hidden behind a lidded part."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-clays-earpiece-th.webp"
    imgVideo:
      site: "youtube"
      id: "lOT19hOklUE"
    imgAlt: "3D model of an antenna earpiece with wired connection ports hidden behind a lidded part."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/hLu41be"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kwwuavsbrd25"
  - site: "cara"
    url: "https://cara.app/post/7f7b510b-f617-4627-bb04-7464d476bd9d"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6823456-2024-07-clay-s-earpi"
  - site: "foriio"
    url: "https://www.foriio.com/works/1158391"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C-bN3uLyzwG/"
  - site: "kofi"
    url: "https://ko-fi.com/post/2024-07-Clays-Earpiece-N4N110CPUE"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112762983006993973"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202407-clays-earpiece"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7400894668608671006"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/755655576299667456/clays-earpiece-d-as-an-android-he-uses-this"
  - site: "youtube"
    url: "https://www.youtube.com/watch?v=lOT19hOklUE"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/kV8lYBSfikg"
gallerySupportLinks:
  - site: "kofi"
    label: "Process Video (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-07-Clays-Earpiece-Speed-Modeling-T6T41087KE"
---
