---
date: 2024-10-29
title: "2024.10 NOX:indg Redraw"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-noxindg-redraw-th.webp"
gallThumbAlt: "My hijabi magical hero, Nox Indigo, winking and flashing a peace sign, in color! A colored, digital ink drawing."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-noxindg-redraw-th.webp"
    imgZoom: "/src/img/art-gallery/2024-noxindg-redraw.webp"
    imgWidth: "864"
    imgHeight: "864"
    imgAlt: "My hijabi magical hero, Nox Indigo, winking and flashing a peace sign, in color! A colored, digital ink drawing."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/royy9sz"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l6klscsm6s2j"
  - site: "cara"
    url: "https://cara.app/post/10b8c649-1a17-4c78-8368-de91c2e7031f"
  - site: "kofi"
    url: "https://ko-fi.com/i/IM4M614PQ46"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113313703931261834"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/123803356"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202410-noxindg-redraw"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/764443363353182208"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IK3K114NXT4"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IX8X114PQ52"
---
<p>Redrawing this one drawing of Nox Indigo from an old Inktober… again!<br>I wanted to draw something I could quickly have fun coloring.</p>
<p>Used some #TrueGritTextureSupply on this one.</p>