---
date: 2024-08-29
title: "2024.08 Why So Mad?"
galleryCategs: 
  year: "2024"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-why-so-mad-th.webp"
gallThumbAlt: "Hevel, my angel OC, and Dami, my half-demon OC eerily stand on the sidewalk in front of an alleyway like the “Why this 🥷 so mad?” meme. There’s alleyway clutter in the background. Hevel’s face is hidden in shadow."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-why-so-mad-th.webp"
    imgZoom: "/src/img/art-gallery/2024-why-so-mad.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "Hevel, my angel OC, and Dami, my half-demon OC eerily stand on the sidewalk in front of an alleyway like the “Why this 🥷 so mad?” meme. There’s alleyway clutter in the background. Hevel’s face is hidden in shadow."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/vEeO7ok"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l2pex6f6eu24"
  - site: "cara"
    url: "https://cara.app/post/fc3d826c-869d-4fda-b428-3e3c0d3d0e21"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/7416080-2024-08-why-so-mad"
  - site: "foriio"
    url: "https://www.foriio.com/works/1236451"
  - site: "kofi"
    url: "https://ko-fi.com/i/ID1D512B6U1"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113036250596588044"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/121958254"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202408-why-so-mad"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7407943575671033118"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/760004109914046464/202408-why-so-mad"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1 (Ko-Fi)"
    url: "https://ko-fi.com/i/IF2F611AL47"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IT6T111CAGF"
  - site: "kofi"
    label: "WIP 3 (Ko-Fi)"
    url: "https://ko-fi.com/i/IG2G111LO1W"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IX8X512B6VL"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-08-Why-So-Mad-Timelapse-Z8Z812XUN1"
  - site: "kofi"
    label: "Speedpaint Part 1 (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-08-Why-So-Mad-Speedpaint-Part-1-T6T112XUJ1"
  - site: "kofi"
    label: "Speedpaint Part 2 (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-08-Why-So-Mad-Speedpaint-Part-2-N4N612XUKV"
---
<p>Why dis 👼 look so mad?!<br>You see Hevel &amp; Dami boutta jaywalk towards you—what do you do?! Had fun using #Blender3D to set up the BG for this one! <a href="https://knowyourmeme.com/memes/why-dis-nigga-look-so-mad" target="_blank">Sorry for putting them somewhere else than the redraw!</a> 💧</p>