---
date: 2024-05-09
title: "2024.05 Stairway to Heaven"
galleryCategs: 
  year: "2024"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-stairway-to-heaven-th.webp"
gallThumbAlt: "A young man with 6 eyes and 4 wings on his head sits in a dimly lit, metro stairway with infinite stairs. He is bruised, cut, scraped, and bleeds ichor."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-stairway-to-heaven-th.webp"
    imgZoom: "/src/img/art-gallery/2024-stairway-to-heaven.webp"
    imgWidth: "816"
    imgHeight: "1056"
    imgAlt: "A young man with 6 eyes and 4 wings on his head sits in a dimly lit, metro stairway with infinite stairs. He is bruised, cut, scraped, and bleeds ichor."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/Om3LNI6"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ksyy33rydw2d"
  - site: "cara"
    url: "https://cara.app/post/83b3b67b-cd3b-450f-87fa-7eead0c2cd2a"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6062455-2024-05-stairway-to"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/kJZKuLJYngh68M6M9"
  - site: "instagram"
    url: "https://www.instagram.com/p/C7O9l8BRg7u/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C7nACPYvW6a/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C8DVow_SxRk/"
  - site: "kofi"
    url: "https://ko-fi.com/i/ID1D5YDIN5"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112479540968534889"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4778297"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/698540284520952283"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/118944943"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/stairway-to-heaven"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C7O9I0dxGO4"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7371462998667349294"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7374922775103950123"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7379006373079616799"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/751125683044007936/202405-stairway-to-heaven"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/Hnk0LG7F9Xs"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/sAR50kSXx38"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IV7V5XX55P"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IE1E8YDJR5"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-05-Stairway-to-Heaven-Timelapse-U7U4ZIVN4"
  - site: "kofi"
    label: "Speedpaint (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-05-Stairway-to-Heaven-Speedpaint-D1D5ZIVGY"
---
<p>To this day I tumble down floors,<br>feeling the lingering weight of your push.</p>