---
date: 2024-07-03
title: "2024.07 Wynn"
galleryCategs: 
  year: "2024"
  subject: "cyborg2535"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2024-wynn-th.webp"
gallThumbAlt: "A young-man with dreads in a half-ponytail smiles nervously with an anime sweatdrop."
gallThumbFocus: 25% 43%
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-wynn-th.webp"
    imgZoom: "/src/img/art-gallery/2024-wynn.webp"
    imgWidth: "614"
    imgHeight: "614"
    imgAlt: "A young-man with dreads in a half-ponytail smiles nervously with an anime sweatdrop."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/5I8vIl8"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kwduykvxpf2q"
  - site: "cara"
    url: "https://cara.app/post/e62d0631-903a-4e36-bcac-0156d769e412"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6726726-2024-07-wynn"
  - site: "kofi"
    url: "https://ko-fi.com/i/IZ8Z6102ADU"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112723667981134580"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202407-wynn"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/755021538844164096/silly-sketchbook-doodle-of-one-of-my-cyberpunk"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IT6T6102AGA"
---
<p>Silly sketchbook doodle of one of my #Cyberpunk OCs, Wynn <img draggable="false" role="img" class="emoji" alt="😀" src="https://s.w.org/images/core/emoji/16.0.1/svg/1f600.svg"></p>