---
date: 2024-07-16
title: "2024.07 Petra"
galleryCategs: 
  year: "2024"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-petra-th.webp"
gallThumbAlt: "Petra, (she/her, non-binary) grins mischievously at something off-camera. She has an eyepatch."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-petra-th.webp"
    imgZoom: "/src/img/art-gallery/2024-petra.webp"
    imgWidth: "672"
    imgHeight: "672"
    imgAlt: "Petra, (she/her, non-binary) grins mischievously at something off-camera. She has an eyepatch."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/gmPFf78"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kxfw2o2rjx2k"
  - site: "cara"
    url: "https://cara.app/post/24fc99d3-6ee3-4259-b390-53233eb3934f"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/6895251-2024-07-petra"
  - site: "foriio"
    url: "https://www.foriio.com/works/1167886"
  - site: "kofi"
    url: "https://ko-fi.com/i/IW7W810EAUN"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112796881027166065"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/120605206"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202407-petra"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/756199031115513856/"
  - site: "youtube"
    url: "https://www.youtube.com/watch?v=xcHTMzfhmBg"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U610CZ9F"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/ID1D410EAT7"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-07-Petra-Timelapse-I2I6117ZPB"
---
<p>Drew @Doodlemancy’s Petra last week!! Bit of a time-trial and trying to convince myself I can color effectively. Jury’s still out on all that. I think I’m carried by my lineart tbh.<br>#OriginalCharacter #Art #OCArtist (#ArtFight but you can’t attack me. All my characters are hidden! Weh!! 🤪)</p>