---
date: 2024-12-12
title: "2024.12 Tori Sketch"
galleryCategs: 
  year: "2024"
  subject: "friendsOC"
  medium: "analogArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2024-tori-sketch-th.webp"
gallThumbAlt: "Drawing of a girl with a hoodie, glasses, a long ponytail, and two curled curtain bangs."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-tori-sketch-th.webp"
    imgZoom: "/src/img/art-gallery/2024-tori-sketch.webp"
    imgWidth: "892"
    imgHeight: "1002"
    imgAlt: "Drawing of a girl with a hoodie, glasses, a long ponytail, and two curled curtain bangs."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ld4rg7j5wc2v"
  - site: "kofi"
    url: "https://ko-fi.com/i/IN4N417CVZ8"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202412-tori-sketch"
gallerySupportLinks:
  - site: "kofi"
    label: "Full Sketchbook Spread Scans (Ko-Fi)"
    url: "https://ko-fi.com/i/ID1D317CRWD"
---
<p>Drew <a href="https://bsky.app/profile/did:plc:2lune6vi2cvvekvqnad2alje">@adamsautervo.bsky.social</a>‘s OC! #OCsky #Doodle #Sketch #Sketchbook</p>