---
date: 2024-02-13
title: "2024.02 Daia"
galleryCategs: 
  year: "2024"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-daia-th.webp"
gallThumbAlt: "A woman with dark bangs and white hair smiles while looking at something off-page."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-daia-th.webp"
    imgZoom: "/src/img/art-gallery/2024-daia.webp"
    imgWidth: "668"
    imgHeight: "668"
    imgAlt: "A woman with dark bangs and white hair smiles while looking at something off-page."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/fnDreGF"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3klcpifzeb62k"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/4456146-2024-02-daia"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/kULnTz9Mjuw4qfd46"
  - site: "instagram"
    url: "https://www.instagram.com/p/C3TOkjQtCDS/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C3Y4mIOvCUB/"
  - site: "kofi"
    url: "https://ko-fi.com/i/ID1D7UG6B7"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111925263935742179"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4330833"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/663110722249838926"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/116036022"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C3SxdcWL56q"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7335993594752421150"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/742250879072321536/a-new-drawing-for-yall-i-quickly-doodled"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/RK4j4AMWM9c"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IH2H4UDWLC"
---
<p>A new drawing for y’all! I quickly doodled <a href="https://www.instagram.com/Demorrtis/">@Demorrtis</a>‘s OC Daia! She’s really cool and runs a inn where all sorts of interesting people stop by.</p>