---
date: 2024-05-07
title: "2024.05 Link"
galleryCategs: 
  year: "2024"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-link-th.webp"
gallThumbAlt: "Link from The Legend of Zelda: Tears of the Kingdom standing in front of moonlit clouds. The Light Dragon can be seen in the distance."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-link-th.webp"
    imgZoom: "/src/img/art-gallery/2024-link.webp"
    imgWidth: "861"
    imgHeight: "861"
    imgAlt: "Link from The Legend of Zelda: Tears of the Kingdom standing in front of moonlit clouds. The Light Dragon can be seen in the distance."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/GCDbsIH"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3krvs4jhgtm2d"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/5849371-2024-05-link"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/ZWTsnJ7axAaFwszg6"
  - site: "instagram"
    url: "https://www.instagram.com/p/C6q3wmztfFc/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C7kfocNPb_J/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C6uXHuePCZo/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IV7V3XREFE"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112400184811461052"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4720220"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/693466003817210078"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/118539056"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202405-link"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C6q7JdGxfLE"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/photo/7366266602452569387"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7374561049166613803"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7366759926842133802"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/749857669822791680/tin-soldier"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/MBUq_lynqUg"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/4MFDBysxEUk"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IW7W4WS298"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IB0B7XREDL"
---
