---
date: 2024-07-23
title: "2024.07 Clay &amp; Cati"
galleryCategs: 
  year: "2024"
  subject: "cyborg2535"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-clay-and-cati-th.webp"
gallThumbAlt: "A human-like, but clearly robotic from-the-neck-down android and a young human woman sit against the wall in a slightly futuristic apartment. They’re cuddling!!"
gallThumbFocus: "20% 35%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-clay-and-cati-th.webp"
    imgZoom: "/src/img/art-gallery/2024-clay-and-cati.webp"
    imgWidth: "1056"
    imgHeight: "816"
    imgAlt: "A human-like, but clearly robotic from-the-neck-down android and a young human woman sit against the wall in a slightly futuristic apartment. They’re cuddling!!"
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/O5o1mvF"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kxxeo2usjz24"
  - site: "cara"
    url: "https://cara.app/post/6558dd73-a0b7-437d-ad67-86191608a0df"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/7001516-2024-07-clay-cati"
  - site: "kofi"
    url: "https://ko-fi.com/i/IF1F110VFC1"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112836194469235469"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/120834938"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202407-clay-cati"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/756833078750658560/202407-clay-cati"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IH2H5105K0A"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IU7U310VFAT"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-07-Clay-Cati-Timelapse-G2G510XDTM"
  - site: "kofi"
    label: "Speedpaint (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-07-Clay-Clati-Speedpaint-Q5Q310XDV5"
---
<p>A Girl and Her Bot 🤖💜👩<br>AKA “Me and the Neurodivergent E-Girl Hacker I Pulled by Running RESPECTWOMEN.exe”</p>