---
date: 2024-02-27
title: "2024.02 A*MM LuxPink Chibi"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-amm-luxpink-chibi-01-th.webp"
gallThumbAlt: "A chibi, pink, nurse-themed magical girl holding a star wand in front of a pink background."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-amm-luxpink-chibi-01-th.webp"
    imgZoom: "/src/img/art-gallery/2024-amm-luxpink-chibi-01.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "A chibi, pink, nurse-themed magical girl holding a star wand in front of a pink background."
  - slide:
    imgThumb: "/src/img/art-gallery/2024-amm-luxpink-chibi-02-th.webp"
    imgZoom: "/src/img/art-gallery/2024-amm-luxpink-chibi-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "A chibi, pink, nurse-themed magical girl holding a star wand in front of a pink background."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/pjcpcin"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kmfxad7zum2v"
  - site: "cara"
    url: "https://cara.app/post/40eab4e0-68c1-47a6-8d38-47c0a92f94b1"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/4699965-2024-02-a-mm-lux-pink"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/opzfZBsbntuY4p3WA"
  - site: "instagram"
    url: "https://www.instagram.com/p/C33RfoGPHHe/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IV7V7UZV04"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/112004536057785624"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4400351"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/668184327985373267"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/116456807"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202402-amm-luxpink-chibi"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C323bGMxHsF"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7341039587667610911"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/743519179116822528/202402-amm-luxpink-chibi"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/cgkuwqi9kS4"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IL3L7UGQ6H"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IN4N8V0DM8"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-02-Chibi-Pink-Timelapse-P5P2UX8PF"
---
<p>Lux Pink! I draw her too much, but she is my passion project protagonist. I made this for relevant episode-covers of my short-comic series!</p>