---
date: 2024-08-13
title: "2024.08 Amity in the Blue Sky"
galleryCategs: 
  year: "2024"
  subject: "lxnx"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-amity-in-the-blue-sky-th.webp"
gallThumbAlt: "My OC Amity surrounded by BlueSky Butterflies. She gasps, surprised, as one lands on her nose. There are puffy white clouds in front of a blue, anime-esque sky behind her."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-amity-in-the-blue-sky-th.webp"
    imgZoom: "/src/img/art-gallery/2024-amity-in-the-blue-sky.webp"
    imgWidth: "1056"
    imgHeight: "816"
    imgAlt: "My OC Amity surrounded by BlueSky Butterflies. She gasps, surprised, as one lands on her nose. There are puffy white clouds in front of a blue, anime-esque sky behind her."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/NDc2HJd"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kzm6gazcp324"
  - site: "cara"
    url: "https://cara.app/post/575bffbe-8a01-4253-9265-0dbbe0e2d2bb"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/7274916-2024-08-amity-in-the"
  - site: "foriio"
    url: "https://www.foriio.com/works/1210909"
  - site: "kofi"
    url: "https://ko-fi.com/i/IX8X211RZ0T"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112955091066728570"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/121471310"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202408-amity-in-the-blue-sky"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/758735742951374848/"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1 (Ko-Fi)"
    url: https://ko-fi.com/i/IH2H7115SFN""
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IN4N111I6YS"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IA0A111RZ37"
  - site: "kofi"
    label: "Speedpaint (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-08-Amity-In-The-Blue-Sky-Speedpaint-T6T814F87S"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-08-Amity-In-The-Blue-Sky-Timelapse-P5P714F88Z"
---
<p>A drawing of Amity I did to celebrate 1,000 (now 1,100 😵‍💫) followers on BlueSky! I’m doing an OC art challenge on there with physical prizes! <a href="https://bsky.app/profile/hikatamika.com/post/3kzjt6b5pif24">Go check it out!</a></p>
<p>If you’re an OC artist and are curious about BlueSky, <a href="https://bsky.app/starter-pack/hikatamika.com/3kvu6coyb532a">I’d really recommend joining/returning!</a> The OC-haver community is very strong and supportive over there.</p>