---
date: 2024-11-28
title: "2024.11 Hevel"
galleryCategs: 
  year: "2024"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-hevel-th.webp"
gallThumbAlt: "A monochrome drawing my OC Hevel, who has 2 pairs of wings sprouting from his head, and 3 pairs of eyes. He’s kinda just standing there, really."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-hevel-th.webp"
    imgZoom: "/src/img/art-gallery/2024-hevel.webp"
    imgWidth: "1063"
    imgHeight: "850"
    imgAlt: "A monochrome drawing my OC Hevel, who has 2 pairs of wings sprouting from his head, and 3 pairs of eyes. He’s kinda just standing there, really."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/3sqwOlk"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lbu5tc7xuo2c"
  - site: "cara"
    url: "https://cara.app/post/28897c60-6367-46fb-81bd-c422956916af"
  - site: "kofi"
    url: "https://ko-fi.com/i/IR6R516M9E6"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113551764657842442"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202411-hevel"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1 (Ko-Fi)"
    url: "https://ko-fi.com/i/IU6U616EBHP"
  - site: "kofi"
    label: "WIP 2 (Ko-Fi)"
    url: "https://ko-fi.com/i/IN4N616EK2V"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IL4L616JW3N"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-11-Hevel-Timelapse-N4N816L1SL"
---
<p>The kind of drawing you do when you just wanna feel alive between dayjob stuff. <img draggable="false" role="img" class="emoji" alt="🫠" src="https://s.w.org/images/core/emoji/16.0.1/svg/1fae0.svg"> Made some deskcam footage to yap over…</p>