---
date: 2024-08-09
title: "2024.08 Juno"
galleryCategs: 
  year: "2024"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: [""]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2024-juno-th.webp"
gallThumbAlt: "A girl with short hair (but two long side-locks of it) gives a peace sign! The image is drawn at a dutch angle. She has a coin and feather pendant."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-juno-th.webp"
    imgZoom: "/src/img/art-gallery/2024-juno.webp"
    imgWidth: "707"
    imgHeight: "752"
    imgAlt: "A girl with short hair (but two long side-locks of it) gives a peace sign! The image is drawn at a dutch angle. She has a coin and feather pendant."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/MqEMvfm"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kzc5zs5eu22i"
  - site: "cara"
    url: "https://cara.app/post/b532d6a2-43c3-4844-b162-4895f1d40e14"
  - site: "kofi"
    url: "https://ko-fi.com/i/IY8Y311MAT2"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/112932554254264613"
---
<p>#MSPaint might just be the art cooldown app of all time. #OriginalCharacter #Doodle #HKTMK_OC</p>