---
date: 2024-01-09
title: "2024.01 Harun"
galleryCategs: 
  year: "2024"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-harun-th.webp"
gallThumbAlt: "A character with their long-hair tied up, playfully points upward. They’re wearing a red scarf."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-harun-th.webp"
    imgZoom: "/src/img/art-gallery/2024-harun.webp"
    imgWidth: "615"
    imgHeight: "861"
    imgAlt: "A character with their long-hair tied up, playfully points upward. They’re wearing a red scarf."
    
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/NK4Of5z"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3kikt2ltigq2w"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/4108651-2024-01-harun"
  - site: "inkblot"
    url: "https://inkblot.art/post/2NWBKmlGhnjddGmSQl7s"
  - site: "instagram"
    url: "https://www.instagram.com/p/C15GwZiNA8a/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C1-QWyES3r_/"
  - site: "instagram"
    url: "https://www.instagram.com/reel/C2QRsnGv9OS/"
  - site: "kofi"
    url: "https://ko-fi.com/i/IJ3J5T32LN"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111727077772492778"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4195382"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/650427515185578839"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/115044195"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C14xb1jxRs-"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7322932800238161183"
  - site: "tiktok"
    url: "https://www.tiktok.com/@hikatamika/video/7325599803021315359"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/739075877401395200/202401-harun"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/M5-HLV87STM"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/Ly6_fFin6Wg"
gallerySupportLinks:
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IG2G5T2B99"
  - site: "kofi"
    label: "Timelapse (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-01-Harun-Timelapse-Z8Z5T28TE"
  - site: "kofi"
    label: "Speedpaint (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-01-Harun-Speedpaint-J3J5U486I"
  - site: "kofi"
    label: "Realtime (Ko-Fi)"
    url: "https://ko-fi.com/post/2024-01-Harun-Realtime-Z8Z4U4C4Q"
---
<p>My first doodle of the year was <a href="https://www.instagram.com/Demorrtis/">@Demorrtis</a>’ OC Harun!! The emotion/gesture came to me all at once and I rushed to scribble it out so I could draw it “forreal” the day after, lol.</p>