---
date: 2024-01-02
title: "2024.01 JWArt Chibi"
galleryCategs: 
  year: "2024"
  subject: "irlPortraits"
  medium: "digitalArt"
galleryTags: [""]
gallThumbImg: "/src/img/art-gallery/2024-jwart-chibi-02-th.webp"
gallThumbAlt: "Chibi of a man with wavy blond hair doing the horns sign. His other hand is in his pocket. He has blue glasses."
gallThumbFocus: "42% 30%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2024-jwart-chibi-01-th.webp"
    imgZoom: "/src/img/art-gallery/2024-jwart-chibi-01.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi of a man with wavy blond hair doing the horns sign. His other hand is in his pocket. He has blue glasses."
  - slide:
    imgThumb: "/src/img/art-gallery/2024-jwart-chibi-02-th.webp"
    imgZoom: "/src/img/art-gallery/2024-jwart-chibi-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi of a man with wavy blond hair doing the horns sign. His other hand is in his pocket. He has blue glasses."
galleryWebLinks:
  - site: "artfol"
    url: "https://www.artfol.co/a/mJEoEjb"
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3khzfo5idci2j"
  - site: "cohost"
    url: "https://cohost.org/HikaTamika/post/4050534-2023-12-jw-art-chibi"
  - site: "inkblot"
    url: "https://inkblotapp.page.link/v5VKBTytwNdfkMYt8"
  - site: "instagram"
    url: "https://www.instagram.com/p/C1nFMecPIeB/"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/111687447028114617"
  - site: "pillowfort"
    url: "https://www.pillowfort.social/posts/4168204"
  - site: "pixelfed"
    url: "https://pixelfed.social/p/HikaTamika/647890480719427553"
  - site: "pixiv"
    url: "https://www.pixiv.net/en/artworks/114815643"
  - site: "threads"
    url: "https://www.threads.net/@hikatamika/post/C1m8XJDPhO0"
  - site: "tumblr"
    url: "https://hikatamika.tumblr.com/post/738442158909095936/the-final-dtiys-prize-is-complete-a"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/FITkhvc9_sk"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP (Ko-Fi)"
    url: "https://ko-fi.com/i/IQ5Q8SDPUK"
  - site: "kofi"
    label: "HD Version (Ko-Fi)"
    url: "https://ko-fi.com/i/IY8Y6SUG7D"
---
<p>The final DTIYS prize is complete! A portrait-chibi of <a href="https://www.instagram.com/JimWhaleyArt/">@JimWhaleyArt</a>, who was a lot of fun to draw!! Thanks to everyone who participated! Everyone did a great job and it was tons of fun to host. 😭 I have everyone’s entries saved in a folder I look at for a quick pick me up, haha 💧.</p>