---
date: 2025-02-15
title: "2025.02 HevMi Ship Chart"
galleryCategs: 
  year: "2025"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: ["oc", "DemiHuman Diaries", "Hevel", "Dami", "Digital Art"]
gallThumbImg: "/src/img/art-gallery/2025-hevmi-ship-chart-th.webp"
gallThumbAlt: "A ship chart going over Hevel &amp; Dami's relationship dynamic. Portraits and character information are at the top. Their vibe is described as the tbh creature shipped with the fuckboy emoji. Spectrum lines comparing the twos' vibes &amp; behaviors are on the left. Question-&amp;-answer type stuff about their relationship are on the right. A &quot;touch map&quot; diagram showing where the two like and dislike being touched by the other is on the bottom, however, the groin area for both characters is memetically censored, citing a Christian Minecraft server as the reason for censorship."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-hevmi-ship-chart-th.webp"
    imgZoom: "/src/img/art-gallery/2025-hevmi-ship-chart.webp"
    imgWidth: "1251"
    imgHeight: "2212"
    imgAlt: "A ship chart going over Hevel &amp; Dami's relationship dynamic. Portraits and character information are at the top. Their vibe is described as the tbh creature shipped with the fuckboy emoji. Spectrum lines comparing the twos' vibes &amp; behaviors are on the left. Question-&amp;-answer type stuff about their relationship are on the right. A &quot;touch map&quot; diagram showing where the two like and dislike being touched by the other is on the bottom, however, the groin area for both characters is memetically censored, citing a Christian Minecraft server as the reason for censorship."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3li5j4hq6f62w"
  - site: "kofi"
    url: "https://ko-fi.com/i/IZ8Z21ANQDZ"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202502-hevmi-ship-chart"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP"
    url: "https://ko-fi.com/i/IR6R619F0AT"
  - site: "kofi"
    label: "HD Version (hevel)"
    url: "https://ko-fi.com/i/IG2G41AJBIB"
  - site: "kofi"
    label: "HD Version (Dami)"
    url: "https://ko-fi.com/i/IV7V01AJBHD"
  - site: "kofi"
    label: "Sketch-with-Me"
    url: "https://ko-fi.com/post/SupportCast-Mar-2025Projects-over-Posts-Sel-G2G81BPS4Y"
---
<p>HAPPY VALENTINE’S DAY TO EVERY OC-HAVER OUT THERE!!! Here’s the Hevel &amp; Dami Stupid-Ass Ship Chart that I saved from the WIP-dimension sakdjfhgaksjdf</p>
<p><a href="https://www.tumblr.com/awfulalignmentcharts/757753764553818112/">Blank Chart</a></p>
<p>You can yodel about it on my <a href="https://wavebox.me/wave/9zdpazgbm43lecc5/">Wavebox</a> if you’re shy. Just the portraits are on the <a href="https://ko-fi.com/album/HD-Uploads-D1D2GJA5V">Ko-Fi</a>. This might be the March Video reward if I don’t make anything cooler before then. Otherwise, I might make this a public yap speedpaint of some kind.</p>