---
date: 2025-05-07
title: "2025.05 Moonlit Retribution"
galleryCategs: 
  year: "2025"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: ["OC", "DemiHuman Diaries", "Aziel", "digital art"]
gallThumbImg: "/src/img/art-gallery/2025-moonlit-retribution-th.webp"
gallThumbAlt: "A winged angel with 2 sets of arms readies some rope and a pistol on a lightly-cloudy, moonlit, night. He looks tense."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-moonlit-retribution-th.webp"
    imgZoom: "/src/img/art-gallery/2025-moonlit-retribution.webp"
    imgWidth: "875"
    imgHeight: "1241"
    imgAlt: "A winged angel with 2 sets of arms readies some rope and a pistol on a lightly-cloudy, moonlit, night. He looks tense."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lpncjf4pyx2v"
  - site: "kofi"
    url: "https://ko-fi.com/i/IM4M81FLAM6"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202505-moonlit-retribution"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1"
    url: "https://ko-fi.com/i/IA0A31AFSRD"
  - site: "kofi"
    label: "WIP 2"
    url: "https://ko-fi.com/i/IK3K41C3MIE"
  - site: "kofi"
    label: "WIP 3"
    url: "https://ko-fi.com/i/IX8X31E9KYR"
  - site: "kofi"
    label: "HD"
    url: "https://ko-fi.com/i/IK3K61FLAKE"
  - site: "kofi"
    label: "Timelapse"
    url: "https://ko-fi.com/post/2025-05-Moonlit-Retribution-Timelapse-B0B31G2YBW"
  - site: "kofi"
    label: "Speedpaint"
    url: "https://ko-fi.com/post/2025-05-Moonlit-Retribution-Speedpaint-P5P71G2Y9N"
  - site: "kofi"
    label: "Sketch-with-Me"
    url: "https://ko-fi.com/post/SupportCast-June-2025-Q5Q01G2YZV"
  - site: "kofi"
    label: ".PSD Download"
    url: "https://ko-fi.com/s/2fe238d67b"
---
<p>His senses are heightened by the potent stench of your lies. /lore</p>
<p>Aziel the Truth-Seeker. He/They</p>
<p>#HKTMK_OC  #DH_Diaries #OCsky #Art #ArtSky</p>
