---
date: 2025-06-10
title: "2025.06 Mi'ihen"
galleryCategs: 
  year: "2025"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: ["friend's OC", "digital art", "lineart"]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2025-miihen-th.webp"
gallThumbFocus: "46% 42%"
gallThumbAlt: "Drawing of a catgirl who flicks her ear in response to a butterfly landing on it."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-miihen-th.webp"
    imgZoom: "/src/img/art-gallery/2025-miihen.webp"
    imgWidth: "721"
    imgHeight: "788"
    imgAlt: "Drawing of a catgirl who flicks her ear in response to a butterfly landing on it."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lrc4dhc2gq23"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202506-miihen"
---
<p>My friend <a target="_blank" href="https://bsky.app/profile/zanarkands.bsky.social">@zanarkands.bsky.social</a> 's OC, Mi'ihen! Mi'ihen the Miqo'te… 🥺💜</p>