---
date: 2025-06-10
title: "2025.06 Daia"
galleryCategs: 
  year: "2025"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: ["friend's OC", "digital art", "lineart"]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2025-daia-th.webp"
gallThumbAlt: "Drawing of a catgirl who flicks her ear in response to a butterfly landing on it."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-daia-th.webp"
    imgZoom: "/src/img/art-gallery/2025-daia.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Drawing of a catgirl who flicks her ear in response to a butterfly landing on it."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lrtpkrjufg2b"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202506-daia"
---
<p>
  <a target="_blank" href="https://bsky.app/profile/gatooroo.bsky.social">@gatooroo.bsky.social's</a> Hika-Warmup request: <a target="_blank" href="https://bsky.app/profile/demorrtis.bsky.social">@demorrtis.bsky.social</a>'s Daia in bunny ears! I had a cute image in my mind!!!! I imagine one of her friends brought them back for her in his travels. I'm not sure she sees the appeal.
</p>