---
date: 2025-08-19
title: "2025.08 HevMi"
galleryCategs: 
  year: "2025"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: ["OC", "DemiHuman Diaries", "Hevel", "Dami", "Ink and Tone", "Digital Art"]
gallThumbImg: "/src/img/art-gallery/2025-hevmi-th.webp"
gallThumbFocus: "93% 9%"
gallThumbAlt: "A girly? Romantic? Composition reminiscent of shoujo manga chapter art. My OC Dami stands on the left, barely hiding a bouquet of flowers behind his back. There is a polaroid (labeled &quot;Mi Cielito&quot;) of my other OC Hevel on the upper right, shyly looking away from the photographer."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-hevmi-th.webp"
    imgZoom: "/src/img/art-gallery/2025-hevmi.webp"
    imgWidth: "831"
    imgHeight: "1172"
    imgAlt: "A girly? Romantic? Composition reminiscent of shoujo manga chapter art. My OC Dami stands on the left, barely hiding a bouquet of flowers behind his back. There is a polaroid (labeled &quot;Mi Cielito&quot;) of my other OC Hevel on the upper right, shyly looking away from the photographer."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lwrb25gzro2m"
  - site: "kofi"
    url: "https://ko-fi.com/i/IS6S51JU9EV"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202508-hevmi"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1"
    url: "https://ko-fi.com/i/IT6T61IYSFP"
  - site: "kofi"
    label: "WIP 2"
    url: "https://ko-fi.com/i/II2I51J0TGL"
  - site: "kofi"
    label: "WIP 3"
    url: "https://ko-fi.com/i/IJ3J71J4T2H"
  - site: "kofi"
    label: "Sketch-with-Me"
    url: "https://ko-fi.com/Post/SupportCast-August-2025-M4M51JIFY6/"
  - site: "kofi"
    label: "HD"
    url: "https://ko-fi.com/i/IH2H21JU9DF"
  - site: "kofi"
    label: "Process .GIF"
    url: "https://ko-fi.com/i/IG2G21JUG1T"
  - site: "kofi"
    label: "Process Blog Post"
    url: "https://ko-fi.com/post/2025-08-Hevmi-Process-Posting-Z8Z71JUF57"
---
<p>"C'monnn… One night out. I'll be fun! I promise."</p>
<p>That's how I like to imagine Dami asked Hevel out again. 🙂‍↕️</p>