---
date: 2025-01-29
title: "2025.01 HevMi Chibi"
galleryCategs: 
  year: "2025"
  subject: "demiHumanDiaries"
  medium: "digitalArt"
galleryTags: ["oc", "DemiHuman Diaries", "Hevel", "Dami", "Digital Art"]
gallThumbImg: "/src/img/art-gallery/2025-hevmi-chibi-th.webp"
gallThumbAlt: "Dami, my demon cat-boy OC, leads Hevel, my fallen angel OC, through a city street on a sunny afternoon! They're both chibis."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-hevmi-chibi-th.webp"
    imgZoom: "/src/img/art-gallery/2025-hevmi-chibi.webp"
    imgWidth: "1050"
    imgHeight: "750"
    imgAlt: "Dami, my demon cat-boy OC, leads Hevel, my fallen angel OC, through a city street on a sunny afternoon! They're both chibis."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lgvcob33rp2w"
  - site: "cara"
    url: "https://cara.app/post/01fa34b0-6320-422e-ac63-8e1e47f16cad"
  - site: "kofi"
    url: "https://ko-fi.com/i/IK3K31A5S52"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/113913956455041306"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202501-hevmi-chibi"
  - site: "yt-shorts"
    url: "https://youtube.com/shorts/zrgF-amdYkg"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP 1"
    url: "https://ko-fi.com/i/IE1E219ADRM"
  - site: "kofi"
    label: "WIP 2"
    url: "https://ko-fi.com/i/IT6T719B0KV"
  - site: "kofi"
    label: "WIP 3"
    url: "https://ko-fi.com/i/IP5P519J8LH"
  - site: "kofi"
    label: "WIP 4"
    url: "https://ko-fi.com/i/IZ8Z819L4FB"
  - site: "kofi"
    label: "HD Version"
    url: "https://ko-fi.com/i/IE1E619QMEH"
  - site: "kofi"
    label: "Timelapse"
    url: "https://ko-fi.com/post/2025-01-HevMi-Chibi-Timelapse-M4M81A7H84"
  - site: "kofi"
    label: "Speedpaint"
    url: "https://ko-fi.com/post/2025-01-HevMi-Chibi-Speedpaint-T6T41A7HQH"
  - site: "kofi"
    label: "Sketch-with-Me"
    url: "https://ko-fi.com/post/Bitten-by-the-Shipping-Bug-SupportCast-Feb-2025-L4L81A7HZH"
---
<p>I feel like I got freed from the dayjob, and instantly bitten by OC Ship brainrot. Anyway their falling-in-love montage is Dami showing Hevel everywhere in the city (which has a higher monster population than the sticks)!!</p>
<p>There are like <em>five</em> WIPs of this on <a href="https://ko-fi.com/hikatamika">my Ko-Fi</a>, haha. And an HD download. Timelapse, Speedpaint, and Monthly Sketch-with-Me Update thing coming on the 7th!</p>