---
date: 2025-03-04
title: "2025.03 Zira"
galleryCategs: 
  year: "2025"
  subject: "fanart"
  medium: "digitalArt"
galleryTags: ["fanart", "idwtbamg", "digital art"]
galleryScraps: true
gallThumbImg: "/src/img/art-gallery/2025-zira-th.webp"
gallThumbAlt: "Zira from I Don't Want to be a Magical Girl blushes in awe at something off-screen."
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-zira-th.webp"
    imgZoom: "/src/img/art-gallery/2025-zira.webp"
    imgWidth: "750"
    imgHeight: "750"
    imgAlt: "Zira from I Don't Want to be a Magical Girl blushes in awe at something off-screen."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3ljitfnx2vc22"
  - site: "kofi"
    url: "https://ko-fi.com/i/ID1D51BFUZQ"
  - site: "mastodon"
    url: "https://mastoart.social/@hikatamika/114100723374566486"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202503-zira"
  - site: "tumblr"
    url: "https://www.tumblr.com/hikatamika/777040104946565120"
gallerySupportLinks:
  - site: "kofi"
    label: "HD"
    url: "https://ko-fi.com/i/IF1F61BFV19"
---
<p>Someone on my WaveBox asked if they could commission me to do IDWTBAMG fanart…</p>
<p>I’m not strong enough for commissions, but I drew Best Character™ for free.</p>