---
date: 2025-06-05
title: "2025.05 Nox"
galleryCategs: 
  year: "2025"
  subject: "friendsOC"
  medium: "digitalArt"
galleryTags: ["friend's OC", "digital art"]
gallThumbImg: "/src/img/art-gallery/2025-nox-02-th.webp"
gallThumbAlt: "Closeup of a chibi of a man with dark eyes, and dark hair; some of it tucked behind his ear. He lacks pigmentation in a few strands."
gallThumbFocus: "50% 25%"
gallerySlides:
  - slide:
    imgThumb: "/src/img/art-gallery/2025-nox-01-th.webp"
    imgZoom: "/src/img/art-gallery/2025-nox-01.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Closeup of a chibi of a man with dark eyes, and dark hair; some of it tucked behind his ear. He lacks pigmentation in a few strands."
  - slide:
    imgThumb: "/src/img/art-gallery/2025-nox-02-th.webp"
    imgZoom: "/src/img/art-gallery/2025-nox-02.webp"
    imgWidth: "1080"
    imgHeight: "1080"
    imgAlt: "Chibi of a man with dark eyes, and dark hair; some of it tucked behind his ear. He lacks pigmentation in a few strands. He's standing in formal office-wear with his arms crossed."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3lqvjy3dpvv2v"
  - site: "kofi"
    url: "https://ko-fi.com/i/IQ5Q51FMF3Y"
  - site: "sheezyart"
    url: "https://sheezy.art/hikatamika/gallery/202505-nox"
gallerySupportLinks:
  - site: "kofi"
    label: "WIP"
    url: "https://ko-fi.com/i/IX8X01E9L0O"
  - site: "kofi"
    label: "HD"
    url: "https://ko-fi.com/i/IN4N71FMF1M"
---
<p>Chibi of my friend <a target="_blank" href="https://www.instagram.com/p/DI4MpmZxcWW/">CosmikBread's</a> OC Nox!! He's a stern knight ⚔️, but I drew him as he appears in my friend's Office AU.</p>