---
layout: /layouts/main/main.njk
title: "Astra*Mix's RSS Feeds"
---
<p>You can subscribe to Astra*Mix Minis on your webcomic platform of choice using the following RSS feeds.</p>
<div class="block-1col block-squishy block-horz-align">
  {% linkButtonSet %}
    {% extLinkButton "Tapas RSS", "https://tapas.io/rss/series/278206/" %}
    {% extLinkButton "Webtoon RSS", "https://www.webtoons.com/en/challenge/astramix-minis/rss?title_no=937776" %}
  {% endlinkButtonSet %}
</div>