---
layout: /layouts/main/main-sectlink.njk
title: "Astra*Mix Minis"
---
<div class="block-2col">
  <div class="block-1col block-firm">
    <img decoding="async"
         src="https://hikatamika.com/wp-content/uploads/2024/02/20230220_AMM-Cover540w-ns.jpg"
         alt="Astra Mix Minis cover art: A fruit snacks bag with Hika on it."
         class="block-image"
         style="width:360px">
  </div>
  <div class="block-1col block-squishy block-vert-align">
      {% linkButtonSetFw %}
        {% linkButton "NamiComi", "https://namicomi.com/en/title/yJ42F2Vs/astra-mix-minis" %}
        {% linkButton "Tapas", "https://tapas.io/series/AstraMixMinis" %}
        {% linkButton "Webtoon", "https://www.webtoons.com/en/canvas/astramix-minis/list?title_no=937776" %}
        {% linkButton "Ko-Fi", "https://ko-fi.com/album/AstraMix-Minis-D1D4UQS54" %}
      {% endLinkButtonSet %}
    <p>An episodic collection of microcomics featuring characters from my future comic projects in bite-sized situations!</p>
    <p>Update schedule sporadic. Just an imprint to put disconnected microcomics under.</p>
    <p>With your <a href="https://ko-fi.com/hikatamika"><b>Ko-Fi</b></a> support, I can dedicate more time to comics and turn the featured projects into full stories. Your support won't go unrewarded!</p>
  </div>
</div>

{# {{ title | log }} #}
