---
layout: /layouts/main/main.njk
title: "Astra*Mix Minis"
---
<div class="block-2col">
  <div class="block-1col block-firm">
    <img
         src="/src/img/spinrack/amm-cover.webp"
         alt="Astra Mix Minis cover art: A fruit snacks bag with Hika on it."
         class="block-img"
         style="width:360px">
  </div>
  <div class="block-1col block-squishy block-vert-align">
  <div class="block-1col block-spaced">
      {% linkButtonSetFw %}
        {% extLinkButton "NamiComi", "https://namicomi.com/en/title/yJ42F2Vs/astra-mix-minis" %}
        {% extLinkButton "Tapas", "https://tapas.io/series/AstraMixMinis" %}
        {% extLinkButton "Webtoon", "https://www.webtoons.com/en/canvas/astramix-minis/list?title_no=937776" %}
        {% extLinkButton "Ko-Fi", "https://ko-fi.com/album/AstraMix-Minis-D1D4UQS54" %}
      {% endlinkButtonSet %}
  </div>
    <p>An episodic collection of microcomics featuring characters from my future comic projects in bite-sized situations!</p>
    <p>Update schedule sporadic. Just an imprint to put disconnected microcomics under.</p>
    <p>With your <a href="https://ko-fi.com/hikatamika"><b>Ko-Fi</b></a> support, I can dedicate more time to comics and turn the featured projects into full stories. Your support won't go unrewarded!</p>
  </div>
</div>

{# {{ title | log }} #}
