<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include "layouts/head.njk" %}
    <link rel="stylesheet" href="/src/css/main.min.css">
  </head>
  <body>
    <div id="navModal" class="nav-modal">
      <div id="navModalBody" class="fadeable">
        <button id="mobileNavClose" class="button-hide">
          <i class="fa-solid fa-xmark fa-fw"></i>
          <span class="visually-hidden">Close</span>
        </button>
        <nav id="mobileNav" class="mobile-nav">
          <ul>
            {% include "../main/nav-menu.njk" %}
          </ul>
        </nav>
      </div>
    </div>
    <header>
      {% include "../main/floating-hika.njk" %}
      <nav id="topNav">
        {% include "../main/top-nav.njk" %}
      </nav>
    </header>
    <div id="siteBox">
      <main>
        <div class="status-box">
          <div class="status-icon">
            <a href="/statuses" class="status-rss">
              <img src="/src/img/hika-status.webp" alt="Hika Icon">
            </a>
          </div>
          <div class="status-message">
            {% set firstStatus = collections.statuses | reverse | first %}
            <span class="status-time"><span class="time-int-convert">{{ firstStatus.date | JStoInt }}</span>:</span>&nbsp;<span>{% if firstStatus.data.statusEmoji %}{{ firstStatus.data.statusEmoji | safe }}&nbsp;-&nbsp;{% endif %}{{ firstStatus.content | safe }}</span>
          </div>
          <a href="/status.xml" target="_blank" class="status-rss"><i class="fa-solid fa-rss fa-xl"></i></a>
        </div>
        <h1>{{ title | makeStartCase }}</h1>
        {{ content | safe }}
      </main>
    </div>
    <footer>
      {% include "layouts/footer-copyright.njk" %}
    </footer>
    {% include "layouts/scripts.njk" %}
  </body>
</html>
