<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'layouts/head.njk' %}
    <link rel="stylesheet" href="/src/css/main.min.css">
  </head>
  <body>
    <div id="navModal" class="nav-modal">
      <div id="navModalBody" class="fadeable">
        <button id="mobileNavClose" class="button-hide">
          <i class="fa-solid fa-xmark fa-fw"></i>
          <span class="visually-hidden">Close</span></button>
        <nav id="mobileNav" class="mobile-nav">
          <ul>
            {% include '../main/nav-menu.njk' %}
          </ul>
        </nav>
      </div>
    </div>
    <header>
      <nav id="topNav">
        {% include "../main/top-nav.njk" %}
      </nav>
    </header>
    <div id="siteBox">
      <h1>{{title | makeTitleCase}}</h1>
      {{ content | safe}}
    </div>
    <footer>
      {% include 'layouts/footer-copyright.njk' %}
    </footer>
    <script src="/src/js/app.min.js"></script>
  </body>
</html>