---
date: 2025-10-26 15:54:39 -7
changelogLink: "/the-lab#sec-dhdfof"
---
First Lab Log post! Today I started moving Chapter 02 of Fear of Falling from my Scrivener setup to my Obsidian & Aeon Timeline setup.