---
layout: /layouts/main/main.njk
title: "Bluesky Feeds"
redirect_from: [/bluesky-feeds]
sectionLinks:
  - section: OCsky
    url: "#sec-ocsky"
  - section: "Comics & Zines"
    url: "#sec-comics"
  - section: Other
    url: "#sec-other"
---
<p>
  Here’s a directory of all the feeds I curate on <b><a href="https://bsky.social/"
    data-type="link"
    data-id="https://bsky.social/">BlueSky</a></b>! They’re currently hosted on <b><a href="https://skyfeed.app/"
    data-type="link"
    data-id="https://skyfeed.app/">SkyFeed</a></b>, but I’m looking into other hosting options, or potentially self-hosting, if I don’t have to babysit the code too much.
</p>
<h2>OCsky (Original Characters)</h2>
<div>
  <h3>
    <a href="https://bsky.app/profile/hikatamika.com/feed/aaao5ndpshcsm"
       data-type="link"
       data-id="https://bsky.app/profile/hikatamika.com/feed/aaao5ndpshcsm">Original Characters</a>
  </h3>
</div>
<p>
  A feed showcasing content from creatives with Original Characters! | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaafkuiacmgyi"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaafkuiacmgyi">OC Activities</a>
</h3>
<p>
  Activities to introduce both your followers and the #OCsky community to your characters!! Includes #OCask, #OCmeme, #OCredraw, and #OCprompt!! (In singular or plural form, each.)
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaanwmje6fjv2"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaanwmje6fjv2">OCs: What’s Hot</a>
</h3>
<p>
  The most popular OC posts in the last few days… | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaamslxmuuew2"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaamslxmuuew2">OCs: What’s Warm</a>
</h3>
<p>
  Like OCs: What’s Hot, but with max likes at 100! Considering adding a max follower count later. | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaagowapisa5y">OCs: What’s Cool</a>
</h3>
<p>
  Like OCs: What’s Hot, but with max likes at 50! Considering adding a max follower count later. | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaj7xs6ebawy">OCs: What’s Freezing</a>
</h3>
<p>
  Like OCs: What’s Hot, but with max likes at 25! Considering adding a max follower count later. | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaltvasgj3ju">OCs: SubZero</a>
</h3>
<p>
  Like OCs: What’s Hot, but with max likes at 12! Considering adding a max follower count later. | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/did:plc:6vrf44pabqhagogoibjbc42y/feed/aaaictgeophq6">OCs: Pulse</a>
</h3>
<p>
  Up-and-coming posts featuring art of original characters! | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaciwt65apq6"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaciwt65apq6">OCs: Discover</a>
</h3>
<p>
  A feed showcasing content from creatives with Original Characters! Discovery clone of my OC feed! Max-like count is currently set to 25, and posts are in shuffle order. | Write or tag #OC / #OriginalCharacter (single or plural) or #OCsky to hop in!
</p>
<h2
    id="sec-comics"
    style="margin-top:var(--wp--preset--spacing--50);
           margin-bottom:0">Comics &amp; Zines</h2>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaotncbyg4r4"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaotncbyg4r4">Comics</a>
</h3>
<p>
  A BlueSky feed for comics! Tried to include different formats, major publishers, webcomic platforms, and comic collectives. Let me know if I missed any!
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaao5waufhak6">Webcomics</a>
</h3>
<p>
  A BlueSky feed for webcomics, specifically. Tried to include different formats, webcomic platforms, and comic collectives. Let me know if I missed any! If you’re not with a publisher or posting on a major webcomics platform, use #webcomic to make sure you get in! (I ran out of RegEx space…)
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaictebmnjnw"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaictebmnjnw">Webcomics Pulse</a>
</h3>
<p>Sister-feed to the chrono webcomics feed that puts posts between 3 and 50 likes in HN Rank order.</p>
<h3>
  <a href="https://bsky.app/profile/did:plc:6vrf44pabqhagogoibjbc42y/feed/aaagttmzfsrc6">Zines</a>
</h3>
<p>A feed that gathers posts about zines!</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaafxma544gbq">DIY &amp; Solo Zines</a>
</h3>
<p>
  A feed focusing on accessible, DIY &amp; Solo zine culture. Recommended Tags: #DiyZine #SoloZine #PerZine #ZineDIY #MiniZine #ZineFest #ZineLibrary #ZineTrade
</p>
<h2
    id="sec-other"
    style="margin-top:var(--wp--preset--spacing--50)">Other</h2>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaojw4iqewom"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaojw4iqewom">Art I Recommend</a>
</h3>
<p>Art from accounts I recommend! This feed is a work in progress.</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaajttspqu3ku"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaajttspqu3ku">Hika’s Bsky Art Gallery</a>
</h3>
<p>Art feed so my media tab can be cringe 👽🎨</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaotbk6umjfm"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaotbk6umjfm">Magical Girls</a>
</h3>
<p>
  For all magical girl, boy, and hero media! Both pop culture and indie. Let me know if an IP you like isn’t showing up in the feed.
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaabzrj6meutk"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaabzrj6meutk">MGs: What’s Hot</a>
</h3>
<p>
  A sister feed to the Magical Girls feed, showing the hottest posts from the past few days! | For all magical girl, boy, and hero media! Both pop culture and indie. Let me know if an IP you like isn’t showing up in the feed.
</p>
<h3>
  <a href="https://bsky.app/profile/hikatamika.com/feed/aaaapfnkeazby"
     data-type="link"
     data-id="https://bsky.app/profile/hikatamika.com/feed/aaaapfnkeazby">What’s Hot #イラスト | #rkgk</a>
</h3>
<p>A feed showcasing what’s hot in the Japanese-speaking art scene on BlueSky.</p>
