---
layout: /layouts/main/main.njk
title: "UTAU"
redirect_from: /utau/
sectionLinks:
  - section: "Voicebanks"
    url: "#sec-vbs"
  - section: "USTs"
    url: "#sec-usts"
  - section: "UTAU-Synth Translation Patch"
    url: "#sec-translation"
---


  <p>
    Shoutout to the UTAU/VocalSynth community. My internet community from 2010-2014, whereafter, college snatched me away from musical expression and I moved my love for OCs and storytelling more towards comics. Here’s an archive for all things UTAU that I made. I’ll be back if I ever learn how to make remixes or original songs. Never say never! I want to move from electric guitar to bass guitar.
  </p>
  <h2>On Unzipping:</h2>
  <p>
    My computer’s locale was <strong><em>definitely</em></strong> set to Japanese when I made these. IDK how Windows handles other languages’ text now, but if these files extract with <a href="https://en.wikipedia.org/wiki/Mojibake">mojibake</a>: open them in <a href="https://www.bandisoft.com/bandizip/"
    data-type="link"
    data-id="https://www.bandisoft.com/bandizip/">Bandizip</a> and set the “Code page” to Japanese.
  </p>
  <ul>
    <li>WinRar: “Options → Name Encoding”</li>
    <li>Bandizip: “Code Page → Japanese”</li>
    <li>
      7-Zip: You can’t change code page in the GUI as far as I can tell. You have to unzip the file in command line using <code>-mcp=932</code> or something like that.
    </li>
  </ul>
  <hr class="hr-spaced-3x">
  <h2 id="sec-vbs">Voicebanks</h2>
  <h3>外国音ヒカルV3 | Gaikokune Hikaru V3 (2012)</h3>
  <ul class="wp-block-list">
    <li>Tripitch CV &amp; VCV</li>
    <li>Ending Breaths, Sharp Endings, Inhales, and Exhales</li>
    <li>Hums, Whistles, and Extras.</li>
    <li>(Delete what you don’t need!)</li>
  </ul>
  <div class="block-1-col block-horz-align">
    {% linkButtonSet %}
    {% extLinkButton "Download", "https://www.mediafire.com/file/eubbcqbfbhxecy8/%25E5%25A4%2596%25E5%259B%25BD%25E9%259F%25B3%25E3%2583%2592%25E3%2582%25AB%25E3%2583%25AB%25E9%259F%25B3%25E5%25A3%25B0%25E3%2583%25A9%25E3%2582%25A4%25E3%2583%2596%25E3%2583%25A9%25E3%2583%25AA%25E3%2583%25BC.zip/file" %}
  {% endlinkButtonSet %}
</div>
<h3>外国音ハルキ | Gaikokune Haruki (2013)</h3>
<p>
  A voicebank for friends &amp; mutuals that… never really escaped beta-testing. Here he is now! Part voice acting, part pitching &amp; formant shift. A little rough around the edges.
</p>
<ul class="wp-block-list">
  <li>Dipitch VCV</li>
  <li>Ending Breaths, Sharp Endings, Inhales, and Exhales</li>
  <li>Extras</li>
</ul>
<div class="block-1-col block-horz-align">
  {% linkButtonSet %}
  {% extLinkButton "Download", "https://www.mediafire.com/file/fzst18y8uia8g85/%25E3%2580%2590%25E5%25A4%2596%25E5%259B%25BD%25E9%259F%25B3%25E3%2583%258F%25E3%2583%25AB%25E3%2582%25AD%25E3%2580%2591_-_Copy.zip/file" %}
{% endlinkButtonSet %}
</div>
<h2 id="sec-usts">USTs</h2>
<table>
  <thead>
    <tr>
      <th class="block-text-center">.UST</th>
      <th class="block-text-center">Written in…</th>
      <th class="block-text-center">Password</th>
      <th class="block-text-center">Original</th>
      <th class="block-text-center">Off Vocal</th>
      <th class="block-text-center">Cover Video</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="block-text-center">
        <a href="https://www.mediafire.com/file/1t1yg5ks9b5ifce/PIANOGIRL_HK-TMK.zip/file"
           data-type="link"
           data-id="https://www.mediafire.com/file/1t1yg5ks9b5ifce/PIANOGIRL_HK-TMK.zip/file">PIANO*GIRL</a>
      </td>
      <td class="block-text-center">VCV | ひらがな</td>
      <td class="block-text-center">osterproj</td>
      <td class="block-text-center">
        <a href="http://www.nicovideo.jp/watch/1264787550"
           data-type="link"
           data-id="http://www.nicovideo.jp/watch/1264787550">NicoNico Douga</a>
      </td>
      <td class="block-text-center">
        <a href="http://fuwafuwacinnamon.sakura.ne.jp/music/pianogirl.html">OSTER’s Site</a>
      </td>
      <td class="block-text-center">
        <a href="http://www.youtube.com/watch?v=lsT1tCB4sRg">YouTube</a>
      </td>
    </tr>
    <tr>
      <td class="block-text-center">
        <a href="https://www.mediafire.com/file/kus6gyfgnuuoalq/Diamrem_HK-TMK.zip/file"
           data-type="link"
           data-id="https://www.mediafire.com/file/kus6gyfgnuuoalq/Diamrem_HK-TMK.zip/file">Diamrem</a>
      </td>
      <td class="block-text-center">CV | ひらがな</td>
      <td class="block-text-center">mermaid</td>
      <td class="block-text-center">
        <a href="http://www.nicovideo.jp/watch/sm16229325"
           data-type="link"
           data-id="http://www.nicovideo.jp/watch/sm16229325">NicoNico Douga</a>
      </td>
      <td class="block-text-center">
        <a href="http://piapro.jp/t/MSmM"
           data-type="link"
           data-id="http://piapro.jp/t/MSmM">Piapro</a>
      </td>
      <td class="block-text-center">
        <a href="http://www.youtube.com/watch?v=QvHQVXIWCMs"
           data-type="link"
           data-id="http://www.youtube.com/watch?v=QvHQVXIWCMs">YouTube</a>
      </td>
    </tr>
  </tbody>
</table>
<h2 id="sec-translation">UTAU-Synth Translation Patch</h2>
<div class="block-1-col block-horz-align block-spaced">
  {% linkButtonSet %}
  {% extLinkButton "Download", "https://www.mediafire.com/file/yuo3i28tgd2psy4/UTAU_Synth_EN_Final_16%25282%2529.zip/file" %}
  {% extLinkButton "Instructions (UTAForum Thread)", "https://utaforum.net/threads/utau-synth-english-translation-project.1432/" %}
{% endlinkButtonSet %}
</div>
