<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HK★TMK | {{ title }}</title>

<meta name="description" content="{{ socCardDesc }}">

<meta property="og:title" content="HK★TMK | {{ title }}">
<meta property="og:type" content="{{ socCardType }}">
<meta property="og:url" content="https://hikatamika.com{{ page.url }}">
<meta property="og:image" content="{{ socCardImg }}">
<meta property="og:image:alt" content="{{ socCardImgAlt }}">

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="icon.png">

<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#fafafa">

<link href="/src/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/src/fontawesome/css/solid.min.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=block" rel="stylesheet">