---
date: 2025-07-01 16:57:02 -7
noteTags: ["bookmark"]
eleventyExcludeFromCollections: true
permalink: false
---
<p>{% extLink "https://bsky.app/profile/cctl.me/post/3lsthzde3h22g", "https://bsky.app/profile/cctl.me/post/3lsthzde3h22g" %}</p>
<p>This absolutely rules.</p>

<div class="block-1col block-horz-align">
  <blockquote class="bluesky-embed"
              data-bluesky-uri="at://did:plc:vo6dvnmjelnutetmbpwfenpn/app.bsky.feed.post/3lsthzde3h22g"
              data-bluesky-cid="bafyreie7w25j3vefnuu57rbzlkvazgvjd6ruuu62m7m4tuxtvvsaeukzpu"
              data-bluesky-embed-color-mode="system">
    <p lang="en">
      since it&#x27;s the last day of pride month I figured I&#x27;d at least make one thing for it...
      i now unveil to you my greatest invention:
      color bars pride flag
      <br>
      <br>
      <a href="https://bsky.app/profile/did:plc:vo6dvnmjelnutetmbpwfenpn/post/3lsthzde3h22g?ref_src=embed">[image or embed]</a>
    </p>
    &mdash; Cable Contributes to Life (<a href="https://bsky.app/profile/did:plc:vo6dvnmjelnutetmbpwfenpn?ref_src=embed">@cctl.me</a>) <a href="https://bsky.app/profile/did:plc:vo6dvnmjelnutetmbpwfenpn/post/3lsthzde3h22g?ref_src=embed">June 30, 2025 at 8:15 AM</a>
  </blockquote>
  <script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
</div>