---
layout: /layouts/main/main.njk
title: Library
---
<h2>Comics</h2>
<h3><a href="https://hikatamika.com/astramix/">Astra Mix Minis</a></h3>
<p>A mini-comic collection of my OCs in non-spoiler, plot-detached scenarios. Sometimes in their own worlds, sometimes in AUs.</p>
<h2>Zines</h2>
<h3><a href="https://hikatamika.com/comic/heads-tails-cover/">Heads &amp; Tails</a></h3>
<p>An 8-page mini-zine on still struggling to be understood and accepted in a society that has become increasingly aware of autism.</p>