---
layout: /layouts/main/main.njk
title: Mailing List
---
<h2>About</h2>
<div class="block-spaced block-item-center">
  <img src="/src/img/astrapunk-postbox.png"
       alt="AstraPunk PostBox Logo"
       class="block-img">
</div>
<p>
  You can use the form below to sign up for my mailing list! I’ll be using it as a line-of-contact free from social media enshittification.
</p>
<p>
  If you subscribe, you’ll get the occasional letter any time there’s a Major Important Hika Update I’d like you to know about! Including, but not limited to:
</p>
<ul>
  <li>Recaps on my art and writing.</li>
  <li>The <i>occasional</i> exclusive art, thought, or photo.</li>
  <li>New zines and comics</li>
  <li>Shop launches &amp; updates</li>
  <li>New projects</li>
  <li>Any major changes (ie: social media migrations)</li>
</ul>
<p>Not sure if you'd like to sign up? You can view past <i>public</i> letters {% extLink "here", "https://buttondown.com/hikatamika/archive/" %}. You can also subscribe to public letters by RSS, {% extLink "here", "https://buttondown.com/hikatamika/rss" %}, Keep in mind that some letters are email exclusive!</p>
<h2>Form</h2>
<iframe scrolling="no"
        style="width:100%!important;
               height:220px;
               border:1px #ccc solid !important"
        src="https://buttondown.com/hikatamika?as_embed=true"></iframe>
