---
layout: /layouts/main/main-rss.njk
title: Notes
rssLink: "/note.xml"
pagination:
  data: collections.notes
  size: 24
  alias: notes
---

<div class="pagi-navi pagi-navi-top">{% include "blocks/pagi-navi.njk" %}</div>
<div class="notes-roll">
  {% for note in notes | reverse %}
    {% include "blocks/notes-roll.njk" %}
  {% endfor %}
</div>
<div class="pagi-navi pagi-navi-bottom">{% include "blocks/pagi-navi.njk" %}</div>
