---
layout: /layouts/main/main.njk
title: "Resources"
sectionLinks:
  - section: Creative Resources
    url: "#sec-creativeresource"
  - section: Audio/Music Resources
    url: "#sec-music"
  - section: Web Resources
    url: "#sec-webresources"
  - section: Journaling Resources
    url: "#sec-jrnlresources"
  - section: Digital Gardening Resources
    url: "#sec-digigardenresc"
  - section: Other Resources
    url: "#sec-otherresources"
---
<h2 id="sec-creativeresource">Creative Resources</h2>
{% miniNav %}
  {% miniNavItem "Comic Related", "#sec-comicresource" %}
  {% miniNavItem "Drawing in Perspective", "#sec-perspresource" %}
  {% miniNavItem "Writing", "#sec-writing" %}
{% endminiNav %}
<h3 id="sec-comicresource">Comic Related</h3>
{% if webButtons8831.comicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.comicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.comicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.comicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.comicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.comicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.comicResc %}
  {% linkRoll %}
    {% for link in textLinks.comicResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h3 id="sec-perspresource">Drawing in Perspective</h3>
{% if webButtons8831.perspDraw %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.perspDraw %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.perspDraw %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.perspDraw %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.perspDraw %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.perspDraw %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.perspDraw %}
  {% linkRoll %}
    {% for link in textLinks.perspDraw %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h3 id="sec-writing">Writing</h3>
<h4>Books</h4>
{% if webButtons8831.writingBooks %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.writingBooks %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.writingBooks %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.writingBooks %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.writingBooks %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.writingBooks %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.writingBooks %}
  {% linkRoll %}
    {% for link in textLinks.writingBooks %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h4>Software</h4>
{% if webButtons8831.writingSoft %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.writingSoft %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.writingSoft %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.writingSoft %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.writingSoft %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.writingSoft %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.writingSoft %}
  {% linkRoll %}
    {% for link in textLinks.writingSoft %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h3 id="sec-otherresource">Other (Creative)</h3>
{% if webButtons8831.otherCreativeResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.otherCreativeResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.otherCreativeResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.otherCreativeResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.otherCreativeResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.otherCreativeResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.otherCreativeResc %}
  {% linkRoll %}
    {% for link in textLinks.otherCreativeResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h2 id="sec-music">Audio/Music Resources</h2>
{% if webButtons8831.musicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.musicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.musicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.musicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.musicResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.musicResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.musicResc %}
  {% linkRoll %}
    {% for link in textLinks.musicResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h2 id="sec-webresources">Web Resources</h2>
{% miniNav %}
  {% miniNavItem "SiteBuilding", "#sec-sitebuilding" %}
  {% miniNavItem "Stop Scrolling", "#sec-unplug" %}
{% endminiNav %}
<h3 id="sec-sitebuilding">SiteBuilding</h3>
{% if webButtons8831.webRescSite %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.webRescSite %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.webRescSite %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.webRescSite %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.webRescSite %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.webRescSite %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.webRescSite %}
  {% linkRoll %}
    {% for link in textLinks.webRescSite %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h3 id="sec-unplug">Unplugging</h3>
{% if webButtons8831.webRescUnplug %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.webRescUnplug %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.webRescUnplug %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.webRescUnplug %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.webRescUnplug %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.webRescUnplug %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.webRescUnplug %}
  {% linkRoll %}
    {% for link in textLinks.webRescUnplug %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h2 id="sec-jrnlresources">Journaling Resources</h2>
{% if webButtons8831.jrnlResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.jrnlResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.jrnlResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.jrnlResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.jrnlResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.jrnlResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.jrnlResc %}
  {% linkRoll %}
    {% for link in textLinks.jrnlResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h2 id="sec-digigardenresc">Digital Gardening Resources</h2>
{% if webButtons8831.digiGardenResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.digiGardenResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.digiGardenResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.digiGardenResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.digiGardenResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.digiGardenResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.digiGardenResc %}
  {% linkRoll %}
    {% for link in textLinks.digiGardenResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}

<h2 id="sec-otherresources">Other Resources</h2>
{% if webButtons8831.otherResc %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.otherResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons20040.otherResc %}
  {% buttonRollCenter %}
    {% for button in webButtons20040.otherResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if webButtons46860.otherResc %}
  {% buttonRollCenter %}
    {% for button in webButtons46860.otherResc %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{% if textLinks.otherResc %}
  {% linkRoll %}
    {% for link in textLinks.otherResc %}
      {% include "blocks/link-roll.njk" %}
    {% endfor %}
  {% endlinkRoll %}
{% endif %}