---
layout: /layouts/main/main.njk
title: Spinner Rack
---

<h2>Comics & Zines</h2>
<div class="media-grid">
  <div class="media-grid-item">
    <div class="block-1col block-text-center media-grid-title">
    <h3>
      Astra Mix Minis
    </h3>
    </div>
    <div class="block-1col block-text-center media-grid-thumb">
      <div class="block-1col block-horz-align">
        <a href="/astra-mix/">
          <img class="block-img" src="/src/img/spinrack/amm-cover.webp" style="width: 360px;">
        </a>
      </div>
    </div>
    <div class="block-1col media-grid-info">
      <div class="block-1col block-horz-align block-spaced">
        <p>
          A mini-comic collection of my OCs in non-spoiler, plot-detached scenarios. Sometimes in their own worlds,
          sometimes in AUs.
        </p>
      </div>
      <div class="block-1col block-item-center ">
        {% linkButtonSet %}
        {% intLinkButtonPair "/astramix" %}
        <span class="btn-engage-icon"><i class="fa-solid fa-circle-info"></i></span><span>Info</span>
        {% endintLinkButtonPair %}
        {% endlinkButtonSet %}
      </div>
    </div>
  </div>
  <div class="media-grid-item">
        <div class="block-1col block-text-center media-grid-title">
    <h3>Heads &amp; Tails, (2024)</h3>
    </div>
    <div class="block-1col block-text-center media-grid-thumb">
      <div class="block-1col block-horz-align">
        <img class="block-img white-page" src="/src/img/spinrack/2024-htzine-01.webp" style="width: 360px;">
      </div>
    </div>
    <div class="block-1col media-grid-info">
      <div class="block-1col block-horz-align block-spaced">
        <p>
          An 8-page mini-zine on still struggling to be understood and accepted in a society that has become
          increasingly
          aware
          of autism.
        </p>
      </div>
      <div class="block-1col block-item-center ">
        {% linkButtonSet %}
        {% intLinkButtonPair "https://ko-fi.com/s/374bcf5d81" %}
        <span class="btn-engage-icon"><i class="fa-solid fa-cart-shopping"></i></span><span>Physical Zine</span>
        {% endintLinkButtonPair %}
        {% intLinkButtonPair "https://ko-fi.com/s/b27279a51b" %}
        <span class="btn-engage-icon"><i class="fa-solid fa-cart-shopping"></i></span><span>Digital Zine</span>
        {% endintLinkButtonPair %}
        {% endlinkButtonSet %}
      </div>
    </div>
  </div>
  <div class="media-grid-item">
        <div class="block-1col block-text-center media-grid-title">
          <h3>SketchZine'20 (2023)</h3>
    </div>
    <div class="block-1col block-text-center media-grid-thumb">
      <div class="block-1col block-horz-align">
        <img class="block-img" src="/src/img/spinrack/2023-sketchzine20-01.webp" style="width: 360px;">
      </div>
    </div>
    <div class="block-1col media-grid-info">
      <div class="block-1col block-horz-align block-spaced">
        <p>
          A collection of sketches and unfinished/unreleased art, both digital and analog, from 2020.
        </p>
      </div>
      <div class="block-1col block-item-center ">
        {% linkButtonSet %}
        {% intLinkButtonPair "https://ko-fi.com/s/e6508455ae" %}
        <span class="btn-engage-icon"><i class="fa-solid fa-cart-shopping"></i></span><span>Physical Zine</span>
        {% endintLinkButtonPair %}
        {% intLinkButtonPair "https://ko-fi.com/s/f7852b986d" %}
        <span class="btn-engage-icon"><i class="fa-solid fa-cart-shopping"></i></span><span>Digital Zine</span>
        {% endintLinkButtonPair %}
        {% endlinkButtonSet %}
      </div>
    </div>
  </div>
</div>