---
date: 2025-08-18 13:38:49 -7
changelogLink: "/about"
---
Finally ported the {% intLink "About", "/about" %} pages over from WordPress! {% intLink "About", "/about" %}, {% intLink "Bluesky", "/about/bluesky" %}, and {% intLink "FAQ", "/about/faq" %}.