---
date: 2025-08-02 16:16:15 -7
changelogLink: "/neighbors"
---
Finished the {% intLink "\"Neighbors\"", "/neighbors" %} page of the 2.0 site, which is ½ of the WordPress "Links Out" page. Gotta do the second half, "Resources".