---
date: 2025-10-07 18:45:56 -7
changelogLink: "/resources"
---
Added {% intLink "Journaling", "/resources/#sec-jrnlresources" %} and {% intLink "Digital Gardening", "/resources/#sec-digigardenresc" %} sections to the {% intLink "Resources page", "/resources" %}. As well as {% extLink "Petra Pixel", "https://petrapixel.neocities.org/" %}'s site link under the {% intLink "SiteBuilding", "/resources/#sec-sitebuilding" %} section.