---
date: 2025-06-28 12:33:42 -7
changelogLink: /statuses
---
Added the {% intLink "Status section,", "/statuses" %} which is like {% extLink "status.cafe", "https://status.cafe/" %}, except I don't have to remember to go use it.