---
date: 2025-10-26 16:48:42 -7
changelogLink: "/the-lab#sec-labLog"
---
Added a little {% intLink "Dev Diary", "/the-lab#sec-labLog" %}-esque thing to {% intLink "The Lab", "/the-lab" %}, because why not? It has {% intLink "RSS compatibility", "/lablog.xml" %} too.