---
layout: /layouts/main/main.njk
title: "Interaction Guide"
redirect_from: [/discord/,/about/discord,/dms/,/about/dms]
sectionLinks:
  - section: TL;DR
    url: "#sec-tldr"
  - section: My DM Behaviors
    url: "#sec-behaviors"
  - section: Your DM Scenarios
    url: "#sec-scenarios"
---
<h2 id="sec-tldr">TL;DR</h2>
<div>
  <h3>Do</h3>
  <ul>
    <li><span>DM me because you want to message me, HikaTamika™ directly and conversationally.</span></li>
    <li><span>Send me things you have no plans to post to social media, at all, or for a while. (ie: Personal conversation, OC spoilers, etc.)</span></li>
  </ul>
</div>
<div>
  <h3>Don't</h3>
  <ul>
    <li><span>Directly message me creative work for critique/positive-reinforcement. (Unless I can reply asynchronously.)</span></li>
    <li><span>DM me creative work you plan to, or have already, posted to Social Media or RSS/newsletter. (If you're worried I'll miss it, publish it by RSS/newsletter, pretty please.)</span></li>
    <li><span>DM me to vent/process things for yourself—especially raw/fresh emotions. <i>Journal it!</i></span></li>
    <li><span>Ask for permission to ask questions. / Wait for a response to "Hi" before asking questions. / Try to steer me into asking "do you need help", instead of directly asking me for help.</span></li>
  </ul>
</div>
<h2 id="sec-behaviors">My DM Behaviors</h2>
<p>
  <b>My DMing behaviors… are changing!</b>
</p>
<p>
  Expect slow, or no replies between the hours of 9AM to 5PM Mon-Fri, or whenever my status is set to 🟡Away or 🔴Do Not Disturb.
</p>
<p>
  I appreciate direct and clear communication if something's wrong—I don't get hints, or read minds. Don't know where you stand with me? <em><strong>Ask me!</strong></em>
</p>
<p>
  Sometimes I write with tone indicators. {% extLink "(1)", "https://en.wikipedia.org/wiki/Tone_indicator" %} {% extLink "(2)", "https://toneindicators.carrd.co/#masterlist" %}
</p>
<p>
  Sometimes I just might not reply to your message. <strong>This is not an accurate indicator that I'm upset with you or dislike you.</strong> If you're unsure, just ask.
</p>
<h2 id="sec-scenarios">Your DM Scenarios</h2>
{% miniNav %}
{% miniNavItem "Asking Questions", "#sec-info-q" %}
{% miniNavItem "Seeking Art Reactions/Critique", "#sec-info-art" %}
{% miniNavItem "Venting", "#sec-info-vent" %}
{% endminiNav %}
<h3 id="sec-info-q">Asking Questions</h3>
<ul>
  <li>
    <p>
      <em><strong>Do not</strong></em> ask me for permission to ask a question! Then you have to wait for me to say "yes you may", and then I have to wait for you to see that I said yes before you can then write and send me the question! See <strong>{% extLink "No Hello", "https://nohello.net/en/" %}</strong> and {% extLink "Don't Ask to Ask", "https://dontasktoask.com/" %} for more information. There's also the <strong>{% extLink "Inigo Montoya Method", "https://bsky.app/profile/gildedtongue.bsky.social/post/3kt3r47n7vg2x" %}</strong>.
    </p>
    <div class="block-item-center"><blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:vmmznwkwe3wo7gxhy2cliswk/app.bsky.feed.post/3lwysfitt4c2g" data-bluesky-cid="bafyreiatxhdbrwgcnlf2vfb5o7xllvb2p5hxm3zcj2yum5x7l3wnfd7yua" data-bluesky-embed-color-mode="system"><p lang="en">If you have any questions for someone, ask! :)
You will get an answer to your question faster and even save time 💙<br><br><a href="https://bsky.app/profile/did:plc:vmmznwkwe3wo7gxhy2cliswk/post/3lwysfitt4c2g?ref_src=embed">[image or embed]</a></p>&mdash; Oggy123🦊OggyTheFox | GOH GoldenHorn 2025 (<a href="https://bsky.app/profile/did:plc:vmmznwkwe3wo7gxhy2cliswk?ref_src=embed">@oggythefox.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:vmmznwkwe3wo7gxhy2cliswk/post/3lwysfitt4c2g?ref_src=embed">August 22, 2025 at 8:45 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script></div>
  </li>
  <li>
    <p>
      <em><strong>Just ask the question,</strong></em> and if it turns out that I'll refuse to tell you the answer, I'll tell you why. If I'm busy when you asked it, I'll answer when I'm not busy.
    </p>
  </li>
  <li>
    <p>
      <em><strong>Do not small-talk me before asking</strong></em> the question. Even for politeness, or trying to warm me up, or gaining {% extLink "Social Link", "https://www.youtube.com/watch?v=e2kOvWBCi64" %} points with me, or whatever else. I… suck at small-talk—it's just awkward fluff to me. But, I love being helpful.
    </p>
  </li>
  <li>
    <p>
      Please do not socially-steer me into helping you or asking you if you need help. I really struggle with being made to read social hints. It's ok to directly ask me for help. <b><i>It is not rude to directly ask me for help.</i></b> That said I will probably wiggle out of doing homework for you; instead pointing you to the right direction or resources.
    </p>
  </li>
</ul>
<h3 id="sec-info-art">Seeking Art Reactions/Critique</h3>
{% if webButtons8831.DMsArt %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.DMsArt %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
<p>
  When I'm sent art (all mediums and creativity types) through direct/instant messaging, I feel like I'm obligated by both social norms and the UI/UX of instant messaging to externally validate the art I've been sent <i>as soon as I'm physically able to reply, and <b>before I'm allowed to continue conversing with you about other things.</b></i>
</p>
<p>
  This is a problem, because sometimes, I <i>do</i> get a free moment and finish obligated work, but <b><i>I'm not necessarily feeling well emotionally</i></b> and don't have the spirit to react to, or externally validate, others' creative output.
</p>
<p>
  If you need instant positive-reinforcement or critique on artwork, try a sizeable art-focused group chat, messaging server, or online forum, where anyone who is online and in the right mind can provide the engagement/reaction/insight you seek. <i>Way less pressure than a one-on-one DM!</i>
</p>
<p>
  Again, feeling gated into providing positive-reinforcement or insightful critique on other's creativity ASAP or <i>before I'm allowed to continue/topic-shift a conversation</i> stops me in place, especially when I'm not feeling well. If it's specifically <i>me</i> you'd like to share your work with, please provide me an <b><i>asynchronous</i></b> way to consume/react to your creative output. Asynchronous examples of sharing your work with me include basically anything where I can come and interact with your work in my own time, and <b><i>not</i></b> as a <i>chronological prerequisite</i> to any other interactions I'd like to have with you.
</p>
<p>
  Including:
</p>
<ul>
  <li>Newsletters</li>
  <li>{% emailLinkPair nameStrings.contactEmail %}E-Mail{% endemailLinkPair %}</li>
  <li>Personal Sites</li>
  <li>Blogs</li>
  <li>RSS feeds</li>
</ul>
<p>
  <i>There is <b>one</b> exception to this rule… <b>If I'm allowed to reply-to/engage-with your art asynchronously!</b></i> In which case, feel free to DM it.<br>
  <i>What do I mean by asynchronous replying?</i>
</p>
<ul>
  <li>Replying to art sent to me whenever I like.</li>
  <li>Not replying to art sent to me at all. (Typically because of mental health.)</li>
  <li>Topic-switching from art you sent me (seemingly ignoring it) only to come back and respond to said art later, or via a different means of communication. (IE: You Discord me art, I seemingly ignore it, but respond on Bluesky for some reason.)</li>
</ul>

<h3 id="sec-info-vent">Venting</h3>
{% if webButtons8831.DMsVent %}
  {% buttonRollCenter %}
    {% for button in webButtons8831.DMsVent %}
      {% include "blocks/button-roll.njk" %}
    {% endfor %}
  {% endbuttonRollCenter %}
{% endif %}
{# <p>
  I have been described as a diary/confessional booth before. Not-mad, but I'm giving myself the permission to say I don't like my DMs being used for this function.
</p> #}
<p>
  I like comforting/validating my friends when comfort/validation <i><b>is not the bulk of what I provide to said friend.</b></i> And I like comforting/validating my friends when DMing me about an emotion-affecting problem is an act of communication instead of an act of emotional-regulation or experience processing.
</p>
<p>
  If, while typing, the act of DMing me a vent feels like emotional-regulation or linguistically processing something that has happened (especially fresh off the event that you're needing to vent from), please stop and take some deep breaths. <br>
  My presence as an audience is not needed. A living, breathing, body to externally validate is not needed. Having me be an external tool for event-processing/emotional regulation causes me to feel stressed and fatigued. Basically whatever you feel: I feel.
</p>
<p>
  You can achieve the same emotional-regulation and linguistic processing of an event by journaling about it. No pen and paper required, if you don't want. You can use {% extLink "Obsidian", "https://obsidian.md" %} or a private messaging server with just you in it.
</p>
<p>
  The funny thing is, after you actually, honestly, process something for yourself, <i><b>by</b> yourself</i> for the first time, it actually makes it easier for you to vent to others in a way that engages them conversationally instead of just talking at them and waiting for validation signals. (That is, <i>if</i> you even need to vent to others <i><b>at all!</b></i> Sometimes after processing and self-validating in a journal, you find you don't need to vent to others about That Specific Thing anymore.)
</p>

{% youTubeEmbed "AsUrj8UDz8M" %}