---
layout: /layouts/main/main.njk
title: "Art T.O.U./F.A.Q"
redirect_from: [/about/art-tou-faq/, /faq/]
---
<h2>Content T.o.U. / Rules</h2>
<ul>
  <li>❌ No NFT Minting.</li>
  <li>❌ No AI Training.</li>
  <li>❌ Don’t claim my art/characters as your own.</li>
  <li>❌ Don't use my art for commercial use.</li>
  <li>
    <span>❌ Don't reupload my art to other platforms.</span>
    <ul>
      <li>
        If I'm not on a platform you'd like me to be on, {% extLinkPair "/links-out" %}and I haven't complained about it 1st-party AI-craping from its users,{% endextLinkPair %} {% intLink "ping", "/links" %} or {% emailLinkPair nameStrings.contactEmail %}email{% endemailLinkPair %} me about it.
      </li>
    </ul>
  </li>
  <li>⚠️ Ask before using my art in profile-pics and banners.</li>
  <li>✅ Private personal use OK.</li>
</ul>
<h2>F.A.Q.</h2>
<h3>Pen Display/Tablet?</h3>
<ul>
  <li>Huion Kamvas 16</li>
</ul>
<h3>Software?</h3>
<ul>
  <li>Clip Studio Paint</li>
  <li>Adobe Illustrator</li>
  <li>Adobe Photoshop</li>
  <li>Blender3D</li>
</ul>
