---
layout: /layouts/main/main.njk
title: "About the Site"
---
<p>This site was lovinlgly designed by a goofball (me) with  VSCode &amp; Chromium Inspection tools in HTML &amp; CSS, and, lovingly templated/programmed with {% extLink "11ty", "https://www.11ty.dev/" %} (v.{{ eleventy.version }}) using Nunjucks and JavaScript.<br>
It uses a bunch of Asset/JS libraries for things. I'll list them below!
</p>
<ul>
  <li>
    <span>{% extLink "FontAwesome", "https://fontawesome.com/" %} for UI and common brand icons.</span>
  </li>
  <li>
    <span>{% extLink "Luxon", "https://moment.github.io/luxon/#/?id=luxon" %} for rendering "[time ago]" post-times.</span>
  </li>
  <li>
    <span>{% extLink "Isotope", "https://isotope.metafizzy.co/" %} for gridding elements.</span>
  </li>
  <li>
    <span>{% extLink "Swiper", "https://swiperjs.com/" %} for image slides.</span>
  </li>
  <li>
    <span>{% extLink "PhotoSwipe", "http://photoswipe.com/" %} for image zoom-ins.</span>
  </li>
</ul>
<p>Fonts are either from {% extLink "Google Fonts", "https://fonts.google.com" %}, or came with your computer.</p>
