{% if button.buttonLink %}
  <a href="{{ button.buttonLink }}" target="_blank">
{% endif %}
    <div>
      <img src="/src/img/web-buttons/{{ button.buttonImg }}" alt="{{ button.buttonAlt }} button">
      {% if button.buttonIsNSFW %}
        <span>(← 🔞)</span>
      {% endif %}
    </div>
{% if button.buttonLink %}
  </a>
{% endif %}