{% if button.buttonLink %}
  <a href="{{ button.buttonLink }}" target="_blank">
{% endif %}
    <img src="/src/img/web-buttons/{{ button.buttonImg }}" alt="{{ button.buttonAlt }}">
{% if button.buttonLink %}
  </a>
{% endif %}