<div class="cinema-cell">
  <figure class="cinema-thumb">
    <a href="{{ video.page.url }}"><img src="/src/img/cinema/{{ video.data.cinemaThumb }}" alt="{{ video.data.title }} Thumbnail"></a>
    <figcaption class="cinema-title">
      <span><a href="{{ video.page.url }}">{{ video.data.title }}</a></span>
    </figcaption>
  </figure>
</div>