<div class="block-item-center block-spaced link-buttons">
  <a href="mailto:{{ nameStrings.contactEmail }}?subject=Comment - Re: {{ title }}" target="_blank">
    <button>
      <span class="btn-engage-icon">
        <i class="fa-solid fa-envelope"></i>
      </span>
      <span>Comment by Email</span>
    </button>
  </a>
</div>