<div class="block-item-center">
  <p>
    Message me by {% emailLinkPair nameStrings.contactEmail %}email{% endEmailLinkPair %} or {% intLinkPair "/links" %}social media{% endIntLinkPair %} if you wanna trade link buttons and what-not.
  </p>
</div>
<div class="sitebuttons-center">
  <img src="https://i.imgur.com/PdMxpYB.png" alt="Medium site link button">
  <img src="https://i.imgur.com/z3OVIRS.png" alt="Small site link button">
</div>
<div class="block-item-center">
  <pre class="block-code"><code>https://hikatamika.com</code></pre>
</div>
