<div class="block-text-center block-spaced">
  <p>
    Message me by {% emailLinkPair nameStrings.contactEmail %}Email{% endemailLinkPair %}, {% extLink "Guestbook", "https://hikatamika.atabook.org/" %} or {% intLinkPair "/links" %}Social Media{% endintLinkPair %} if you wanna trade link buttons and what-not.
  </p>
</div>
<div class="button-roll block-horz-align">
  <img src="https://cdn.imgchest.com/files/f1b2ce126ed1.png" alt="Medium site link button" style="">
  <img src="https://cdn.imgchest.com/files/25297249ea1b.png" alt="Small site link button">
</div>
<div class="block-item-center">
  <pre class="block-code"><code>https://hikatamika.com</code></pre>
</div>