<div class="note-box">
  <div class="note-icon-box">
    <div class="note-icon">
      <a href="/" class="status-rss">
        <img src="/src/img/hika-note.webp" alt="Hika Icon">
      </a>
    </div>
  </div>
  <div class="note-message-box">
    <div class="note-message-header">
      <div class="note-message-author">
        <span>{{ nameStrings.authorName }}</span>
      </div>
      <div class="note-message-time">
        <a href="{{ note.url }}" title="{{ note.date | JStoDateTimeMed }} {{ note.date | JStoTimezone }}"><span class="time-int-convert">{{ note.date | JStoInt }}</span></a>
      </div>
    </div>
    <div class="note-message">
      {{ note.content | safe }}
    </div>
    {% if note.data.noteSlides %}
      <div class="note-img-box photoswipeable">
        {# {{ note.data.noteSlides | length | log }} #}
        {% for img in note.data.noteSlides %}
          <a href="{{ img.img }}" class="photoswipee noteimgs-{{ note.data.noteSlides | length }}img img-{{ loop.index }}"  data-pswp-width="{{ img.imgWidth }}" data-pswp-height="{{ img.imgHeight }}">
            <img src="{{ img.img }}" alt="{{ img.imgAlt }}" class="">
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if note.data.noteTags %}
    <div class="note-tag-box">
      <div class="note-tag-icon">
        <i class="fa-solid fa-hashtag fa-fw fa-lg"></i>
      </div>
      <div class="note-tag-roll">
        {% for noteTag in note.data.noteTags %}
          <a href="/notes/tagged/{{ noteTag | slugify }}"><div class="tag-block"><span>{{ noteTag | makeUpperFirst }}</span></div></a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {# <div class="note-controls">
      <a href="{{ note.permalink }}">
        <div>
          <i class="fa-solid fa-link fa-fw fa-lg"></i>
        </div>
      </a>
    </div> #}
  </div>
</div>
<hr class="hr-spaced-2x">