<div>
  <a href="{{ pagination.href.first }}"
     {% if page.url == pagination.href.first %}class="pagi-navi-inactive"{% endif %}><span><i class="fa-solid fa-angles-left"></i>&nbsp;First</span></a>
  <a href="{{ pagination.href.previous }}"
     {% if not pagination.href.previous %}class="pagi-navi-inactive"{% endif %}><span><i class="fa-solid fa-angle-left"></i>&nbsp;Prev</span></a>
</div>