<div class="block-item-center block-spaced link-buttons">
  <a href="https://wavebox.me/wave/9zdpazgbm43lecc5/" target="_blank">
    <button>
      <img class="btn-engage-icon" src="/src/img/socmed-icon/wavebox.svg" alt="wavebox icon">
      <span>React on WaveBox</span>
    </button>
  </a>
</div>