<div class="block-text-center block-spaced">
  <p>This page is ⚠️🛠️<b>Under Construction</b>🛠️⚠️!</p>
  <p>Subscribe to this website's {% intLink "Changelog", "/changelog.xml" %} to know when it's finished. Thanks!</p>
</div>