<div class="block-spaced block-item-center block-text-center" style="gap: var(--spacing-20);flex-wrap: wrap;">
  <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#67548b" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
  <div>
    <!-- MelonLand Guild Widget Code for Comic Artists -->
    <script src="https://forum.melonland.net/guilds/ring-variables.php?g=28"></script>
    <script src="https://forum.melonland.net/guilds/ring-widget.js?g=28"></script>
    <link href="https://everyone.melonland.net/~comic-artists/webring.css" rel="stylesheet">
  </div>
  <div id="blackring">
      <script type="text/javascript" src="https://00010010.org/webring/js/onionring-variables.js"></script>
      <script type="text/javascript" src="https://00010010.org/webring/js/mala-widget3.js"></script>
  </div>
</div>