---
date: 2016-01-07
title: "2016.01 Sketchbook"
galleryCategs: 
  year: "2016"
  subject: "webDesign"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2016-sketchbook-01-th.webp"
gallThumbAlt: "A masonry-grid Tumblr theme made with scrapbook aesthetics. The left navigation menu is based on a sketchbook with sticky note flags."
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2016-sketchbook-01-th.webp"
    imgZoom: "/src/img/design-gallery/2016-sketchbook-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "A masonry-grid Tumblr theme made with scrapbook aesthetics. The left navigation menu is based on a sketchbook with sticky note flags."
  - slide:
    imgThumb: "/src/img/design-gallery/2016-sketchbook-02-th.webp"
    imgZoom: "/src/img/design-gallery/2016-sketchbook-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "A single post of a Tumblr theme made with scrapbook aesthetics. The left navigation menu is based on a sketchbook with sticky note flags."
galleryWebLinks:
  - site: "foriio"
    url: "https://www.foriio.com/works/820666"
---
<p><strong>Tumblr Theme — Personal</strong><br>Grid and singular post versions. Made in pure HTML, CSS, and JavaScript.</p>