---
date: 2018-06-09
title: "2018.06 LXNX Logo"
galleryCategs: 
  year: "2018"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2018-lxnx-logo-01-th.webp"
gallThumbAlt: "Color variations of the LuxNox logo"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2018-lxnx-logo-01-th.webp"
    imgZoom: "/src/img/design-gallery/2018-lxnx-logo-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Color variations of the LuxNox logo"
  - slide:
    imgThumb: "/src/img/design-gallery/2018-lxnx-logo-02-th.webp"
    imgZoom: "/src/img/design-gallery/2018-lxnx-logo-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Monochrome variations of the LuxNox logo"
galleryWebLinks:
  - site: "foriio"
    url: "https://www.foriio.com/works/820658"
---
<p><strong>Logo and Variants — Personal Project</strong><br>Webcomic logo in six variants.</p>