---
date: 2019-09-22
title: "2019.09 Twitch Thumbs & Offline Screen"
galleryCategs: 
  year: "2019"
  subject: "graphics"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2019-twitch-thumbs-01-th.webp"
gallThumbAlt: "Thumbnail for livestream uploads and vods, featuring The Wind Waker"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2019-twitch-thumbs-01-th.webp"
    imgZoom: "/src/img/design-gallery/2019-twitch-thumbs-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Thumbnail for livestream uploads and vods, featuring The Wind Waker"
  - slide:
    imgThumb: "/src/img/design-gallery/2019-twitch-thumbs-02-th.webp"
    imgZoom: "/src/img/design-gallery/2019-twitch-thumbs-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: ""
  - slide:
    imgThumb: "/src/img/design-gallery/2019-twitch-thumbs-03-th.webp"
    imgZoom: "/src/img/design-gallery/2019-twitch-thumbs-03.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: ""
---
<p><strong>Stream Screens — Personal</strong><br>Thumbnails and offline screen for Twitch streams.</p>