---
date: 2020-06-23
title: "2020.06 Somnius Webtoon Headers"
galleryCategs: 
  year: "2020"
  subject: "graphics"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2020-somnius-headers-th.webp"
gallThumbAlt: "Mockups for webtoon header and footer"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2020-somnius-headers-th.webp"
    imgZoom: "/src/img/design-gallery/2020-somnius-headers.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Mockups for webtoon header and footer"
  - slide:
    imgThumb: "/src/img/design-gallery/2020-somnius-headers-th.webp"
    imgZoom: "/src/img/design-gallery/2020-somnius-headers.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: ""
---
<p><strong>Webtoon Graphics — Personal Project</strong><br>Episode header and footer for a scroll-format webcomic series.</p>