---
date: 2020-05-14
title: "2020.05 Somnius Logo"
galleryCategs: 
  year: "2025"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2020-somnius-01-th.webp"
gallThumbAlt: "3 color variations of the Somnius Logo"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2020-somnius-01-th.webp"
    imgZoom: "/src/img/design-gallery/2020-somnius-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "3 color variations of the Somnius Logo"
  - slide:
    imgThumb: "/src/img/design-gallery/2020-somnius-02-th.webp"
    imgZoom: "/src/img/design-gallery/2020-somnius-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "3 monochrome variations of the Somnius Logo"
galleryWebLinks:
  - site: "foriio"
    url: "https://www.foriio.com/works/820663"
  - site: "instagram"
    url: "https://www.instagram.com/p/CAbEYvFlhnp"
  - site: "mastodon"
    url: "https://mastodon.art/@HikaTamika/104202568666433085"
---
