---
date: 2021-11-27
title: "2021.12 Stream Overlays"
galleryCategs: 
  year: "2021"
  subject: "graphics"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2021-stream-overlays-01-th.webp"
gallThumbAlt: "Transparent livestream overlay displayed over Splatoon 2, with chatbox on the upper right, and alerts on top."
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2021-stream-overlays-01-th.webp"
    imgZoom: "/src/img/design-gallery/2021-stream-overlays-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Transparent livestream overlay displayed over Splatoon 2, with chatbox on the upper right, and alerts on top."
  - slide:
    imgThumb: "/src/img/design-gallery/2021-stream-overlays-02-th.webp"
    imgZoom: "/src/img/design-gallery/2021-stream-overlays-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Stream overlay over a patterned background with a full-height chatbox on the left, alerts on the bottom, and space for a character on the right."
  - slide:
    imgThumb: "/src/img/design-gallery/2021-stream-overlays-03-th.webp"
    imgZoom: "/src/img/design-gallery/2021-stream-overlays-03.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Livestream overlay with room for a vertical phone game in the center, streamer and chatbox on thr right, and alerts on the left"
  - slide:
    imgThumb: "/src/img/design-gallery/2021-stream-overlays-04-th.webp"
    imgZoom: "/src/img/design-gallery/2021-stream-overlays-04.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Livestream overlay with room for the streamer and chatbox on the right, and alerts on the bottom."
galleryWebLinks:
  - site: "foriio"
    url: "https://hikatamika.com/portfolio/2021-12-stream-overlays/"
---
<p><strong>Stream Overlays — Personal</strong><br>Overlays for gaming and art process streams on Twitch. (Avatar greeting, mobile game, art process, 16:9 game.)</p>