---
date: 2023-01-27
title: "2023.01 Star Rangers Logo"
galleryCategs: 
  year: "2023"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2023-star-rangers-logo-01-th.webp"
gallThumbAlt: "Star Rangers English Logo"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2023-star-rangers-logo-01-th.webp"
    imgZoom: "/src/img/design-gallery/2023-star-rangers-logo-01.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Star Rangers English Logo"
  - slide:
    imgThumb: "/src/img/design-gallery/2023-star-rangers-logo-02-th.webp"
    imgZoom: "/src/img/design-gallery/2023-star-rangers-logo-02.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Star Rangers Japanese Logo"
galleryWebLinks:
  - site: "foriio"
    url: "https://www.foriio.com/works/820664"
---
<p><strong>Logos — Star Rangers | Kagura-kun</strong><br>Webtoon Logo</p>