---
date: 2024-09-10
title: "2024.03 The Vampire Lord’s Retainer Logo"
galleryCategs: 
  year: "2024"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2024-vampire-lord-logo-th.webp"
gallThumbAlt: "Fancy, serif logo for The Vampire Lord's Retainer, by DarkHalo"
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2024-vampire-lord-logo-th.webp"
    imgZoom: "/src/img/design-gallery/2024-vampire-lord-logo.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Fancy, serif logo for The Vampire Lord's Retainer, by DarkHalo"
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l3t4t7vhi22q"
  - site: "cara"
    url: "https://cara.app/post/eda03767-65d7-43c4-98a0-ca88fd4f0baf"
  - site: "foriio"
    url: "https://www.foriio.com/works/1255931"
  - site: "kofi"
    url: "https://ko-fi.com/i/IK3K71362B0"
  - site: "mastodon"
    url: "https://hikatamika.com/portfolio/2024-03-the-vampire-lords-retainer-logo/"
---
<p>Logo for a webcomic belonging to DarkHalo4321.</p>