---
date: 2024-09-10
title: "2024.05 Beholder Logo"
galleryCategs: 
  year: "2024"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2024-beholder-logo-th.webp"
gallThumbAlt: "Glitchy, sans-serif, cyberpunk logo for Beholder by Kikirini."
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2024-beholder-logo-th.webp"
    imgZoom: "/src/img/design-gallery/2024-beholder-logo.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Glitchy, sans-serif, cyberpunk logo for Beholder by Kikirini."
galleryWebLinks:
  - site: "bluesky"
    url: "https://bsky.app/profile/hikatamika.com/post/3l3t4t7vhi22q"
  - site: "cara"
    url: "https://cara.app/post/eda03767-65d7-43c4-98a0-ca88fd4f0baf"
  - site: "foriio"
    url: "https://www.foriio.com/works/1255932"
  - site: "kofi"
    url: "https://ko-fi.com/i/IK3K71362B0"
  - site: "mastodon"
    url: "https://hikatamika.com/portfolio/2024-05-beholder-logo/"
---
<p>Logo for a webcomic belonging to Kikirini<a href="https://x.com/HikaTamika/status/1833586282053648627" target="_blank" rel="noreferrer noopener"></a><a href="https://x.com/HikaTamika/status/1833586282053648627" target="_blank" rel="noreferrer noopener"></a><a href="https://x.com/HikaTamika/status/1833586282053648627" target="_blank" rel="noreferrer noopener"></a></p>