---
date: 2024-02-21
title: "2024.02 Astra*Mix Minis Logo"
galleryCategs: 
  year: "2024"
  subject: "logos"
galleryTags: [""]
gallThumbImg: "/src/img/design-gallery/2024-astramix-minis-th.webp"
gallThumbAlt: "Logo for my assorted webcomic series, Astra*Mix minis, made in the style of 2000s-2010s snack logos."
gallerySlides:
  - slide:
    imgThumb: "/src/img/design-gallery/2024-astramix-minis-th.webp"
    imgZoom: "/src/img/design-gallery/2024-astramix-minis.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: "Logo for my assorted webcomic series, Astra*Mix minis, made in the style of 2000s-2010s snack logos."
  - slide:
    imgThumb: "/src/img/design-gallery/2024-astramix-minis-th.webp"
    imgZoom: "/src/img/design-gallery/2024-astramix-minis.webp"
    imgWidth: ""
    imgHeight: ""
    imgAlt: ""
  - slide:
    imgThumb: "/src/img/design-gallery/2024-astramix-minis-th.webp"
    imgVideo: 
      site: ""
      id: ""
    imgAlt: ""
galleryWebLinks:
  - site: "foriio"
    url: "https://www.foriio.com/works/951282"
---
